Repository reearth/reearth-cms, pull requests merged in 2022-08, with the labels that each got.

#127 feat(server): impl cloud tasks client
  .golangci.yml
  .vscode/launch.json
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/infrastructure/gcp/cloudtasks.go
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/config_test.go
  server/internal/infrastructure/gcp/error.go
  server/internal/usecase/gateway/task.go
  server/pkg/task/id.go
  server/pkg/task/task.go
  worker/go.mod
  worker/go.sum
Labels: server, worker

#154 feat(web): Import antd layout from cms atoms
  web/src/components/atoms/Content/index.tsx
  web/src/components/atoms/Footer/index.tsx
  web/src/components/atoms/Header/index.tsx
  web/src/components/atoms/Layout/index.tsx
  web/src/components/organisms/Dashboard/index.tsx
  web/src/components/organisms/Project/index.tsx
  web/src/components/organisms/Project/settings/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
Labels: web

#155 feat(web): update dependencies
  web/package.json
  web/vite.config.ts
  web/yarn.lock
Labels: web

#165 fix(web): add events and style to icons
  web/src/components/atoms/Icon/Icons/asset.svg
  web/src/components/atoms/Icon/Icons/link.svg
  web/src/components/atoms/Icon/Icons/listBullets.svg
  web/src/components/atoms/Icon/Icons/markDown.svg
  web/src/components/atoms/Icon/Icons/numberNine.svg
  web/src/components/atoms/Icon/Icons/textAlignLeft.svg
  web/src/components/atoms/Icon/Icons/textT.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/Icon/index.tsx
Labels: web

#158 feat(server): configurable server host
  server/internal/app/config.go
  server/internal/app/main.go
Labels: server

#172 feat(web): add new font weight
  web/src/index.css
Labels: web

#173 feat(web): add model creation modal
  web/src/components/molecules/Schema/ModelCreationModal/index.tsx
Labels: web

#175 feat(web): add schema redirection item to project menu
  web/src/components/molecules/Common/projectMenu/index.tsx
  web/src/components/organisms/Project/settings/index.tsx
Labels: web

#171 feat(web): schema graphQL
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/field.ts
  web/src/gql/queries/model.ts
Labels: web

#174 feat(web): add schema menu
  web/src/components/molecules/Schema/SchemaMenu.tsx
  web/src/components/molecules/Schema/types.ts
Labels: web

#94 feat(server): version controlled MongoDB docs
  .gitignore
  .vscode/settings.json
  server/go.mod
  server/go.sum
  server/internal/app/config.go
  server/internal/app/repo.go
  server/internal/infrastructure/memory/memorygit/memory.go
  server/internal/infrastructure/memory/memorygit/memory_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/client.go
  server/internal/infrastructure/mongo/mongodoc/consumer.go
  server/internal/infrastructure/mongo/mongodoc/consumer_test.go
  server/internal/infrastructure/mongo/mongodoc/util.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/infrastructure/mongo/mongogit/document.go
  server/internal/infrastructure/mongo/mongogit/document_test.go
  server/internal/infrastructure/mongo/mongogit/query.go
  server/internal/infrastructure/mongo/mongogit/query_test.go
  server/internal/infrastructure/mongo/mongotest/test.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/infrastructure/mongo/schema.go
  server/internal/infrastructure/mongo/user_test.go
  server/internal/infrastructure/mongo/workspace_test.go
  server/pkg/version/query.go
  server/pkg/version/query_test.go
  server/pkg/version/ref.go
  server/pkg/version/ref_test.go
  server/pkg/version/value.go
  server/pkg/version/value_test.go
  server/pkg/version/values.go
  server/pkg/version/values_test.go
  server/pkg/version/version.go
  server/pkg/version/version_or_ref.go
  server/pkg/version/version_or_ref_test.go
  server/pkg/version/version_test.go
Labels: server

#184 refactor: use reearthx for usecase and mongo, refactor version package
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/gqlmodel/scalar.go
  server/internal/adapter/gql/loader_model.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/memorygit/memory.go
  server/internal/infrastructure/memory/memorygit/memory_test.go
  server/internal/infrastructure/memory/model.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/memory/transaction.go
  server/internal/infrastructure/memory/transaction_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/mongodoc/client.go
  server/internal/infrastructure/mongo/mongodoc/clientcol.go
  server/internal/infrastructure/mongo/mongodoc/consumer.go
  server/internal/infrastructure/mongo/mongodoc/consumer_test.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/infrastructure/mongo/mongodoc/user.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/infrastructure/mongo/mongogit/document.go
  server/internal/infrastructure/mongo/mongogit/query.go
  server/internal/infrastructure/mongo/mongogit/query_test.go
  server/internal/infrastructure/mongo/mongotest/test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/infrastructure/mongo/schema.go
  server/internal/infrastructure/mongo/transaction.go
  server/internal/infrastructure/mongo/user.go
  server/internal/infrastructure/mongo/user_test.go
  server/internal/infrastructure/mongo/workspace.go
  server/internal/infrastructure/mongo/workspace_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/usecase_test.go
  server/internal/usecase/interactor/workspace.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/page_info.go
  server/internal/usecase/pagination.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/model.go
  server/internal/usecase/repo/project.go
  server/internal/usecase/repo/transaction.go
  server/pkg/version/query.go
  server/pkg/version/query_test.go
Labels: server

#194 chore(web): upgrade cesium
  web/package.json
  web/yarn.lock
Labels: web

#190 feat(web): asset's atoms updates
  web/package.json
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/ProTable/index.tsx
  web/yarn.lock
Labels: web

#195 feat(web): add schema hooks
  web/src/components/organisms/Project/Schema/hooks.ts
Labels: web

#192 feat(server): asset GraphQL schema update
  server/schemas/_shared.graphql
  server/schemas/asset.graphql
Labels: server

#201 feat(web): add chosen models field list
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/fieldTypes.ts
Labels: web

#200 feat(web): add field list
  web/src/components/molecules/Schema/FieldList.tsx
Labels: web

#203 chore(server): update go to 1.19
  .github/workflows/server.yml
  server/Dockerfile
  server/go.mod
  server/go.sum
  server/internal/infrastructure/memory/model.go
  server/internal/infrastructure/memory/schema.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/mongodoc/consumer.go
  server/internal/infrastructure/mongo/mongodoc/model.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/infrastructure/mongo/mongodoc/user.go
  server/internal/infrastructure/mongo/mongodoc/util.go
  server/internal/infrastructure/mongo/mongodoc/workspace.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/schema.go
  server/internal/infrastructure/mongo/user.go
  server/internal/infrastructure/mongo/workspace.go
  server/internal/usecase/interactor/workspace.go
  server/internal/usecase/repo/model.go
  server/pkg/schema/field_select.go
  server/pkg/schema/field_tag.go
  server/pkg/schema/schema.go
Labels: server
