Repository reearth/reearth-cms, pull requests merged in 2022-11, with the labels that each got.

#347 feat(web): remove items search
  web/src/components/molecules/Content/Table/index.tsx
Labels: web

#349 feat(web): update project card
  web/src/components/molecules/ProjectList/ProjectCard.tsx
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/components/organisms/Workspace/hooks.ts
Labels: web

#351 fix(web): model issues
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
Labels: bug, web

#348 feat(server): add author field to comment in GraphQL schema
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/resolver_comment.go
Labels: server

#334 feat(server): connect thread with asset
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcs/file_test.go
  server/internal/infrastructure/memory/asset_test.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/common.go
  server/pkg/asset/list_test.go
Labels: server

#346 feat(web): implement comments count column in asset list table
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
Labels: web

#355 fix(web): clear select default value if item option not available
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: bug, web

#342 feat(web): add model edit/delete
  web/src/components/atoms/Alert/index.tsx
  web/src/components/molecules/ProjectOverview/ModelCard.tsx
  web/src/components/molecules/ProjectOverview/ModelDeletionModal/index.tsx
  web/src/components/molecules/ProjectOverview/index.tsx
  web/src/components/molecules/Schema/ModelFormModal/index.tsx
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/index.tsx
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Overview/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#350 feat(web): add key to fields cards
  web/src/components/molecules/Schema/ModelFieldList.tsx
Labels: web

#366 feat(server): add modelId field to Item
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/pkg/item/builder.go
  server/pkg/item/builder_test.go
  server/pkg/item/id.go
  server/pkg/item/item.go
  server/schemas/item.graphql
Labels: server

#363 fix(server): save unique, multiValue, and required on update
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/schema.go
  server/pkg/schema/field.go
  server/pkg/schema/field_test.go
  server/schemas/field.graphql
Labels: bug, server

#336 fix(server): prevent model's key duplication
  server/internal/infrastructure/mongo/model.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interfaces/model.go
Labels: bug, server

#367 feat(server): validate item fields
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/pkg/schema/field_url.go
Labels: server

#357 feat(web): implement asset in content page
  web/src/components/atoms/Form/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#365 fix(web): add unique/required/multivalue options
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/field.ts
  web/src/gql/queries/model.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/values.ts
Labels: web

#369 feat(web): hide subtitle if does not exist
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Schema/index.tsx
Labels: web

#354 feat(web): disable model form button on validation
  web/src/components/atoms/Form/index.tsx
  web/src/components/molecules/Schema/ModelFormModal/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#352 feat(web): add text guides
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/URLField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/ModelFormModal/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#353 feat(web): disable button on validation
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#370 feat(server): add validation to the schema field default value
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/pkg/schema/field_builder.go
  server/pkg/schema/field_builder_test.go
  server/pkg/schema/field_markdown.go
  server/pkg/schema/field_markdown_test.go
  server/pkg/schema/field_richtext.go
  server/pkg/schema/field_richtext_test.go
  server/pkg/schema/field_test.go
  server/pkg/schema/field_text.go
  server/pkg/schema/field_text_test.go
  server/pkg/schema/field_textarea.go
  server/pkg/schema/field_textarea_test.go
  server/pkg/schema/type_property.go
  server/pkg/schema/type_property_test.go
Labels: server

#368 feat(web): implement asset in schema page
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#377 chore(web): remove unimplemented tabs from upload modal
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#373 fix(web): reflect back-end item mutation change
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: bug, web

#378 fix(worker): not return error when extension isn't supported
  worker/internal/usecase/interactor/decompress.go
  worker/internal/usecase/interactor/decompress_test.go
  worker/pkg/decompressor/decompressor_test.go
Labels: worker

#381 feat: add Re:Earth favicon
  web/index.html
  web/src/favicon.ico
Labels: web

#380 feat(web): hide request sidenav item
  web/src/App.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#382 fix(server): decompression bugs
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/infrastructure/gcp/file.go
  server/internal/usecase/interactor/asset.go
  server/pkg/asset/file_builder.go
  server/pkg/asset/file_test.go
Labels: server

#383 fix(server): item update was not working, integer validation
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
Labels: server

#386 fix(web): change account settings page title
  web/src/components/molecules/AccountSettings/index.tsx
  web/src/components/molecules/WorkspaceSettings/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#388 fix(web): name overlapping dropdown menu
  web/src/components/molecules/Common/Header/index.tsx
Labels: bug, web

#391 fix(server): M2M middleware
  server/internal/app/config.go
  server/internal/app/handler.go
Labels: server

#387 feat(web): add members search
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
Labels: web

#384 feat(web): set setting tab in fields modal as a default tab
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: bug, web

#385 fix(web): wrong validation error when removing an option
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: bug, web

#390 feat(web): asset updates for integration api
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
Labels: web

#356 fix: integrations table
  web/src/components/molecules/Integration/IntegrationConnectModal/index.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Integration/types.ts
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Integration/index.tsx
Labels: bug, web

#393 fix(server): extend multipart/form-data size
  server/internal/app/graphql.go
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/gcp/file.go
  server/internal/usecase/interactor/asset_test.go
Labels: server

#389 feat(server): field unique value validation
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
Labels: server

#394 chore(server): extend request body size limit
  server/internal/app/app.go
Labels: server

#397 fix(server): integration type not stored
  server/pkg/integration/integration_type.go
  server/pkg/integration/integration_type_test.go
Labels: bug, server

#376 feat(server): add debug user to auth middleware
  server/internal/app/app.go
  server/internal/app/auth_client.go
Labels: server

#401 fix(web): keep active status when updating webhook
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/WebhookCard/index.tsx
Labels: bug, web

#396 fix(web): make integrations public by default
  web/src/components/molecules/MyIntegrations/CreationModal/index.tsx
Labels: bug, web

#398 feat(web): update schema fields description
  web/src/components/molecules/Schema/fieldTypes.ts
Labels: web

#392 feat(server): add machine operator
  server/internal/app/auth_client.go
  server/internal/app/handler.go
  server/internal/infrastructure/mongo/mongodoc/event.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/operator.go
  server/pkg/event/operator.go
  server/pkg/event/operator_test.go
Labels: server

#406 fix(worker): remove buffer for GCS
  worker/go.mod
  worker/go.sum
  worker/internal/infrastructure/gcp/gcs.go
Labels: worker

#395 feat(web): add multiple users to workspaces
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Member/types.ts
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/workspace.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#404 feat(server): integration API to update item
  server/internal/adapter/integration/item_api.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#405 feat(server): add integration API pagination
  server/internal/adapter/integration/asset_api.go
  server/internal/adapter/integration/converter.go
  server/internal/adapter/integration/item_api.go
Labels: server

#403 fix(server): add missing model id to item
  server/internal/adapter/integration/asset_api.go
  server/internal/adapter/integration/item_api.go
Labels: bug, server

#408 fix(server): unique int value was not validated, item update should not validate unchanged fields
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
Labels: server

#375 feat(server): add multiple users to workspace
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/usecase/interactor/workspace.go
  server/internal/usecase/interactor/workspace_test.go
  server/internal/usecase/interfaces/workspace.go
  server/schemas/workspace.graphql
Labels: server

#407 feat(web): add `onAssetDecompress` webhook trigger
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_integration.go
  server/internal/adapter/gql/gqlmodel/convert_integration_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_integration.go
  server/schemas/integration_webhook.graphql
  web/src/components/molecules/Integration/types.ts
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/types.ts
  web/src/gql/fragments/integration.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/webhook.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: server, web

#379 feat(web): add assets field type
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#409 fix(server): remove unique index for the model key
  server/internal/infrastructure/mongo/model.go
Labels: server

#410 fix(server): remove JWT middleware from integrations API
  server/internal/app/app.go
Labels: bug, server

#402 feat(web): implement asset's file list
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/card.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/unzipFileList.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#411 fix(server): skip empty int values
  server/internal/usecase/interactor/item.go
Labels: server

#412 feat: webhook secret
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_integration.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_integration.go
  server/internal/infrastructure/gcp/webhook.go
  server/internal/usecase/interactor/integration.go
  server/internal/usecase/interfaces/integraton.go
  server/pkg/integrationapi/main.go
  server/schemas/integration_webhook.graphql
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/index.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/gql/fragments/integration.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/webhook.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: server, web

#417 feat(web): restore Japanese translations
  web/src/i18n/translations/ja.yml
Labels: bug, web

#414 feat(web): add comments to assets page
  web/src/components/atoms/Comment/index.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/InnerContents/complex.tsx
  web/src/components/atoms/Sider/index.tsx
  web/src/components/atoms/Tooltip/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Common/CommentsPanel/CommentList.tsx
  web/src/components/molecules/Common/CommentsPanel/Editor.tsx
  web/src/components/molecules/Common/CommentsPanel/Thread.tsx
  web/src/components/molecules/Common/CommentsPanel/index.tsx
  web/src/components/molecules/Common/CommentsPanel/thread.types.ts
  web/src/components/molecules/Common/Sidebar/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Common/CommentsPanel/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/fragments/index.ts
  web/src/gql/fragments/thread.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
  web/src/gql/queries/comment.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/format.ts
Labels: web

#418 fix(web): keep selected model while switching between schema and content pages
  web/src/components/organisms/Project/Schema/hooks.ts
Labels: web

#420 fix(server): integration bugs
  server/internal/adapter/gql/generated.go
  server/internal/adapter/integration/asset_converter.go
  server/internal/adapter/integration/item_api.go
  server/internal/adapter/integration/item_converter.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/schemas/item.graphql
Labels: bug, server

#423 feat(server): upload file from extenal url
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/integration/asset_api.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcp/file.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/testdata/test.txt
  server/internal/usecase/interfaces/asset.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/asset.graphql
  server/schemas/integration.yml
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
Labels: server, web

#422 fix(worker): fix signature header name
  worker/pkg/webhook/webhook.go
  worker/pkg/webhook/webhook_test.go
Labels: worker

#416 feat(server): item.create and item.update event
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/asset_converter.go
  server/internal/adapter/integration/comment.go
  server/internal/adapter/integration/converter.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/item_converter.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/gcp/webhook.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/memorygit/memory.go
  server/internal/infrastructure/memory/memorygit/memory_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/document.go
  server/internal/usecase/gateway/genmock.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
  server/internal/usecase/interactor/integration.go
  server/internal/usecase/interactor/integration_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interactor/thread.go
  server/internal/usecase/interactor/thread_test.go
  server/internal/usecase/interactor/workspace.go
  server/internal/usecase/interactor/workspace_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/file/file.go
  server/pkg/integrationapi/asset.go
  server/pkg/integrationapi/comment.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/main.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.cfg.yml
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/item.go
  server/pkg/item/list.go
  server/pkg/task/task.go
  server/pkg/version/value.go
  server/pkg/version/values.go
  server/pkg/version/values_test.go
  server/schemas/integration.yml
Labels: server

#424 fix(server): return error if schema field not found
  server/internal/usecase/interactor/item.go
Labels: server

#427 fix(server): cannot read assets due to wrong file names in GCS
  server/internal/app/repo.go
  server/internal/app/web_config.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
  server/internal/infrastructure/mongo/container.go
Labels: server

#426 feat(web): preview files in unzip file list
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList.tsx
Labels: web

#428 feat(web): asset unlinking and deletion functionality
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/atoms/Icon/Icons/linkSlashSolid.svg
  web/src/components/atoms/Icon/Icons/linkSolid.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#429 fix(web): set asset base url
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
Labels: web

#431 fix(web): upload and link asset
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
Labels: web

#430 feat(server): add thread to the item
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/pkg/item/builder.go
  server/pkg/item/builder_test.go
  server/pkg/item/id.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/list_test.go
  server/schemas/item.graphql
Labels: server

#440 refactor(server): remove workspace from the item query
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/item_test.go
  server/pkg/item/query.go
  server/pkg/item/query_test.go
  server/schemas/item.graphql
Labels: server

#444 feat(server): add maintainer role
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/convert_user_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/app/auth_client.go
  server/internal/usecase/operator.go
  server/pkg/user/role.go
  server/pkg/user/role_test.go
  server/schemas/workspace.graphql
Labels: server

#442 feat(server): integration API for item comments
  server/internal/adapter/integration/asset_comment.go
  server/internal/adapter/integration/item_comment.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#441 chore(server): e2e for item list
  server/e2e/common_test.go
  server/e2e/integration_item_test.go
  server/e2e/ping_test.go
  server/go.mod
  server/go.sum
  server/internal/app/main.go
Labels: server

#448 fix(server): change format date to date-time
  server/pkg/integrationapi/asset.go
  server/pkg/integrationapi/comment.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#433 feat(worker): 7zip decompressor
  go.work.sum
  server/go.mod
  server/go.sum
  worker/pkg/decompressor/decompressor.go
  worker/pkg/decompressor/decompressor_test.go
  worker/pkg/decompressor/testdata/test.7z
Labels: server, worker

#449 fix(web): add multiple members to workspace
  web/src/components/atoms/Input/index.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
Labels: web

#443 fix(server): disable sanitizing file names on GCS
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
Labels: server

#447 fix(server): remove integration filtering
  server/internal/usecase/interactor/integration.go
Labels: bug, server

#434 feat(web): implement upload asset from url
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Asset/UploadModal/UrlTab.tsx
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#454 fix(server): asset file path case
  server/pkg/asset/file_builder.go
Labels: server

#446 feat(web): add unique indicator
  web/src/components/molecules/Content/Form/FieldTitle.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#457 feat(web): comment’s thumbnail left by Integration should be different
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/organisms/Asset/convertAsset.ts
Labels: web

#459 fix(server): add missing item fields to filter
  server/pkg/item/item.go
Labels: bug, server
