Repository reearth/reearth-cms, pull requests merged in 2022-07, with the labels that each got.

#96 feat(server): gql schema for model and field
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/adapter/gql/resolver_mutation_model.go
  server/internal/adapter/gql/resolver_query.go
  server/schemas/_shared.graphql
  server/schemas/field.graphql
  server/schemas/model.graphql
  server/schemas/project.graphql
Labels: server

#84 feat(web): user and workspace
  web/src/App.css
  web/src/App.tsx
  web/src/components/atoms/Menu/index.tsx
  web/src/components/atoms/Search/index.tsx
  web/src/components/atoms/Select/index.tsx
  web/src/components/atoms/Sider/index.tsx
  web/src/components/atoms/Space/index.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/WorkspaceCreationModal/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Dashboard/Greeting.tsx
  web/src/components/molecules/Dashboard/types.ts
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Member/MemberRoleModal/index.tsx
  web/src/components/organisms/Dashboard/hooks.ts
  web/src/components/organisms/Dashboard/index.tsx
  web/src/components/organisms/Project/index.tsx
  web/src/components/organisms/Settings/Account/hooks.ts
  web/src/components/organisms/Settings/Account/index.tsx
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/organisms/Settings/Workspace/hooks.ts
  web/src/components/organisms/Settings/Workspace/index.tsx
  web/src/components/organisms/Settings/workspaceList/index.tsx
  web/src/components/pages/Dashboard/index.tsx
  web/src/components/pages/Members/index.tsx
  web/src/components/pages/Workspace/index.tsx
  web/src/components/pages/WorkspaceList/index.tsx
  web/src/index.css
Labels: web

#102 feat(server): config endpoint for web app
  server/internal/app/app.go
  server/internal/app/web_config.go
Labels: server

#101 fix(server): gateways passed as nil
  server/internal/app/app.go
Labels: bug, server

#109 feat(server): add task runner interface
  server/docs/async-file-upload.drawio.svg
  server/internal/infrastructure/gcp/cloudtasks.go
  server/internal/usecase/gateway/task.go
  server/pkg/id/id.go
  server/pkg/task/id.go
  server/pkg/task/task.go
Labels: server

#111 feat(server): add asset to GraphQL schema
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_query.go
  server/schemas/asset.graphql
Labels: server

#98 fix(server): only workspaces with no projects are removable
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/workspace.go
  server/internal/usecase/interactor/workspace_test.go
  server/internal/usecase/interfaces/workspace.go
  server/pkg/user/members.go
Labels: server

#110 feat(server): add/update field special properties in GraphQL schema
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/adapter/gql/resolver_schema.go
  server/internal/adapter/gql/resolver_schema_field.go
  server/schemas/_shared.graphql
  server/schemas/field.graphql
  server/schemas/model.graphql
  server/schemas/schema.graphql
Labels: server

#86 feat(web): project crud
  web/src/App.tsx
  web/src/components/atoms/TextArea/index.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Common/projectMenu/index.tsx
  web/src/components/molecules/Dashboard/ProjectCard.tsx
  web/src/components/molecules/Dashboard/ProjectList.tsx
  web/src/components/molecules/Dashboard/types.ts
  web/src/components/organisms/Dashboard/hooks.ts
  web/src/components/organisms/Dashboard/index.tsx
  web/src/components/organisms/Project/hooks.ts
  web/src/components/organisms/Project/index.tsx
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Project/settings/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/pages/Project/index.tsx
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/project.ts
Labels: web

#123 feat(web): asset ui atom components
  web/package.json
  web/src/components/atoms/Button/index.tsx
  web/src/components/atoms/CustomTag/index.tsx
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/atoms/Icon/index.tsx
  web/src/components/atoms/ProTable/index.tsx
  web/src/components/atoms/Radio/index.tsx
  web/src/components/atoms/TilesetPreview/index.tsx
  web/src/components/atoms/Tree/index.tsx
  web/src/components/atoms/Upload/index.tsx
  web/vite.config.ts
  web/yarn.lock
Labels: web

#121 feat(server): add domain models for Asset
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/common.go
  server/pkg/asset/file.go
  server/pkg/asset/file_test.go
  server/pkg/asset/id.go
  server/pkg/asset/preview_type.go
  server/pkg/asset/preview_type_test.go
  server/pkg/id/id.go
  server/schemas/asset.graphql
Labels: server

#124 fix(server): typo of docker-compose volume setting
  .gitignore
  server/docker-compose.yml
Labels: server

#122 feat(server): gql schema for item CRUD
  server/gqlgen.yml
  server/schemas/item.graphql
Labels: server

#139 feat(web): add antd icons as atom
  web/package.json
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/Icon/index.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Common/projectMenu/index.tsx
  web/src/components/molecules/Dashboard/ProjectCard.tsx
  web/src/components/molecules/Dashboard/ProjectList.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/organisms/Project/index.tsx
  web/src/components/organisms/Project/settings/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
  web/yarn.lock
Labels: web

#104 feat(server): Model/Schema domain models
  server/go.mod
  server/go.sum
  server/pkg/id/id.go
  server/pkg/key/key.go
  server/pkg/key/key_test.go
  server/pkg/model/builder.go
  server/pkg/model/id.go
  server/pkg/model/model.go
  server/pkg/schema/field.go
  server/pkg/schema/field_asset.go
  server/pkg/schema/field_asset_test.go
  server/pkg/schema/field_bool.go
  server/pkg/schema/field_bool_test.go
  server/pkg/schema/field_date.go
  server/pkg/schema/field_date_test.go
  server/pkg/schema/field_integer.go
  server/pkg/schema/field_integer_test.go
  server/pkg/schema/field_markdown.go
  server/pkg/schema/field_markdown_test.go
  server/pkg/schema/field_reference.go
  server/pkg/schema/field_reference_test.go
  server/pkg/schema/field_richtext.go
  server/pkg/schema/field_richtext_test.go
  server/pkg/schema/field_select.go
  server/pkg/schema/field_select_test.go
  server/pkg/schema/field_tag.go
  server/pkg/schema/field_tag_test.go
  server/pkg/schema/field_test.go
  server/pkg/schema/field_text.go
  server/pkg/schema/field_text_test.go
  server/pkg/schema/field_textarea.go
  server/pkg/schema/field_textarea_test.go
  server/pkg/schema/field_url.go
  server/pkg/schema/field_url_test.go
  server/pkg/schema/id.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
  server/pkg/schema/type.go
  server/pkg/schema/type_property.go
  server/pkg/schema/type_property_test.go
  server/pkg/util/slice.go
  server/pkg/util/slice_test.go
Labels: server

#131 feat(web): asset ui molecules
  web/src/App.tsx
  web/src/components/atoms/CustomTag/index.tsx
  web/src/components/atoms/ProTable/index.tsx
  web/src/components/atoms/Select/index.tsx
  web/src/components/atoms/Tree/index.tsx
  web/src/components/atoms/Upload/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/card.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/hooks.ts
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewModal.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewTypeSelect.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/sideBarCard.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/svgPreview.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/unzipFileList.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/viewerNotSupported.tsx
  web/src/components/molecules/Asset/Asset/AssetHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/AssetListHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/AssetListTable/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
  web/src/utils/format.ts
Labels: web
