Repository reearth/reearth-cms, pull requests merged in 2022-09, with the labels that each got.

#191 feat(web): asset's molecules updates
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewTypeSelect.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/svgPreview.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/viewerNotSupported.tsx
  web/src/components/molecules/Asset/AssetList/AssetListHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/AssetListTable/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/UploadModal/localTab.tsx
  web/src/components/molecules/Asset/UploadModal/uploadModal.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/molecules/Common/projectMenu/index.tsx
Labels: web

#198 chore(server): modules update
  server/go.mod
  server/go.sum
Labels: server

#202 feat(web): add schema page and organism
  web/src/App.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/IntegerField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/SelectField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextArea/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldValidationInputs/index.tsx
  web/src/components/molecules/Schema/ModelCreationModal/index.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/pages/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/model.ts
Labels: web

#204 fix(server): gql generated code and schema filter
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/mongo/schema.go
  server/internal/usecase/repo/container.go
Labels: bug, server

#207 fix(web): pass select field values
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/SelectField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#206 chore(web): update eslint-config-reearth, fix missing hook deps
  web/.eslintrc.yml
  web/package.json
  web/src/components/organisms/Project/Schema/hooks.ts
  web/yarn.lock
Labels: web

#208 feat(web): add internationalization
  web/src/components/organisms/Project/index.tsx
  web/src/i18n/i18n.ts
  web/src/i18n/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#180 feat(server): asset domain models update
  server/go.mod
  server/go.sum
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/sort_type.go
  server/pkg/asset/sort_type_test.go
  server/pkg/file/file.go
Labels: server

#211 feat(web): add translations missing strings
  web/i18next-parser.config.js
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Common/WorkspaceCreationModal/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Common/projectMenu/index.tsx
  web/src/components/molecules/Dashboard/Greeting.tsx
  web/src/components/molecules/Dashboard/ProjectList.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Member/MemberRoleModal/index.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/IntegerField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/SelectField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextArea/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldValidationInputs/index.tsx
  web/src/components/molecules/Schema/ModelCreationModal/index.tsx
  web/src/components/molecules/Schema/SchemaMenu.tsx
  web/src/components/organisms/Project/index.tsx
  web/src/components/organisms/Project/settings/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/pages/RootPage/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#197 feat(server): integration GraphQL schema
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_integration.go
  server/internal/adapter/gql/resolver_mutation_integration.go
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/gql/resolver_workspace.go
  server/schemas/integration.graphql
  server/schemas/integration_webhook.graphql
  server/schemas/user.graphql
  server/schemas/workspace.graphql
Labels: server

#209 fix(server): updating the schema type property
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/usecase/interactor/schema.go
  server/pkg/schema/field.go
  server/pkg/schema/field_test.go
Labels: bug, server

#152 feat(web): asset ui organisms and pages
  web/package.json
  web/src/App.tsx
  web/src/auth/hooks.ts
  web/src/components/molecules/Asset/AssetList/AssetListHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/AssetListTable/index.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/molecules/Common/Asset/index.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/pages/Asset/Asset/index.tsx
  web/src/components/pages/Asset/AssetList/index.tsx
  web/src/config.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/provider.tsx
  web/src/gql/queries/assets.ts
  web/src/utils/convert.ts
  web/src/utils/format.ts
  web/src/utils/sort.ts
  web/yarn.lock
Labels: web

#210 feat(web): add validation
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/IntegerField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/URLField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/ModelCreationModal/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/regex.ts
Labels: web

#212 feat(server): integration domain models
  server/pkg/id/id.go
  server/pkg/integration/builder.go
  server/pkg/integration/builder_test.go
  server/pkg/integration/id.go
  server/pkg/integration/integration.go
  server/pkg/integration/integration_test.go
  server/pkg/integration/integration_type.go
  server/pkg/integration/integration_type_test.go
  server/pkg/integration/webhook.go
  server/pkg/integration/webhook_builder.go
  server/pkg/integration/webhook_builder_test.go
  server/pkg/integration/webhook_test.go
Labels: server

#205 feat(worker): unzip compressed file with buffer
  .github/workflows/worker.yml
  .gitignore
  .golangci.yml
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/infrastructure/gcp/cloudtasks.go
  server/internal/infrastructure/gcp/config.go
  worker/go.mod
  worker/go.sum
  worker/internal/adapter/http/decompress.go
  worker/internal/adapter/http/main.go
  worker/internal/app/app.go
  worker/internal/app/config.go
  worker/internal/app/handler.go
  worker/internal/app/main.go
  worker/internal/app/repo.go
  worker/internal/infrastructure/gcp/gcs.go
  worker/internal/usecase/gateway/file.go
  worker/internal/usecase/gateway/main.go
  worker/internal/usecase/interactor/decompress.go
  worker/pkg/zip/testdata/test.zip
  worker/pkg/zip/testdata/test1.txt
  worker/pkg/zip/testdata/test2.txt
  worker/pkg/zip/zip.go
  worker/pkg/zip/zip_test.go
Labels: server, worker

#226 feat(web): import antd badge
  web/src/components/atoms/Badge/index.tsx
Labels: web

#223 feat(web): import antd notification
  web/src/components/atoms/Notification/index.tsx
Labels: web

#222 feat(server): asset infrastructure layer
  .gitignore
  server/go.mod
  server/go.sum
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/gcs/file_test.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/memory/asset_test.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/infrastructure/mongo/common_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/infrastructure/mongo/schema.go
  server/internal/usecase/gateway/container.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/repo/asset.go
  server/internal/usecase/repo/container.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/file.go
  server/pkg/asset/file_test.go
  server/pkg/asset/list.go
  server/pkg/asset/list_test.go
Labels: server

#225 feat(web): improve loading page
  web/src/components/atoms/Row/index.tsx
  web/src/components/atoms/Spin/index.tsx
  web/src/components/pages/RootPage/index.tsx
Labels: web

#178 feat(server): item infrastructure
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/memorygit/memory.go
  server/internal/infrastructure/memory/memorygit/memory_test.go
  server/internal/infrastructure/memory/user_test.go
  server/internal/infrastructure/memory/workspace.go
  server/internal/infrastructure/memory/workspace_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/infrastructure/mongo/mongogit/document.go
  server/internal/usecase/repo/Item.go
  server/pkg/id/id.go
  server/pkg/item/builder.go
  server/pkg/item/builder_test.go
  server/pkg/item/field.go
  server/pkg/item/field_test.go
  server/pkg/item/id.go
  server/pkg/item/item.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
Labels: server

#227 feat(server): asset usecase layer
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/repo/container.go
  server/pkg/asset/preview_type.go
  server/pkg/asset/preview_type_test.go
Labels: server

#237 feat(web): refactor sidebar
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/organisms/Dashboard/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/components/organisms/Project/index.tsx
  web/src/components/organisms/Project/settings/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/pages/Asset/Asset/index.tsx
  web/src/components/pages/Asset/AssetList/index.tsx
  web/src/components/pages/Project/index.tsx
  web/src/components/pages/Schema/index.tsx
Labels: web

#242 feat(server): item usecase layer
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/mongo/container.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/container.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
Labels: server

#241 feat(web): asset ui fixes
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewTypeSelect.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/svgPreview.tsx
  web/src/components/molecules/Asset/AssetList/AssetListTable/index.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/config.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
  web/src/utils/convert.ts
  web/src/utils/format.ts
  web/src/utils/sort.ts
  web/src/utils/uuidToURL.ts
Labels: web

#244 fix(web): content height
  web/src/components/organisms/Project/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
Labels: web

#235 feat(web): add integration UI
  web/src/App.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/IntegrationCard.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/index.tsx
  web/src/components/molecules/Integration/IntegrationHeader/index.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/organisms/Settings/Integration/index.tsx
  web/src/components/pages/Integration/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#236 feat(web): add my integration UI
  web/src/App.tsx
  web/src/components/atoms/Checkbox/index.tsx
  web/src/components/atoms/Col/index.tsx
  web/src/components/atoms/Divider/index.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/CreationModal/index.tsx
  web/src/components/molecules/MyIntegrations/Form/index.tsx
  web/src/components/molecules/MyIntegrations/Header/index.tsx
  web/src/components/molecules/MyIntegrations/List/Card/index.tsx
  web/src/components/molecules/MyIntegrations/List/CreationAction/index.tsx
  web/src/components/molecules/MyIntegrations/List/index.tsx
  web/src/components/molecules/MyIntegrations/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/WebhookList/WebhookCard/index.tsx
  web/src/components/molecules/MyIntegrations/WebhookList/index.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/components/organisms/Settings/MyIntegrations/index.tsx
  web/src/components/pages/MyIntegrationDetails/index.tsx
  web/src/components/pages/MyIntegrations/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/regex.ts
Labels: web

#258 chore(web): open browser window when dev server runs
  web/package.json
  web/vite.config.ts
  web/yarn.lock
Labels: web
