Repository reearth/reearth-cms, pull requests merged in 2022-12, with the labels that each got.

#463 feat(web): delete my integrations
  web/src/components/molecules/Integration/types.ts
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/DangerZone.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/MyIntegrations/Settings/index.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/integration.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#453 feat: asset archive extraction status
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/http/task.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/status.go
  server/pkg/asset/status_test.go
  server/schemas/asset.graphql
  worker/internal/infrastructure/gcp/pubsub.go
  worker/internal/usecase/gateway/cms.go
  worker/internal/usecase/interactor/decompress.go
  worker/internal/usecase/interactor/decompress_test.go
  worker/pkg/asset/status.go
  worker/pkg/asset/status_test.go
Labels: server, worker

#452 test(server): e2e test for item and items comment
  server/e2e/integration_item_comment_test.go
  server/e2e/integration_item_test.go
Labels: server

#461 feat(server): public API
  server/e2e/common_test.go
  server/e2e/publicapi_test.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/publicapi/api.go
  server/internal/adapter/publicapi/api_test.go
  server/internal/adapter/publicapi/controller.go
  server/internal/adapter/publicapi/item.go
  server/internal/adapter/publicapi/types.go
  server/internal/adapter/publicapi/types_test.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/repo.go
  server/internal/app/usecase.go
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/infrastructure/memory/asset_test.go
  server/internal/infrastructure/memory/event_test.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/event_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/document_test.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/common_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/operator_test.go
  server/internal/usecase/repo/Item.go
  server/internal/usecase/repo/workspace.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/common.go
  server/pkg/asset/file.go
  server/pkg/asset/list_test.go
  server/pkg/event/builder_test.go
  server/pkg/event/event_test.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/query.go
  server/pkg/item/query_test.go
  server/pkg/key/key.go
  server/pkg/key/key_test.go
  server/pkg/schema/list.go
  server/pkg/schema/list_test.go
  server/pkg/version/ref.go
  server/pkg/version/ref_test.go
Labels: server

#466 fix(server): capitalize maintainer role in GraphQL schema
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/schemas/workspace.graphql
Labels: bug, server

#460 feat(web): add comments to item details
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/Wrapper/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/convertItem.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/item.ts
Labels: web

#464 refactor(web): asset schema
  web/src/gql/fragments/asset.ts
  web/src/gql/fragments/file.ts
  web/src/gql/fragments/index.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
Labels: web

#435 feat(server): request domain models and gql schema
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_request.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_request.go
  server/pkg/id/id.go
  server/pkg/request/builder.go
  server/pkg/request/builder_test.go
  server/pkg/request/id.go
  server/pkg/request/item.go
  server/pkg/request/item_test.go
  server/pkg/request/request.go
  server/pkg/request/request_test.go
  server/pkg/request/state.go
  server/schemas/request.graphql
Labels: server

#451 feat(server): request infrastructure
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/request.go
  server/internal/infrastructure/memory/request_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/request.go
  server/internal/infrastructure/mongo/request.go
  server/internal/infrastructure/mongo/request_test.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/request.go
  server/pkg/request/state.go
  server/pkg/request/state_test.go
Labels: server

#462 feat(web): add decompression status
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList.tsx
  web/src/components/molecules/Asset/AssetListTable/ArchiveExtractionStatus.tsx
  web/src/components/molecules/Asset/AssetListTable/hooks.ts
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/gql/fragments/asset.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#458 feat(web): show comments on the assets/content list page
  web/src/components/atoms/CustomTag/index.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/CommentsPanel/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Common/CommentsPanel/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#476 fix(web): only display status for zip files
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/utils/file.ts
Labels: web

#477 feat(web): update GQL schema
  web/src/components/molecules/Integration/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/field.ts
  web/src/gql/queries/model.ts
  web/src/utils/values.ts
Labels: web

#455 test(server): add test to integration asset
  server/e2e/integration_asset_comment_test.go
  server/e2e/integration_asset_test.go
  server/e2e/integration_item_test.go
Labels: server

#482 fix(web): change minimum key length to 1
  web/src/utils/regex.ts
Labels: web

#478 fix(server): rename fields in GraphQL schema
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/schemas/field.graphql
Labels: bug, server

#483 fix(web): reflect backend schema changes
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/field.ts
  web/src/utils/values.ts
Labels: bug, web

#479 fix(server): change minimum key length to 1
  server/pkg/key/key.go
  server/pkg/key/key_test.go
  server/pkg/model/model_test.go
Labels: server

#487 feat(web): make integration private by default
  web/src/components/molecules/MyIntegrations/CreationModal/index.tsx
Labels: web

#488 feat(web): add maintainer role
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.tsx
  web/src/components/molecules/Member/MemberRoleModal/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/gql/graphql.schema.json
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#484 fix(server): URL default value should be returned as string
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
Labels: bug, server

#492 fix(web): clear modal for creating new model
  web/src/components/molecules/Schema/ModelFormModal/index.tsx
Labels: bug, web

#493 fix(web): update suggestion message for key long
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/ModelFormModal/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: bug, web

#485 fix(server): options is not an array by default
  server/internal/usecase/interactor/item.go
Labels: bug, server

#494 feat(web): show filename instead of UUID
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#491 feat(web): disable the comment button when no item is selected
  web/src/components/molecules/Common/CommentsPanel/Editor.tsx
  web/src/components/molecules/Common/CommentsPanel/index.tsx
Labels: web

#474 feat(server): request usecases
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/request.go
  server/internal/infrastructure/memory/request_test.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/request.go
  server/internal/infrastructure/mongo/request.go
  server/internal/infrastructure/mongo/request_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/request_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/request.go
  server/internal/usecase/repo/request.go
  server/pkg/request/builder.go
  server/pkg/request/builder_test.go
  server/pkg/request/item.go
  server/pkg/request/item_test.go
  server/pkg/request/list.go
  server/pkg/request/list_test.go
  server/pkg/request/request.go
  server/pkg/request/request_test.go
  server/pkg/user/members.go
  server/schemas/request.graphql
Labels: server

#486 fix(server): unique value check when updating item
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
Labels: bug, server

#498 feat(web): Convert assetItem into antd supported form item
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#480 feat(server): request controller
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/requestloader_gen.go
  server/internal/adapter/gql/gqlmodel/convert_request.go
  server/internal/adapter/gql/gqlmodel/convert_request_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/gqlmodel/scalar_id.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_request.go
  server/internal/adapter/gql/resolver_mutation_request.go
  server/internal/adapter/gql/resolver_query.go
  server/schemas/_shared.graphql
  server/schemas/request.graphql
Labels: server

#499 feat(server): request
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/requestloader_gen.go
  server/internal/adapter/gql/gqlmodel/convert_request.go
  server/internal/adapter/gql/gqlmodel/convert_request_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/gqlmodel/scalar_id.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_request.go
  server/internal/adapter/gql/resolver_mutation_request.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/request.go
  server/internal/infrastructure/memory/request_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/request.go
  server/internal/infrastructure/mongo/request.go
  server/internal/infrastructure/mongo/request_test.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/request_test.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/request.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/request.go
  server/pkg/id/id.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/request/builder.go
  server/pkg/request/builder_test.go
  server/pkg/request/id.go
  server/pkg/request/item.go
  server/pkg/request/item_test.go
  server/pkg/request/list.go
  server/pkg/request/list_test.go
  server/pkg/request/request.go
  server/pkg/request/request_test.go
  server/pkg/request/state.go
  server/pkg/request/state_test.go
  server/pkg/user/members.go
  server/schemas/_shared.graphql
  server/schemas/request.graphql
Labels: server

#501 feat(web): comment word count to be 1000
  web/src/components/molecules/Common/CommentsPanel/Editor.tsx
Labels: web

#500 fix(server): role checks
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interactor/usecase.go
  server/internal/usecase/operator.go
Labels: bug, server

#497 feat(web): add multi value fields
  web/src/components/atoms/Icon/Icons/arrowSquareOut.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/Input/index.tsx
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueSelect/index.tsx
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Common/MultiValueField/moveItemArray.ts
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/IntegerField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/Markdown/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/SelectField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextArea/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/URLField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#503 chore(web): bump dependency versions
  web/package.json
  web/yarn.lock
Labels: web

#504 fix(web): change url validation
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/URLField/index.tsx
Labels: bug, web

#506 feat(web): add japanese translations for asset
  web/src/i18n/translations/ja.yml
Labels: web

#505 fix(server): bugs while creating multiple values
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/infrastructure/mongo/mongodoc/value_test.go
  server/pkg/value/asset.go
  server/pkg/value/bool.go
  server/pkg/value/datetime.go
  server/pkg/value/integer.go
  server/pkg/value/multiple.go
  server/pkg/value/multiple_test.go
  server/pkg/value/number.go
  server/pkg/value/string.go
Labels: bug, server

#510 feat(server): fix request bugs
  server/internal/adapter/gql/loader_request.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/infrastructure/mongo/request.go
Labels: server

#489 feat(web): disconnect integrations from workspace
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Integration/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#490 feat(web): delete items
  web/src/components/atoms/ProTable/index.tsx
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#511 fix(server): writer should only update own items, min max validation, default value validation
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/operator.go
  server/pkg/schema/field.go
Labels: bug, server

#512 fix(server): only waiting requests can be approved
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_request.go
  server/internal/adapter/gql/gqlmodel/convert_request_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/usecase/interactor/request.go
  server/pkg/request/list.go
  server/pkg/request/list_test.go
  server/schemas/request.graphql
Labels: server

#513 fix(web): integer field min, max and default value
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldValidationInputs/index.tsx
Labels: web

#516 feat: add project alias from UI
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/schemas/project.graphql
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Public/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Public/hooks.ts
  web/src/components/organisms/Project/Public/index.tsx
  web/src/components/organisms/Workspace/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/project.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/state/index.ts
Labels: server, web

#517 fix(server): role was not handled correclty
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/operator.go
Labels: bug, server

#515 feat(server): update date fields of requests, GraphQL request resolvers
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/usecase/interactor/request.go
  server/pkg/request/request.go
  server/pkg/request/request_test.go
  server/schemas/item.graphql
Labels: server

#521 feat(web): load logo and cover image from config
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Workspace/Greeting.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/CMSWrapper/index.tsx
  web/src/components/organisms/Workspace/hooks.ts
  web/src/components/organisms/Workspace/index.tsx
  web/src/config.ts
Labels: web

#520 fix(web): make author nullable in comment
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/convertItem.ts
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
Labels: bug, web

#522 feat(web): user avatar component
  web/src/components/atoms/Avatar/index.tsx
  web/src/components/atoms/UserAvatar/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Common/Header/Dropdown.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Request/Details/Comment.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#518 fix(server): make author nullable in comment
  server/internal/adapter/gql/generated.go
  server/schemas/thread.graphql
Labels: bug, server

#525 fix(server): item has no public ref after approval
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/request_test.go
Labels: server

#523 feat(web): link request item to item's details page
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Request/convertRequest.ts
  web/src/gql/fragments/request.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
Labels: web

#524 feat(web): add assets to publication page
  web/src/components/molecules/Public/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Public/hooks.ts
  web/src/components/organisms/Project/Public/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/state/index.ts
Labels: web

#526 feat(web): add tooltip to header menu items
  web/src/components/molecules/Common/Header/index.tsx
Labels: web

#529 fix(web): tileset preview + refactor
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/utils/file.ts
Labels: web

#532 feat(web): allow to delete default value after added
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/SelectField/index.tsx
Labels: web

#531 feat(web): show caution message when user deletes schema field
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#536 feat(web): add with files directive to asset fragment
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/gql/fragments/asset.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
Labels: web
