Repository reearth/reearth-cms, pull requests merged in 2022-10, with the labels that each got.

#257 feat(web): refactor page header
  web/src/components/atoms/PageHeader/index.tsx
  web/src/components/molecules/Integration/IntegrationHeader/index.tsx
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/Header/index.tsx
  web/src/components/molecules/MyIntegrations/List/index.tsx
  web/src/components/organisms/Settings/Integration/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
Labels: web

#130 feat(server): adapter layer for asset and file
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/assetloader_gen.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqlmodel/convert.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/convert_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/app/app.go
  server/internal/app/config.go
  server/internal/app/file.go
  server/internal/app/main.go
  server/internal/app/repo.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/gcs/file_test.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/sort_type.go
  server/pkg/asset/sort_type_test.go
  server/schemas/asset.graphql
Labels: server

#249 fix(server): schema field option are not saved to DB
  server/internal/usecase/interactor/schema.go
  server/pkg/schema/field.go
Labels: bug, server

#252 chore(web): asset internationalization
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewTypeSelect.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/svgPreview.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/viewerNotSupported.tsx
  web/src/components/molecules/Asset/Asset/AssetHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/AssetListTable/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/UploadModal/localTab.tsx
  web/src/components/molecules/Asset/UploadModal/uploadModal.tsx
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#186 feat(server): thread and comment schema
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/threadloader_gen.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_thread.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_mutation_thread.go
  server/internal/adapter/gql/resolver_thread.go
  server/schemas/asset.graphql
  server/schemas/thread.graphql
Labels: server

#243 feat(server): add graphql schema to project public setting
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/schemas/model.graphql
  server/schemas/project.graphql
Labels: server

#185 feat(server): thread and comment domain models
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/id.go
  server/pkg/id/id.go
  server/pkg/thread/builder.go
  server/pkg/thread/builder_test.go
  server/pkg/thread/comment.go
  server/pkg/thread/comment_test.go
  server/pkg/thread/common.go
  server/pkg/thread/id.go
  server/pkg/thread/thread.go
  server/pkg/thread/thread_test.go
Labels: server

#262 chore(web): update eslint-config-reearth to 0.2.1
  web/package.json
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/UploadModal/uploadModal.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/yarn.lock
Labels: web

#238 feat(web): add content UI
  web/src/App.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/molecules/Content/ContentTable/index.tsx
  web/src/components/molecules/Content/RequestCreationModal/index.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
  web/src/components/molecules/Schema/ModelCreationModal/index.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/components/pages/Content/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#256 feat(web): add my integration hooks
  web/src/App.tsx
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/CreationModal/index.tsx
  web/src/components/molecules/MyIntegrations/Form/index.tsx
  web/src/components/molecules/MyIntegrations/List/Card/index.tsx
  web/src/components/molecules/MyIntegrations/List/CreationAction/index.tsx
  web/src/components/molecules/MyIntegrations/List/index.tsx
  web/src/components/molecules/MyIntegrations/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/WebhookList/WebhookCard/index.tsx
  web/src/components/molecules/MyIntegrations/WebhookList/index.tsx
  web/src/components/molecules/MyIntegrations/types.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/components/organisms/Settings/MyIntegrations/hooks.ts
  web/src/components/organisms/Settings/MyIntegrations/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/integration.ts
  web/src/gql/queries/user.ts
  web/src/gql/queries/webhook.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#259 feat(web): integration hooks
  web/src/components/atoms/PageHeader/index.tsx
  web/src/components/atoms/Switch/index.tsx
  web/src/components/molecules/Dashboard/types.ts
  web/src/components/molecules/Integration/IntegrationConnectModal/IntegrationCard.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/index.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Integration/types.ts
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Integration/index.tsx
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/gql/fragments/index.ts
  web/src/gql/fragments/integration.ts
  web/src/gql/fragments/workspace.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/user.ts
  web/src/gql/queries/workspace.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#269 feat(web): refactor content table components
  web/src/components/molecules/Content/ContentListMolecule/index.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
Labels: web

#266 feat(web): add content table hook
  web/src/components/molecules/Content/ContentListMolecule/index.tsx
  web/src/components/molecules/Content/ContentTable/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/state/index.ts
Labels: web

#267 feat(server): Implement from domain models to Adapter on the public
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_model.go
  server/internal/adapter/gql/gqlmodel/convert_model_test.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_model.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/mongodoc/model.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/interfaces/project.go
  server/pkg/model/builder.go
  server/pkg/model/builder_test.go
  server/pkg/model/model_test.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_test.go
  server/pkg/project/publication.go
  server/pkg/project/publication_test.go
  server/schemas/model.graphql
Labels: server

#255 chore(server): update dependencies
  server/go.mod
  server/go.sum
Labels: server

#247 feat(server): item controllers
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/itemloader_gen.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/item_test.go
  server/schemas/item.graphql
Labels: server

#271 fix(server): fetching old members causing an error
  server/internal/infrastructure/mongo/mongodoc/workspace.go
Labels: bug, server

#278 feat(server): create user in auth middleware if user does not exist
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_user.go
  server/internal/adapter/http/user.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config.go
  server/internal/app/jwt.go
  server/internal/app/public.go
  server/internal/infrastructure/memory/user.go
  server/internal/infrastructure/memory/user_test.go
  server/internal/infrastructure/memory/workspace_test.go
  server/internal/infrastructure/mongo/user.go
  server/internal/infrastructure/mongo/workspace_test.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/integration_test.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/user.go
  server/internal/usecase/interactor/user_signup.go
  server/internal/usecase/interactor/user_signup_test.go
  server/internal/usecase/interactor/workspace_test.go
  server/internal/usecase/interfaces/user.go
  server/internal/usecase/repo/user.go
  server/pkg/user/builder.go
  server/pkg/user/builder_test.go
  server/pkg/user/members.go
  server/pkg/user/user_test.go
  server/schemas/user.graphql
Labels: server

#279 feat(server): add project ID field to schema
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model.go
  server/pkg/schema/builder.go
  server/pkg/schema/builder_test.go
  server/pkg/schema/id.go
  server/pkg/schema/schema.go
Labels: server

#280 fix(web): update graphQL schema
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/gql/queries/model.ts
Labels: bug, web

#272 feat(web): add notification
  web/src/components/organisms/Dashboard/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/hooks.ts
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Settings/MyIntegrations/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#268 feat(server): implementing project filter
  server/internal/app/auth_client.go
  server/internal/app/usecase.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/memory/asset_test.go
  server/internal/infrastructure/memory/model.go
  server/internal/infrastructure/memory/model_test.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/operator.go
  server/internal/usecase/repo/asset.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/model.go
  server/internal/usecase/repo/project.go
  server/pkg/project/id.go
  server/pkg/user/workspace_list.go
  server/pkg/user/workspace_list_test.go
Labels: server

#276 feat(sever): add project ID to the item
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/item/builder.go
  server/pkg/item/builder_test.go
  server/pkg/item/id.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/schemas/item.graphql
Labels: server

#283 fix(web): header ui issues and logic around the header
  web/src/components/atoms/Icon/index.tsx
  web/src/components/molecules/Common/Header/Dropdown.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Dashboard/ProjectCard.tsx
  web/src/components/molecules/Dashboard/ProjectList.tsx
  web/src/components/organisms/Dashboard/hooks.ts
  web/src/components/organisms/Dashboard/index.tsx
  web/src/components/organisms/Project/hooks.ts
  web/src/components/organisms/Project/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/state/index.ts
Labels: web

#285 fix(web): url instead of uuid in asset
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/config.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
  web/src/utils/uuidToURL.ts
Labels: web

#286 chore(server): add Makefile
  server/Makefile
Labels: server

#284 fix(server): asset path
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/gcs/file_test.go
Labels: server

#290 fix(web): shared wrapper component and routing
  web/src/App.tsx
  web/src/components/atoms/NotFound/index.tsx
  web/src/components/molecules/Asset/Asset/AssetHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/AssetListHeader/index.tsx
  web/src/components/molecules/CMSWrapper/index.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/WebhookCard/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/index.tsx
  web/src/components/molecules/ProjectList/ProjectCard.tsx
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/CMSWrapper/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/components/organisms/Workspace/hooks.ts
  web/src/components/organisms/Workspace/index.tsx
  web/src/components/pages/Asset/Asset/index.tsx
  web/src/components/pages/Asset/AssetList/index.tsx
  web/src/components/pages/CMSPage/index.tsx
  web/src/components/pages/Content/index.tsx
  web/src/components/pages/ContentDetails/index.tsx
  web/src/components/pages/Integration/index.tsx
  web/src/components/pages/Members/index.tsx
  web/src/components/pages/MyIntegrationDetails/index.tsx
  web/src/components/pages/MyIntegrations/index.tsx
  web/src/components/pages/Project/index.tsx
  web/src/components/pages/RootPage/index.tsx
  web/src/components/pages/Schema/index.tsx
  web/src/components/pages/Workspace/index.tsx
Labels: web

#292 chore(web): update project card UI/UX
  web/src/components/molecules/ProjectList/ProjectCard.tsx
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/Workspace/WorkspaceHeader.tsx
  web/src/components/molecules/Workspace/index.tsx
Labels: web

#281 fix(server): add missing loaders of node and nodes
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/integration.go
  server/schemas/_shared.graphql
  server/schemas/integration_webhook.graphql
Labels: bug, server

#275 feat(web): Accessibility page
  web/src/App.tsx
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/atoms/NotFound/index.tsx
  web/src/components/atoms/Table/index.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/model.ts
  web/src/gql/queries/project.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/values.ts
Labels: web

#293 fix(web): header and project state management
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/CMSWrapper/index.tsx
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
  web/src/components/organisms/Workspace/hooks.ts
  web/src/components/organisms/Workspace/index.tsx
  web/src/state/index.ts
Labels: web

#295 fix(server): jwt echo middleware
  server/internal/app/app.go
  server/internal/app/auth_client.go
Labels: server

#294 feat(web): project overview page
  web/src/App.tsx
  web/src/components/atoms/Icon/Icons/key.svg
  web/src/components/atoms/Icon/Icons/myintegrations.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/Icon/index.tsx
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/molecules/CMSWrapper/index.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/ProjectList/ProjectCard.tsx
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/ProjectOverview/ModelCard.tsx
  web/src/components/molecules/ProjectOverview/index.tsx
  web/src/components/molecules/Workspace/Greeting.tsx
  web/src/components/molecules/Workspace/WorkspaceHeader.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/components/organisms/CMSWrapper/index.tsx
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Overview/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#299 ci(web): set up netlify preview environment
  web/netlify.toml
  web/package.json
  web/yarn.lock
Labels: web

#300 feat(web): add loading spinner to workspace's project list
  web/src/components/atoms/Loading/index.tsx
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/components/organisms/Workspace/hooks.ts
  web/src/components/organisms/Workspace/index.tsx
  web/src/components/pages/RootPage/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#301 fix(web): non-personal workspace avatars should be square
  web/src/App.tsx
  web/src/components/molecules/Common/Header/Dropdown.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
Labels: web

#307 fix(web): fix and refactor schema page
  web/src/App.tsx
  web/src/components/atoms/Icon/Icons/dot.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/InnerContents/complex.tsx
  web/src/components/molecules/CMSWrapper/index.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
  web/src/components/molecules/Public/index.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
  web/src/components/organisms/Project/ModelsMenu/index.tsx
  web/src/components/organisms/Project/Public/hooks.ts
  web/src/components/organisms/Project/Public/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/main.tsx
  web/src/state/index.ts
Labels: web

#309 feat(web): affix header and sidebar to top and left, respectively
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/molecules/CMSWrapper/index.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/ProjectOverview/ModelCard.tsx
  web/src/components/molecules/ProjectOverview/index.tsx
  web/src/components/molecules/Public/index.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/index.tsx
Labels: web

#291 feat(server): apply project filter to Item repo, add timestamp to Item
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/infrastructure/memory/asset_test.go
  server/internal/infrastructure/memory/integration_test.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/model_test.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/infrastructure/mongo/integration_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/infrastructure/mongo/mongogit/document.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/integration_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interactor/workspace_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/internal/usecase/repo/container.go
  server/pkg/integration/builder_test.go
  server/pkg/integration/webhook_builder_test.go
  server/pkg/item/builder.go
  server/pkg/item/builder_test.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
  server/pkg/model/model_test.go
  server/pkg/schema/field_integer_test.go
  server/pkg/schema/field_select_test.go
  server/pkg/schema/field_tag_test.go
  server/schemas/item.graphql
Labels: server

#302 feat(server): update thread domain models
  server/pkg/id/id.go
  server/pkg/thread/comment.go
  server/pkg/thread/comment_test.go
  server/pkg/thread/common.go
  server/pkg/thread/list.go
  server/pkg/thread/list_test.go
  server/pkg/thread/thread.go
  server/pkg/thread/thread_test.go
Labels: server

#313 feat(web): accept zip file for asset upload
  web/src/components/molecules/Common/Asset/index.ts
Labels: web

#308 chore(server): mongo indexes deleted unexpectedly and use reearthx's logger
  server/go.mod
  server/go.sum
  server/internal/app/app.go
  server/internal/app/echo-logrus.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/integration.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/schema.go
  server/internal/infrastructure/mongo/user.go
  server/internal/infrastructure/mongo/workspace.go
Labels: server

#316 fix(server): make mongo layer's File document's field public to persist it in the database
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
Labels: server

#303 fix(web): members section fix
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/gql/provider.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/state/index.ts
Labels: web

#318 fix(web): workspace list hover fix
  web/src/components/molecules/Common/Header/index.tsx
Labels: bug, web

#314 feat(web): asset ui acceptance test fixes
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/AssetListHeader/index.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/UploadModal/uploadModal.tsx
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/file.ts
Labels: web

#321 feat(web): add spinner to asset page
  web/src/components/organisms/Asset/Asset/index.tsx
Labels: web

#305 fix(web): project section fix
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Project/settings/index.tsx
Labels: bug, web

#312 feat(worker): upload docompressed files to GCS and notify to CMS server
  .vscode/launch.json
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/http/task.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config.go
  server/internal/app/handler.go
  server/internal/app/repo.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcs/file.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/gateway/container.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/file.go
  server/pkg/asset/file_builder.go
  server/pkg/asset/file_builder_test.go
  server/pkg/asset/file_test.go
  server/pkg/task/task.go
  worker/go.mod
  worker/go.sum
  worker/internal/adapter/http/decompress.go
  worker/internal/app/config.go
  worker/internal/app/handler.go
  worker/internal/app/repo.go
  worker/internal/infrastructure/fs/common.go
  worker/internal/infrastructure/fs/file.go
  worker/internal/infrastructure/fs/file_test.go
  worker/internal/infrastructure/gcp/gcs.go
  worker/internal/infrastructure/gcp/pubsub.go
  worker/internal/usecase/gateway/cms.go
  worker/internal/usecase/gateway/main.go
  worker/internal/usecase/interactor/decompress.go
  worker/internal/usecase/interactor/decompress_test.go
  worker/internal/usecase/interactor/testdata/test.zip
  worker/internal/usecase/interactor/testdata/test1.txt
  worker/internal/usecase/interactor/testdata/test2.txt
  worker/pkg/decompressor/decompresser.go
  worker/pkg/decompressor/decompresser_test.go
  worker/pkg/decompressor/testdata/test.zip
  worker/pkg/decompressor/testdata/test1.txt
  worker/pkg/decompressor/testdata/test2.txt
Labels: server, worker

#324 ci(worker): set up worker deploy
  .github/workflows/deploy_test.yml
  .github/workflows/worker.yml
  .github/workflows/worker_build.yml
  worker/Dockerfile
Labels: worker

#320 feat(server): add unknown preview type
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/infrastructure/memory/asset_test.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/usecase/interactor/asset_test.go
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/preview_type.go
  server/pkg/asset/preview_type_test.go
  server/schemas/asset.graphql
Labels: server

#263 feat(server): thread infrastructure
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/thread.go
  server/internal/infrastructure/memory/thread_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/infrastructure/mongo/mongodoc/thread.go
  server/internal/infrastructure/mongo/thread.go
  server/internal/infrastructure/mongo/thread_test.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/thread.go
  server/pkg/thread/thread.go
  server/pkg/thread/thread_test.go
Labels: server

#261 feat(server): item search
  go.work.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/item/item.go
  server/pkg/item/query.go
  server/pkg/item/query_test.go
  server/schemas/item.graphql
Labels: server

#260 feat(server): filter items by schema fields
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
  server/pkg/schema/list.go
  server/pkg/schema/list_test.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
Labels: server

#328 refactor: schema page
  web/src/components/atoms/Menu/index.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/index.tsx
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/utils/path.ts
Labels: web

#329 fix(server): run server without cloudtasks and m2m config
  server/internal/app/app.go
  server/internal/app/config.go
  server/internal/app/repo.go
Labels: server

#330 fix(server): authInfo context key
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/handler.go
Labels: server

#319 fix(web): integration section fixes
  web/src/components/molecules/Integration/IntegrationConnectModal/IntegrationCard.tsx
  web/src/components/molecules/MyIntegrations/CreationModal/index.tsx
  web/src/components/molecules/MyIntegrations/Form/index.tsx
  web/src/components/molecules/MyIntegrations/List/Card/index.tsx
  web/src/components/molecules/MyIntegrations/List/CreationAction/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#327 fix(web): items form redirection
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
Labels: web

#331 feat(web): make asset table reload button work
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
Labels: web

#317 feat(web): add workspace settings and user account
  web/src/App.tsx
  web/src/components/atoms/InnerContents/ContentSection/index.tsx
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/atoms/ProTable/index.tsx
  web/src/components/molecules/AccountSettings/DangerZone.tsx
  web/src/components/molecules/AccountSettings/GeneralForm.tsx
  web/src/components/molecules/AccountSettings/ServiceForm.tsx
  web/src/components/molecules/AccountSettings/index.tsx
  web/src/components/molecules/AccountSettings/types.ts
  web/src/components/molecules/ProjectOverview/index.tsx
  web/src/components/molecules/WorkspaceSettings/DangerZone.tsx
  web/src/components/molecules/WorkspaceSettings/Form.tsx
  web/src/components/molecules/WorkspaceSettings/index.tsx
  web/src/components/organisms/Account/hooks.ts
  web/src/components/organisms/Account/index.tsx
  web/src/components/organisms/Workspace/Settings/hooks.ts
  web/src/components/organisms/Workspace/Settings/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/user.ts
  web/src/i18n/index.tsx
  web/src/i18n/locale.ts
  web/src/i18n/provider.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#332 feat(web): add unknown to preview type list
  web/src/components/molecules/Asset/Asset/AssetBody/previewTypeSelect.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#338 fix(server): URL field default value should accept empty string
  go.work.sum
  server/pkg/schema/field_url.go
Labels: bug, server

#341 feat(web): add model key
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Schema/index.tsx
Labels: web

#337 fix(web): remove unecessary character
  web/src/components/atoms/ProTable/index.tsx
Labels: web

#339 feat(web): add 404 page
  web/src/components/atoms/NotFound/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#344 fix(web): model fixes
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/URLField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#326 feat(web): make content table re-sizable columns
  web/package.json
  web/src/components/atoms/ProTable/index.tsx
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Common/ResizableProTable/resizable.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/yarn.lock
Labels: web

#343 feat(server): OpenAPI specs for integration API
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/adapter/integration/api.go
  server/internal/adapter/integration/server.cfg.yml
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/main.go
  server/pkg/integrationapi/types.cfg.yml
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#345 fix(server): only workspace owner can delete a project
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Labels: bug, server
