Repository reearth/reearth-cms, pull requests merged in 2023-10, with the labels that each got.

#855 feat(server): group domain models and GQL
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_group.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/adapter/gql/resolver_mutation_group.go
  server/internal/adapter/gql/resolver_schema_field.go
  server/pkg/group/builder.go
  server/pkg/group/builder_test.go
  server/pkg/group/group.go
  server/pkg/group/group_test.go
  server/pkg/group/id.go
  server/pkg/group/list.go
  server/pkg/group/list_test.go
  server/pkg/id/id.go
  server/pkg/id/key.go
  server/pkg/item/id.go
  server/pkg/schema/field_group.go
  server/pkg/schema/field_group_test.go
  server/pkg/schema/id.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
  server/pkg/schema/type_property.go
  server/pkg/value/group.go
  server/pkg/value/group_test.go
  server/pkg/value/match.go
  server/pkg/value/registry.go
  server/schemas/field.graphql
  server/schemas/group.graphql
  server/schemas/schema.graphql
Labels: server

#873 fix(server): fixes so that no one other than reearthx/account is mistakenly used
  server/e2e/common_test.go
  server/internal/app/repo.go
  server/internal/infrastructure/mongo/container.go
Labels: server

#869 feat(server): group and schema group field infrastructure
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/group.go
  server/internal/infrastructure/memory/group_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/group.go
  server/internal/infrastructure/mongo/group_test.go
  server/internal/infrastructure/mongo/mongodoc/group.go
  server/internal/infrastructure/mongo/mongodoc/group_test.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/group.go
  server/pkg/id/id.go
  server/pkg/item/field.go
  server/pkg/item/id.go
  server/pkg/schema/field_group_test.go
  server/pkg/value/group.go
  server/pkg/value/group_test.go
Labels: server

#863 feat(server): group usecase layer
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/group.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/interfaces/model.go
  server/pkg/id/key.go
  server/pkg/item/fields.go
  server/schemas/item.graphql
  server/schemas/schema.graphql
Labels: server

#872 feat(server): group app layer
  server/e2e/gql_group_test.go
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/grouploader_gen.go
  server/internal/adapter/gql/gqlmodel/convert_group.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_group.go
  server/internal/adapter/gql/resolver_group.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/adapter/gql/resolver_mutation_group.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/interfaces/schema.go
  server/internal/usecase/repo/container.go
  server/pkg/schema/type_property.go
  server/schemas/field.graphql
  server/schemas/group.graphql
  server/schemas/item.graphql
Labels: server

#874 fix(web): ant design warnings
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewModal.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Common/Header/Dropdown.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Common/WorkspaceCreationModal/index.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/index.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Member/MemberRoleModal/index.tsx
  web/src/components/molecules/MyIntegrations/CreationModal/index.tsx
  web/src/components/molecules/ProjectOverview/ModelCard.tsx
  web/src/components/molecules/ProjectOverview/ModelDeletionModal/index.tsx
  web/src/components/molecules/Schema/ModelFormModal/index.tsx
Labels: web

#878 fix(server): add group to node type
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_query.go
  server/schemas/_shared.graphql
Labels: server

#879 ci: upgrade golang version to 1.21
  .github/workflows/ci_server.yml
  .github/workflows/ci_worker.yml
Labels: server

#856 feat(server): items view CRUD
  server/e2e/common_test.go
  server/e2e/gql_model_view_test.go
  server/e2e/gql_user_test.go
  server/gqlgen.yml
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/viewloader_gen.go
  server/internal/adapter/gql/gqlmodel/convert_view.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_view.go
  server/internal/adapter/gql/resolver_mutation_view.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/container.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/view.go
  server/internal/infrastructure/memory/view_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/view.go
  server/internal/infrastructure/mongo/view.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/common_test.go
  server/internal/usecase/interactor/view.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/interfaces/view.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/view.go
  server/pkg/id/id.go
  server/pkg/item/view/builder.go
  server/pkg/item/view/builder_test.go
  server/pkg/item/view/condition.go
  server/pkg/item/view/condition_and.go
  server/pkg/item/view/condition_basic.go
  server/pkg/item/view/condition_bool.go
  server/pkg/item/view/condition_multiple.go
  server/pkg/item/view/condition_nullable.go
  server/pkg/item/view/condition_number.go
  server/pkg/item/view/condition_or.go
  server/pkg/item/view/condition_string.go
  server/pkg/item/view/condition_time.go
  server/pkg/item/view/id.go
  server/pkg/item/view/list.go
  server/pkg/item/view/selctor.go
  server/pkg/item/view/sort.go
  server/pkg/item/view/view.go
  server/pkg/item/view/view_test.go
  server/schemas/_shared.graphql
  server/schemas/item_filter.graphql
  server/schemas/item_view.graphql
Labels: server

#880 fix(server): group fields bugs and some refactoring
  server/e2e/integration_item_test.go
  server/e2e/publicapi_test.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/adapter/publicapi/types_test.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/schema.go
  server/pkg/group/list.go
  server/pkg/item/builder_test.go
  server/pkg/item/field.go
  server/pkg/item/field_change_test.go
  server/pkg/item/field_test.go
  server/pkg/item/fields_test.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/list_test.go
  server/pkg/item/reference_test.go
Labels: server

#883 feat(web): check groups before group field creation
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#884 chore(web): add group field japanese translation
  web/src/i18n/translations/ja.yml
Labels: web

#882 fix(server): fix item group fields bugs
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interactor/item.go
  server/pkg/item/item.go
Labels: server

#875 fix(web): update values on blur
  web/src/components/molecules/Common/MultiValueField/index.tsx
Labels: web

#886 fix(web): empty group item field's value
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/GroupField/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#885 perf(web): improve content form's submission performance
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#887 feat(server): check models before removing the group
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_group.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interfaces/group.go
  server/schemas/group.graphql
Labels: server

#888 fix(server): remove the metaitem as well when removing an item
  server/internal/usecase/interactor/item.go
Labels: server

#891 chore(server, wroker): upgrade golang and dependencies
  go.work
  go.work.sum
  server/e2e/common_test.go
  server/e2e/gql_field_test.go
  server/e2e/gql_group_test.go
  server/e2e/gql_item_test.go
  server/e2e/gql_model_test.go
  server/e2e/gql_model_view_test.go
  server/e2e/gql_porject_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/http_user_test.go
  server/e2e/integration_asset_comment_test.go
  server/e2e/integration_asset_project_test.go
  server/e2e/integration_asset_test.go
  server/e2e/integration_item_comment_test.go
  server/e2e/integration_item_project_test.go
  server/e2e/integration_item_test.go
  server/e2e/integration_model_test.go
  server/e2e/ping_test.go
  server/e2e/publicapi_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/integration/asset.go
  server/internal/infrastructure/memory/item.go
  server/pkg/asset/file.go
  server/pkg/asset/list.go
  server/pkg/group/list.go
  server/pkg/integration/list.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/field_change.go
  server/pkg/item/view/list.go
  server/pkg/model/list.go
  server/pkg/project/list.go
  server/pkg/schema/list.go
  server/pkg/thread/list.go
  worker/go.mod
  worker/go.sum
Labels: server, worker

#893 feat(web): add modelsByGroup check
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/group.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#894 feat(web): add date field
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#897 fix(web): revert date field
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#898 fix(web): remove reference field from group
  web/src/components/molecules/Schema/FieldList.tsx
Labels: web

#899 fix(web): eliminate negative values in min and max
  web/src/components/molecules/Schema/FieldModal/FieldValidationInputs/index.tsx
Labels: web

#895 feat(web): implement date field
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/utils/format.ts
Labels: web

#902 feat(web): disable group field validation
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#900 fix(web): group default value
  web/src/components/atoms/Form/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#905 chore(web): update reference field translation
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#890 feat(web): add filter component
  server/e2e/gql_item_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/convert_view.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/infrastructure/mongo/mongogit/query.go
  server/internal/infrastructure/mongo/mongogit/query_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/item/query.go
  server/pkg/item/query_test.go
  server/pkg/item/view/condition.go
  server/schemas/item.graphql
  server/schemas/item_filter.graphql
  server/schemas/item_view.graphql
  web/src/components/atoms/Icon/Icons/control.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/DropdownRender.tsx
  web/src/components/molecules/Content/Table/filterDropdown.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/Table/types.ts
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: server, web

#892 chore(server): add meta field to schema in integration API
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/item.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/item.go
  server/schemas/integration.yml
Labels: server

#901 feat(server): item sort/filtering
  server/e2e/gql_item_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/convert_view.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_mutation_view.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/infrastructure/mongo/mongogit/query.go
  server/internal/infrastructure/mongo/mongogit/query_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/item/query.go
  server/pkg/item/query_test.go
  server/pkg/item/view/condition.go
  server/schemas/item.graphql
  server/schemas/item_filter.graphql
  server/schemas/item_view.graphql
Labels: server

#889 feat(web): crud operations of views
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/List/viewsMenu.tsx
  web/src/components/molecules/View/ViewDeletionModal.tsx
  web/src/components/molecules/View/ViewFormModal/index.tsx
  web/src/components/molecules/View/types.ts
  web/src/components/molecules/View/viewMenuItem.tsx
  web/src/components/molecules/View/viewsMenu.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/ViewsMenu/hooks.ts
  web/src/components/organisms/Project/Content/ViewsMenu/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/view.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/index.css
  web/src/utils/values.ts
Labels: web

#904 fix(server): make sure to return unique group schemas to prevent field duplication
  server/pkg/group/list.go
Labels: server

#896 feat(server): get groups by either model or project
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_group.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interfaces/group.go
  server/schemas/group.graphql
Labels: server

#870 feat(web): add advanced filters to items table
  web/src/components/atoms/Icon/Icons/control.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/DropdownRender.tsx
  web/src/components/molecules/Content/Table/filterDropdown.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/Table/types.ts
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Schema/types.ts
  web/src/components/molecules/View/ViewDeletionModal.tsx
  web/src/components/molecules/View/ViewFormModal/index.tsx
  web/src/components/molecules/View/types.ts
  web/src/components/molecules/View/viewMenuItem.tsx
  web/src/components/molecules/View/viewsMenu.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/ViewsMenu/hooks.ts
  web/src/components/organisms/Project/Content/ViewsMenu/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/gql/queries/view.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/index.css
  web/src/utils/values.ts
Labels: server, web

#903 feat(server): support group fields in integration api
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/integrationapi/value.go
  server/schemas/integration.yml
Labels: server, web

#907 fix(web): number field validation
  web/src/components/molecules/Schema/FieldModal/FieldValidationInputs/index.tsx
Labels: web

#908 fix(web): disable boolean field validation
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
Labels: web

#909 fix(server): fix group and metadata bugs
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/integrationapi/value.go
  server/pkg/item/item.go
  server/schemas/integration.yml
Labels: server

#912 fix(server): filtering/sorting was not working on basic fields
  go.work.sum
  server/e2e/gql_item_test.go
  server/internal/infrastructure/mongo/item.go
Labels: server

#914 fix(web): add validation for select field
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#913 chore(server): add original item id to the metaItem
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interfaces/item.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/builder.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/schemas/integration.yml
  server/schemas/item.graphql
Labels: server

#915 fix(web): disable boolean fields validation
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#917 fix(web): date field's default value
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/group.ts
Labels: web
