Repository reearth/reearth-cms, pull requests merged in 2023-05, with the labels that each got.

#715 fix(server): skip update when PreviewType cannot be detected
  server/internal/usecase/interactor/asset.go
Labels: server

#710 chore(server): update all dependencies
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#717 fix(server): compare versions before update
  go.work.sum
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interfaces/item.go
  server/schemas/item.graphql
Labels: server

#718 feat(web): concurrent Edit Prevention for Forms
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/convertItem.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: web

#719 feat(worker): resumable decompressor
  worker/internal/infrastructure/fs/file.go
  worker/internal/infrastructure/fs/file_test.go
  worker/internal/infrastructure/gcp/gcs.go
  worker/internal/usecase/gateway/file.go
  worker/internal/usecase/interactor/decompress.go
  worker/pkg/decompressor/decompressor.go
  worker/pkg/decompressor/decompressor_test.go
Labels: worker

#720 chore(server,worker): improve error message
  server/internal/app/m2m.go
  worker/internal/usecase/interactor/decompress.go
Labels: server, worker

#721 feat(worker): add retry policy
  worker/internal/infrastructure/gcp/gcs.go
Labels: worker

#723 feat(server): support AWS S3
  go.work.sum
  server/go.mod
  server/go.sum
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/app/config.go
  server/internal/app/repo.go
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/aws/file_test.go
Labels: server

#724 fix(server): change to fallback on failure to issue signed url
  server/internal/infrastructure/gcp/file.go
Labels: server

#727 feat(web): add AWS cognito support
  web/index.html
  web/package.json
  web/src/App.tsx
  web/src/auth/Auth0Auth.ts
  web/src/auth/AuthHook.ts
  web/src/auth/AuthProvider.tsx
  web/src/auth/CognitoAuth.ts
  web/src/auth/index.tsx
  web/src/auth/provider.tsx
  web/src/auth/useAuth.ts
  web/src/aws-config.ts
  web/src/config.ts
  web/src/env.d.ts
  web/src/main.tsx
  web/yarn.lock
Labels: web

#728 perf(server): improve FoldFiles performance
  server/pkg/asset/file.go
  server/pkg/asset/file_test.go
Labels: server

#726 feat(worker): add AWS S3 and SNS support
  worker/go.mod
  worker/go.sum
  worker/internal/app/config.go
  worker/internal/app/handler.go
  worker/internal/app/repo.go
  worker/internal/infrastructure/aws/buffer.go
  worker/internal/infrastructure/aws/s3.go
  worker/internal/infrastructure/aws/sns.go
  worker/internal/infrastructure/aws/writecloser.go
Labels: worker
