Repository reearth/reearth-cms, pull requests merged in 2023-09, with the labels that each got.

#812 feat(server): add isItemReferenced query
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/schemas/item.graphql
Labels: server

#816 fix(server): tag default value was not handled correctly
  go.work.sum
  server/.graphqlconfig
  server/e2e/common_test.go
  server/e2e/gql_field_test.go
  server/e2e/gql_model_test.go
  server/e2e/gql_porject_test.go
  server/e2e/gql_workspace_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/usecase/interactor/asset_test.go
  server/pkg/schema/field_tag.go
  server/pkg/schema/field_tag_test.go
  server/pkg/value/string.go
  server/pkg/value/string_test.go
  server/schemas/field.graphql
Labels: server

#809 feat(server): reference field
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/gql/resolver_schema_field_reference.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/interfaces/schema.go
  server/internal/usecase/repo/Item.go
  server/pkg/schema/corresponding_field.go
  server/pkg/schema/corresponding_field_test.go
  server/pkg/schema/field_reference.go
  server/pkg/schema/field_reference_test.go
  server/pkg/schema/type_property_test.go
  server/schemas/field.graphql
  server/schemas/item.graphql
Labels: server

#794 feat(web): add reference field
  web/src/components/atoms/Icon/Icons/arrowUpRight.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemModal/hooks.ts
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/Content/PublishItemModal/index.tsx
  web/src/components/molecules/Content/ReferenceItem/index.tsx
  web/src/components/molecules/Content/RequestCreationModal/index.tsx
  web/src/components/molecules/Content/WarningText/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/gql/queries/model.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/values.ts
Labels: web

#818 feat(web): hide metadata
  web/src/components/molecules/Schema/FieldList.tsx
Labels: web

#819 fix(server): publish items on different models
  server/internal/usecase/interactor/item.go
Labels: server

#801 feat(server): meta schema fields
  server/gqlgen.yml
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_model.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/adapter/gql/resolver_mutation_model.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/infrastructure/mongo/mongodoc/item_test.go
  server/internal/infrastructure/mongo/mongodoc/model.go
  server/internal/infrastructure/mongo/mongodoc/model_test.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/interfaces/model.go
  server/pkg/asset/builder_test.go
  server/pkg/item/builder.go
  server/pkg/item/builder_test.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/model/builder.go
  server/pkg/model/builder_test.go
  server/pkg/model/model.go
  server/pkg/model/model_test.go
  server/pkg/schema/field_tag_color.go
  server/pkg/schema/type_property_test.go
  server/pkg/thread/builder_test.go
  server/pkg/thread/thread_test.go
  server/schemas/field.graphql
  server/schemas/item.graphql
  server/schemas/model.graphql
Labels: server

#821 feat(web): resolve gql issues
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: web

#817 feat(server): reference items
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/pkg/item/item.go
  server/pkg/item/reference.go
  server/pkg/item/reference_test.go
Labels: server

#822 feat(web): reset form after closing
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
Labels: web

#823 feat(server,worker): update gcs-unzip
  server/internal/infrastructure/gcp/taskrunner.go
  worker/decompressor.Dockerfile
Labels: server, worker

#820 feat(server): item title
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/schemas/item.graphql
Labels: server

#824 feat(web): add reference item title
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/Content/PublishItemModal/index.tsx
  web/src/components/molecules/Content/ReferenceItem/index.tsx
  web/src/components/molecules/Content/RequestCreationModal/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: web

#826 fix(server): skip version validation for metadata Items
  server/internal/usecase/interactor/item.go
Labels: server

#825 feat(web): add meta items
  web/src/components/atoms/InnerContents/complex.tsx
  web/src/components/atoms/Tabs/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TagField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/convertItem.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/field.ts
  web/src/gql/queries/item.ts
  web/src/gql/queries/model.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/stringUtils.ts
  web/src/utils/values.ts
Labels: web

#827 fix(server): isItemReferenced query is not returning the correct value
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
Labels: server

#829 fix(web): disable reference direction on update field
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#830 fix(web): display item's title for reference in items gird
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#811 feat(server): update integration + webhook for ref field
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/item.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/item.go
  server/schemas/integration.yml
Labels: server

#831 fix(web): key is not valid in update ref field
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
Labels: web

#835 fix(web): add created and updated by to meta
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/convertItem.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/item.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#833 fix(web): tags colors
  web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TagField/index.tsx
Labels: web

#834 fix(web): initial tag value
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#836 fix(web): display updateBy's value in item's details
  web/src/components/organisms/Project/Content/convertItem.ts
Labels: web

#837 fix(web): multi tags design
  web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TagField/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#838 fix(web): reference field showing 0
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
Labels: web

#839 fix(web): updating items publish status
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
Labels: web

#840 fix(web): revert meta form design changes
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#844 feat(web): add entry data and publish status
  web/src/components/atoms/Icon/Icons/lineSegments.svg
  web/src/components/atoms/Icon/Icons/terminalWindow.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#841 fix(web): referenced item status
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/Content/ReferenceItem/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/Table/types.ts
Labels: web

#843 fix(web): update metadata field
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#845 fix(web): meta fields order
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Schema/hooks.ts
Labels: web

#842 fix(web): get items by schema
  web/src/components/molecules/Model/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/convertModel.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/model.ts
Labels: web

#846 fix(web): entry information typo
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#847 fix(web): hide isTitle in meta fields
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#850 fix(web): boolean and checkbox default value
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
Labels: web

#848 feat(server): add the ability to reset the titleField
  server/internal/usecase/interactor/schema.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
Labels: server

#851 fix(server): delete metadata fields
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/schemas/field.graphql
Labels: server

#852 fix(web): delete metadata fields
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/field.ts
Labels: web

#849 feat(server): add self reference support
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/schema.go
Labels: server

#860 fix(web): date field's initial and default value
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#861 fix(web): date field
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/DateField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#858 refactor(server,web): use Operator instead of ItemEditor
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/schemas/item.graphql
  web/codegen.yml
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
Labels: server, web

#859 chore(web): add missing translations
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#864 Revert "feat(server,worker): update gcs-unzip"
  server/internal/infrastructure/gcp/taskrunner.go
  worker/decompressor.Dockerfile
Labels: server, worker

#865 feat(server,worker): update decompressor
  server/internal/infrastructure/gcp/taskrunner.go
  worker/decompressor.Dockerfile
Labels: server, worker

#866 fix(web): reference item's title
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#867 fix(web): tag field
  web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#862 refactor(server): update two way reference item
  server/e2e/gql_field_test.go
  server/e2e/gql_item_test.go
  server/e2e/gql_model_test.go
  server/internal/usecase/interactor/item.go
  server/pkg/item/field.go
  server/pkg/item/field_test.go
  server/pkg/item/fields.go
  server/pkg/item/fields_test.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
Labels: server

#868 fix(web): send tag id on update
  web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web
