Repository reearth/reearth-cms, pull requests merged in 2023-03, with the labels that each got.

#663 fix(web): preserve user on login
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/pages/RootPage/index.tsx
  web/src/state/index.ts
Labels: bug, web

#662 fix(web): clear selected assets after deletion
  web/src/components/organisms/Asset/AssetList/hooks.ts
Labels: bug, web

#657 feat(server): add an asset resolver for item (#657
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/schemas/item.graphql
Labels: server

#659 feat(web): fetch file names in content page (#659)Co-authored-by: basel.issmail <basel.issmail@gmail.com>
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
  web/src/gql/queries/item.ts
Labels: web

#654 feat(web): layer selection in MVT preview (#654)Co-authored-by: HideBa <49897538+HideBa@users.noreply.github.com> Co-authored-by: hideba <baba.papa1120.ba@gmail.com>
  web/package.json
  web/src/components/atoms/AutoComplete/index.ts
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/imagery.test.ts
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/yarn.lock
Labels: web

#664 fix(server): item asset resolver issue
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/schemas/item.graphql
Labels: bug, server

#667 fix(server): item schema mapping
  server/internal/adapter/gql/gqlmodel/convert_item.go
Labels: bug, server

#671 feat(web): unlink assets in content page
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/gql/provider.tsx
Labels: web

#672 fix(web): unlink assets prevent cache
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
Labels: web

#666 feat(web): support gltf file preview
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/index.ts
Labels: web

#674 fix(web): extend limit of request list(workaround)
  web/src/components/organisms/Project/Content/hooks.ts
Labels: web

#675 feat(server): add API to fetch a request by ID
  server/internal/adapter/gql/resolver_query.go
Labels: server

#678 fix(web): member search in request details page
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
Labels: web

#676 feat(web): open assets in another tab from content details page and request page
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#677 feat(web): add pagination to request modal
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
Labels: bug, web

#673 refactor(web): prevent from fetching a lot of data on request list and detail page
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
  web/src/components/organisms/Project/Request/convertRequest.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/project.ts
  web/src/gql/queries/requests.ts
Labels: server, web

#679 fix(web): add request
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/requests.ts
Labels: web
