Repository reearth/reearth-cms, pull requests merged in 2023-04, with the labels that each got.

#684 feat(server): add model api to integration api (#684
  server/Makefile
  server/e2e/integration_item_test.go
  server/e2e/integration_model_test.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/integration/model.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/memorygit/memory_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/infrastructure/mongo/mongogit/document.go
  server/internal/infrastructure/mongo/mongogit/document_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/request_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/list_test.go
  server/pkg/version/value.go
  server/pkg/version/value_test.go
  server/pkg/version/values.go
  server/pkg/version/values_test.go
  server/schemas/integration.yml
Labels: server

#683 feat(server): add decompress asset mutation to gql
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/schemas/asset.graphql
Labels: server

#685 feat(web): add decompress files action
  web/src/components/atoms/Icon/Icons/unzip.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#686 fix(web): decompress action cache (#686)Co-authored-by: basel.issmail <basel.issmail@gmail.com>
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/AssetListTable/hooks.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#689 feat(web): add copy action
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/card.tsx
Labels: web

#687 feat(server): unpublish item
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/memorygit/memory.go
  server/internal/infrastructure/memory/memorygit/memory_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/schemas/item.graphql
Labels: server

#688 feat(web): add unpublish item
  web/codegen.yml
  web/src/components/atoms/Dropdown/index.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#692 fix(web): ui improvements
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/molecules/Common/CommentsPanel/index.tsx
  web/src/components/molecules/ProjectList/ProjectCard.tsx
  web/src/components/molecules/ProjectOverview/ModelCard.tsx
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/index.css
Labels: web

#682 test(server): mongo docs
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset_test.go
  server/internal/infrastructure/mongo/mongodoc/consumer.go
  server/internal/infrastructure/mongo/mongodoc/consumer_test.go
  server/internal/infrastructure/mongo/mongodoc/event.go
  server/internal/infrastructure/mongo/mongodoc/event_test.go
  server/internal/infrastructure/mongo/mongodoc/integration.go
  server/internal/infrastructure/mongo/mongodoc/integration_test.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/infrastructure/mongo/mongodoc/item_test.go
  server/internal/infrastructure/mongo/mongodoc/model.go
  server/internal/infrastructure/mongo/mongodoc/model_test.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/project_test.go
  server/internal/infrastructure/mongo/mongodoc/request.go
  server/internal/infrastructure/mongo/mongodoc/request_test.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/infrastructure/mongo/mongodoc/schema_test.go
  server/internal/infrastructure/mongo/mongodoc/thread.go
  server/internal/infrastructure/mongo/mongodoc/thread_test.go
  server/internal/infrastructure/mongo/mongodoc/user.go
  server/internal/infrastructure/mongo/mongodoc/user_test.go
  server/internal/infrastructure/mongo/mongodoc/workspace.go
  server/internal/infrastructure/mongo/mongodoc/workspace_test.go
Labels: server

#660 test(server): updater linter and resolve linting issues
  go.work.sum
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/convert_user_test.go
  server/internal/infrastructure/memory/request_test.go
  server/internal/infrastructure/memory/user_test.go
  server/internal/usecase/operator.go
Labels: server

#653 test(server): usecase layer
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interactor/common_test.go
  server/internal/usecase/interactor/integration_test.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interactor/workspace.go
  server/internal/usecase/operator_test.go
Labels: server

#652 refactor(server): asset and local file system
  server/e2e/integration_asset_project_test.go
  server/e2e/testData/image.png
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/gqlmodel/convert.go
  server/internal/adapter/gql/gqlmodel/convert_test.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/integration/asset.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcp/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/common.go
  server/pkg/asset/file_builder.go
  server/pkg/file/file.go
  server/pkg/file/file_test.go
  server/pkg/file/testdata/test.txt
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#695 feat(web): use file name provided by backend instead of extracting from URL
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/components/organisms/Asset/utils.test.ts
  web/src/components/organisms/Asset/utils.ts
  web/src/gql/fragments/asset.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
Labels: web

#645 test(server): e2e for assets
  server/e2e/common_test.go
  server/e2e/integration_asset_project_test.go
  server/e2e/integration_asset_test.go
  server/e2e/integration_item_project_test.go
  server/e2e/integration_item_test.go
  server/schemas/integration.yml
Labels: server

#668 feat(server): support csv response in public API
  server/internal/adapter/publicapi/api.go
  server/internal/adapter/publicapi/item.go
Labels: server

#697 feat(web): update dependencies
  web/package.json
  web/src/components/atoms/Icon/index.tsx
  web/src/components/atoms/UserAvatar/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/i18n/locale.ts
  web/src/utils/file.ts
  web/yarn.lock
Labels: web

#705 feat(web): Storybook update
  web/.storybook/main.ts
  web/.storybook/preview.ts
  web/package.json
  web/src/stories/Button.stories.tsx
  web/src/stories/Button.tsx
  web/src/stories/Header.stories.tsx
  web/src/stories/Header.tsx
  web/src/stories/Introduction.stories.mdx
  web/src/stories/Page.stories.tsx
  web/src/stories/Page.tsx
  web/src/stories/button.css
  web/src/stories/header.css
  web/src/stories/page.css
  web/yarn.lock
Labels: web

#691 feat(server,web): asset upload with signed URL
  server/e2e/integration_asset_project_test.go
  server/go.mod
  server/go.sum
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/asset_upload.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/asset_upload.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/repo/asset_upload.go
  server/internal/usecase/repo/container.go
  server/pkg/asset/upload.go
  server/pkg/asset/upload_builder.go
  server/schemas/asset.graphql
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
Labels: server, web

#712 fix(server): add AssetUpload
  server/internal/usecase/repo/container.go
Labels: server

#713 fix(web,server): set content-type to signed URL from GCS
  server/internal/infrastructure/gcp/file.go
  web/src/components/organisms/Asset/AssetList/hooks.ts
Labels: server, web

#714 fix(web,server): improved asset content-type setting for gcs upload via signed url
  server/Dockerfile
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcp/file.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/schemas/asset.graphql
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
Labels: server, web
