Repository reearth/reearth-cms, pull requests merged in 2023-07, with the labels that each got.

#768 feat(web): prevent multi creation clicks
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/RequestCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#769 feat(web): prevent empty values
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#765 feat(server): add request roles logic to item
  server/internal/usecase/interactor/item.go
  server/internal/usecase/operator.go
  server/internal/usecase/operator_test.go
Labels: server

#767 feat(web): add project request permissions
  web/src/components/molecules/ProjectSettings/DangerZone.tsx
  web/src/components/molecules/ProjectSettings/GeneralForm.tsx
  web/src/components/molecules/ProjectSettings/RequestOptions.tsx
  web/src/components/molecules/ProjectSettings/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Project/settings/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/project.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#772 feat(web): revert role request
  web/src/components/molecules/ProjectSettings/index.tsx
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/project.ts
Labels: web

#773 fix(server): prevent empty options
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
Labels: server

#749 feat(server): enable/disable request feature for specific roles in projects
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/project_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/operator.go
  server/internal/usecase/operator_test.go
  server/pkg/project/builder.go
  server/pkg/project/builder_test.go
  server/pkg/project/project.go
  server/pkg/project/project_test.go
  server/schemas/project.graphql
Labels: server

#775 feat(web): add project request permissions
  web/src/components/molecules/ProjectSettings/index.tsx
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/project.ts
Labels: web

#729 feat(worker): add AWS support to decompress and webhook handlers
  go.work.sum
  worker/go.mod
  worker/go.sum
  worker/internal/app/handler.go
Labels: worker

#762 feat(server): add AWS support to notify handler
  server/go.mod
  server/go.sum
  server/internal/app/m2m.go
Labels: server

#774 chore: upgrade go version and dependencies
  go.work
  go.work.sum
  server/Dockerfile
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/app/main.go
  server/internal/app/repo.go
  server/internal/infrastructure/aws/file_test.go
  worker/Dockerfile
  worker/go.mod
  worker/go.sum
  worker/internal/app/handler.go
  worker/internal/app/main.go
  worker/internal/infrastructure/aws/sns.go
Labels: server, worker

#725 feat(server): add AWS SNS to infrastructure
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/app/config.go
  server/internal/app/repo.go
  server/internal/infrastructure/aws/taskrunner.go
  server/internal/infrastructure/aws/webhook.go
Labels: server

#776 fix(server): item publishing condition
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
Labels: server

#777 fix: revert GCP changes in the handlers
  server/internal/app/m2m.go
  worker/internal/app/handler.go
Labels: server, worker

#778 feat(web): add copy icon next to images' title
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
Labels: web

#779 fix(web): disable use request for reader role
  web/src/components/molecules/ProjectSettings/RequestOptions.tsx
Labels: web

#782 fix(worker): use gcs-unzip:v0.1.5 for shiftjis filepath
  worker/decompressor.Dockerfile
Labels: worker

#784 feat(web): add copy icon to all asset types
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
Labels: web

#786 fix(server): fix roles conversion in the project gql model, add all roles to project's request roles list on project creation, create item publish mutation, and compare user's rule with the project request roles on creating a request
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/convert_project_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_item.go
  server/internal/adapter/gql/resolver_mutation_project.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interfaces/item.go
  server/pkg/project/builder.go
  server/schemas/item.graphql
Labels: server

#785 fix(web): add publish action when the user's role is not add to the project request roles
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/ProjectSettings/RequestOptions.tsx
  web/src/components/molecules/ProjectSettings/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/gql/queries/project.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/state/index.ts
Labels: web

#780 feat(server): add item change to webhook payload of item update event
  go.work.sum
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/item.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/field.go
  server/pkg/item/field_change.go
  server/pkg/item/field_change_test.go
  server/pkg/item/field_test.go
  server/pkg/item/item.go
Labels: server

#787 fix(server): remove creating request restrictions for users who skip requests
  server/internal/usecase/interactor/request.go
Labels: server

#788 feat(web): always show request action for item
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
Labels: web

#790 fix(server): check if the item is already published before running the publish process
  server/internal/usecase/interactor/item.go
Labels: server

#791 chore(web): add missing Japanese translations
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#792 test: fix item.CompareFields test
  server/go.sum
  server/pkg/item/field_change.go
  server/pkg/item/field_change_test.go
Labels: server
