Repository reearth/reearth-cms, pull requests merged in 2023-06, with the labels that each got.

#730 feat(server): change asset file from property to collection
  server/internal/infrastructure/memory/asset_file.go
  server/internal/infrastructure/mongo/asset_file.go
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/builder.go
Labels: server

#732 chore(server): remove flaky test
  server/pkg/thread/comment_test.go
Labels: server

#734 feat(web): deploy to AWS amplify
  web/.gitignore
  web/amplify.yml
  web/amplify/.config/project-config.json
  web/amplify/README.md
  web/amplify/backend/backend-config.json
  web/amplify/backend/hosting/S3AndCloudFront/parameters.json
  web/amplify/backend/hosting/S3AndCloudFront/template.json
  web/amplify/backend/tags.json
  web/amplify/backend/types/amplify-dependent-resources-ref.d.ts
  web/amplify/cli.json
  web/amplify/hooks/README.md
  web/amplify/team-provider-info.json
  web/package.json
Labels: web

#735 feat(server,worker): add CloudBuild task runner
  .github/workflows/decompressor_build.yml
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/app/repo.go
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/config_test.go
  server/internal/infrastructure/gcp/error.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  worker/cmd/decompressor/main.go
  worker/decompressor.Dockerfile
Labels: server, worker

#737 chore(worker,server): tiny fix for decompressor
  .github/workflows/decompressor_build.yml
  server/internal/app/repo.go
Labels: server

#731 ci: AWS manual deployment workflow
  .DS_Store
  .github/workflows/ci_web.yml
  .github/workflows/deploy_aws.yml
  web/amplify/backend/types/amplify-dependent-resources-ref.d.ts
Labels: web

#740 feat(worker): use gcs-unzip v0.1.2
  worker/decompressor.Dockerfile
Labels: worker

#739 chore(web): update cesium module
  web/package.json
  web/yarn.lock
Labels: web

#742 ci: fix frontend deploying action
  .github/workflows/deploy_aws.yml
  web/amplify.yml
Labels: web

#744 feat(worker): use gcs-unzip v0.1.3
  worker/decompressor.Dockerfile
Labels: worker

#736 chore(worker): add Makefile and .env.example
  .gitignore
  worker/.env.example
  worker/Makefile
Labels: worker

#746 feat(server): automatic asset decompression retry
  server/internal/adapter/http/task.go
  server/internal/app/m2m.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/gateway/gatewaymock/task.go
  server/internal/usecase/gateway/task.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
Labels: server

#760 feat(decompressor): use gcs-unzip v0.1.4
  worker/decompressor.Dockerfile
Labels: worker

#759 fix(server): fixed an error if asset files are empty
  server/internal/infrastructure/mongo/asset_file.go
Labels: server

#761 fix(server): avoid transaction timeout on asset notify
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
Labels: server

#763 perf(server): speed up Asset.FindByProject
  server/internal/infrastructure/mongo/asset.go
Labels: server

#650 test(server): test cases for the value domain model
  server/pkg/value/match_test.go
  server/pkg/value/number_test.go
  server/pkg/value/reference_test.go
  server/pkg/value/string_test.go
  server/pkg/value/url_test.go
Labels: server

#758 fix(server): swapped maintaining projects and owning projects
  server/internal/app/auth_client.go
Labels: server
