Repository reearth/reearth-cms, pull requests merged in 2023-01, with the labels that each got.

#471 feat(server): integration API can accept keys as model IDs
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/asset_comment.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/item_comment.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/model.go
  server/internal/infrastructure/mongo/model.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/repo/model.go
  server/pkg/integrationapi/item.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/key/key.go
  server/pkg/key/key_test.go
  server/schemas/integration.yml
Labels: server

#540 feat(server): add operator field to webhook payload
  server/internal/infrastructure/gcp/webhook.go
  server/internal/usecase/interactor/item.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/event.go
  server/pkg/integrationapi/schema.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/item.go
  server/schemas/integration.yml
  worker/pkg/webhook/webhook.go
Labels: server, worker

#538 feat(web): change max length of fields description to 1000
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#543 feat(web): refetch requests after create/update
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#539 feat(web): redesign accessibility screen
  web/src/App.tsx
  web/src/components/atoms/InnerContents/ContentSection/index.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/state/index.ts
Labels: web

#537 feat(server): customized order of schema fields
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/schema.go
  server/pkg/schema/field.go
  server/pkg/schema/field_builder.go
  server/pkg/schema/list.go
  server/pkg/schema/list_test.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
  server/schemas/field.graphql
Labels: server

#534 feat(server): item sorting
  server/go.mod
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
  server/pkg/item/query.go
  server/pkg/item/query_test.go
  server/pkg/item/sort.go
  server/pkg/item/sort_direction.go
  server/pkg/item/sort_direction_test.go
  server/pkg/item/sort_test.go
  server/schemas/_shared.graphql
  server/schemas/item.graphql
Labels: server

#546 feat(server): integration API to get items by model key
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/model.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/project.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/model.go
  server/internal/usecase/repo/project.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/model/id.go
  server/pkg/model/id_test.go
  server/pkg/project/id.go
  server/pkg/project/id_test.go
  server/schemas/integration.yml
Labels: server

#530 feat(server): add resolver for item user and integration
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/schemas/item.graphql
Labels: server

#548 feat(server): item publish webhook
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/request_test.go
Labels: server

#549 fix(server): item sorting throw exception on nil
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
Labels: server

#547 feat(web): change preview item on Request detail page
  web/src/components/atoms/Collapse/index.tsx
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueSelect/index.tsx
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Request/convertRequest.ts
Labels: web

#544 feat(web): show approve/deny request actions only to authorized users
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Request/convertRequest.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#495 feat(server): add mvt, svg and update preview types
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/asset/preview_type.go
  server/pkg/asset/preview_type_test.go
  server/pkg/integrationapi/asset.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/asset.graphql
  server/schemas/integration.yml
Labels: server

#535 feat(web): czml, kml and geojson support
  web/src/components/atoms/TilesetPreview/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/Cesium3dTileSetComponent.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/CzmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/GeoJsonComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/KmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/ImageViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/SvgViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/index.ts
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/molecules/Common/Asset/index.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
Labels: web

#551 feat(server): offset based pagination support
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert.go
  server/internal/adapter/gql/gqlmodel/convert_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/loader_model.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_query.go
  server/schemas/_shared.graphql
  server/schemas/asset.graphql
  server/schemas/item.graphql
  server/schemas/model.graphql
  server/schemas/project.graphql
  server/schemas/request.graphql
Labels: server

#552 feat(web): update gql changes for offset based pagination
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Workspace/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/gql/queries/model.ts
  web/src/gql/queries/project.ts
  web/src/gql/queries/requests.ts
Labels: web

#553 feat(web): add update delete comments
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Common/CommentsPanel/CommentList.tsx
  web/src/components/molecules/Common/CommentsPanel/Thread.tsx
  web/src/components/molecules/Common/CommentsPanel/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/Details/Comment.tsx
  web/src/components/molecules/Request/Details/CommentList.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Common/CommentsPanel/index.tsx
  web/src/components/organisms/Project/Content/convertItem.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Request/convertRequest.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#554 feat(server): update fields by keys with integration API
  server/e2e/integration_item_test.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/item/list.go
  server/pkg/key/key.go
  server/pkg/key/key_test.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
  server/schemas/integration.yml
Labels: server

#550 feat(server): signup API
  server/internal/adapter/http/user.go
  server/internal/app/app.go
  server/internal/app/public.go
  server/internal/usecase/interactor/user_signup.go
  server/internal/usecase/interactor/user_signup_test.go
  server/internal/usecase/interfaces/user.go
  server/internal/usecase/repo/user.go
Labels: server

#555 feat(server): request filter by multiple statuses
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_request.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/request.go
  server/internal/infrastructure/memory/request_test.go
  server/internal/infrastructure/mongo/request.go
  server/internal/infrastructure/mongo/request_test.go
  server/internal/usecase/interactor/request_test.go
  server/internal/usecase/interfaces/request.go
  server/internal/usecase/repo/request.go
  server/schemas/request.graphql
Labels: server

#556 feat(web): allow change multi-value option even after field is created
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
Labels: web

#496 feat(web): implement mvt preview
  web/package.json
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewTypeSelect.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/index.ts
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/molecules/Common/Asset/index.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/yarn.lock
Labels: web

#545 feat(web): add fields order
  web/package.json
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/field.ts
  web/src/gql/queries/model.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/index.css
  web/yarn.lock
Labels: web

#557 feat(web): add request pagination
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/requests.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#558 fix(web): request pagination parameters
  web/src/components/molecules/Request/Table/index.tsx
Labels: bug, web

#565 feat(server): apply sorting to assets
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/adapter/integration/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/sort_type.go
  server/pkg/asset/sort_type_test.go
  server/schemas/asset.graphql
Labels: server

#533 feat(web): show the item’s author in content page
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Request/convertRequest.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/item.ts
Labels: web

#564 fix(web): invalid value is send to backend
  web/src/components/molecules/Common/MultiValueField/index.tsx
Labels: bug, web

#562 fix(web): disable cache for filters
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
Labels: bug, web

#566 fix(server): asset URL in public API
  server/e2e/publicapi_test.go
  server/internal/adapter/publicapi/types.go
  server/internal/adapter/publicapi/types_test.go
Labels: bug, server

#563 feat(web): add content pagination and sorting
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/item.ts
Labels: web

#561 feat(server): apply sorting to request
  go.work.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_request.go
  server/internal/adapter/gql/resolver_query.go
  server/internal/infrastructure/memory/request.go
  server/internal/infrastructure/memory/request_test.go
  server/internal/infrastructure/mongo/request.go
  server/internal/infrastructure/mongo/request_test.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/request_test.go
  server/internal/usecase/interfaces/request.go
  server/internal/usecase/repo/request.go
  server/pkg/request/list.go
  server/schemas/_shared.graphql
  server/schemas/request.graphql
Labels: server

#559 fix(server): fix schema fields
  server/pkg/schema/field.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
Labels: server

#568 fix(server): asset is not sorted by name
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
Labels: bug, server

#572 perf: decompression rate improvement
  worker/internal/usecase/interactor/decompress.go
  worker/internal/usecase/interactor/decompress_test.go
  worker/pkg/decompressor/decompressor.go
  worker/pkg/decompressor/decompressor_test.go
Labels: worker

#560 refactor(web): resium viewer and its comopnents
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/Cesium3dTileSetComponent.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/CzmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/GeoJsonComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/KmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
Labels: web

#574 fix(web): mvt viewer base url
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
Labels: web

#576 fix(web): mvt name regex
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
Labels: web

#571 fix(web): show the right request status
  web/src/components/molecules/Request/Details/RequestStatus.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/requests.ts
Labels: bug, web

#569 feat(web): default request sorting
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/requests.ts
Labels: web

#578 fix(web): support all asset file formats
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
Labels: web

#579 fix(web): reviewers search
  web/src/components/molecules/Content/RequestCreationModal/index.tsx
Labels: bug, web

#580 feat(web): set japan as the default location for mvt
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
Labels: web

#582 feat(web): set default sort
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#584 fix(web): unexpected chinese characters in protable
  web/package.json
  web/yarn.lock
Labels: bug, web

#585 feat(web): set default content order
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
Labels: web

#586 fix(web): assets modal pagination
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
Labels: bug, web

#573 feat(web): implement custom infobox
  web/package.json
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/InfoBox/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/yarn.lock
Labels: web

#587 feat(web): add translation strings
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/components/molecules/Schema/types.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#588 feat(web): sort properties of preview
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/atoms/ResiumViewer/sortProperty.test.ts
  web/src/components/atoms/ResiumViewer/sortProperty.ts
Labels: web

#583 feat(server): item sort by modification date
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/item/list.go
  server/pkg/item/sort.go
  server/pkg/item/sort_test.go
  server/schemas/item.graphql
Labels: server

#589 fix(web): mvt resets viewer location on every click
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
Labels: web

#590 fix(web): viewer re-rendering + refactor
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
Labels: web

#591 style(web): infobox title color
  web/src/components/molecules/Asset/InfoBox/index.tsx
Labels: web

#575 fix(worker): add numWorkers and queueSize & refactor assetFilePath
  worker/pkg/decompressor/decompressor.go
Labels: worker

#593 Revert "fix(worker): add numWorkers and queueSize & refactor assetFilePath"
  worker/pkg/decompressor/decompressor.go
Labels: worker

#594 feat(worker): prevent webhook resend
  .github/workflows/ci_worker.yml
  worker/internal/app/config.go
  worker/internal/app/main.go
  worker/internal/infrastructure/mongo/webhook.go
  worker/internal/infrastructure/mongo/webhook_test.go
  worker/internal/usecase/interactor/usecase.go
  worker/internal/usecase/interactor/webhook.go
  worker/internal/usecase/repo/webhook.go
Labels: worker

#595 fix(web): move camera to feature position for mvt types
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
Labels: web

#598 style(web): basic styling for infobox
  web/src/components/molecules/Asset/InfoBox/index.tsx
Labels: web

#570 feat(server): update multiple fields
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/schema.go
  server/schemas/field.graphql
Labels: server

#597 feat(web): set waiting as default filter status for request list
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
Labels: web

#596 feat(web): update order schema hooks
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/field.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: server, web

#600 fix(server): fix internal error when type property is nil
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
Labels: server

#605 feat(server): support multiple values on public API, public asset API
  server/e2e/publicapi_test.go
  server/internal/adapter/publicapi/api.go
  server/internal/adapter/publicapi/asset.go
  server/internal/adapter/publicapi/types.go
  server/internal/adapter/publicapi/types_test.go
  server/internal/app/m2m.go
  server/pkg/asset/file.go
  server/pkg/asset/file_test.go
  server/pkg/id/key.go
  server/pkg/id/key_test.go
  server/pkg/key/key.go
  server/pkg/model/builder.go
  server/pkg/model/model.go
  server/pkg/model/model_test.go
Labels: server

#604 feat(web): keep history of pagination
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
Labels: web

#603 feat(web): allow users to select multiple items to add them to a request
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
Labels: web

#607 feat(web): add layer name input to mvt viewer
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
Labels: web

#606 feat(web): re-order options values
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#608 feat(web): auto load tileset.json for geo 3d viewer
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
Labels: web

#610 test(server): value pkg unit testing
  server/pkg/value/asset_test.go
  server/pkg/value/bool_test.go
  server/pkg/value/datetime.go
  server/pkg/value/datetime_test.go
  server/pkg/value/integer_test.go
Labels: server

#612 fix(server): return item creation and modification dates
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/schemas/item.graphql
Labels: server

#611 feat(server): skip asset decompression option
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/status.go
  server/pkg/asset/status_test.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/asset.graphql
  server/schemas/integration.yml
Labels: server

#614 fix(server): prevent item duplication in the request
  server/internal/usecase/interactor/request.go
  server/pkg/request/builder.go
  server/pkg/request/builder_test.go
  server/pkg/request/item.go
  server/pkg/request/item_test.go
  server/pkg/request/request.go
  server/pkg/request/request_test.go
Labels: server

#602 fix(worker): remove colliding dirname duplication from decompressed zipfile & refactor
  worker/pkg/decompressor/decompressor.go
Labels: worker

#613 fix(server): items with one integer field are disappearing
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
Labels: server

#615 fix(web): mvt asset base url
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
Labels: web

#617 feat(web): prevent duplicate items in request
  web/src/components/organisms/Project/Content/hooks.ts
Labels: web

#616 feat(web): add pagination parameters to url
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: web

#601 feat(server): i18n for error messages
  .github/workflows/ci_server.yml
  go.work.sum
  server/Makefile
  server/go.mod
  server/go.sum
  server/i18n/embed.go
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/scalar.go
  server/internal/adapter/gql/resolver.go
  server/internal/adapter/gql/resolver_mutation_field.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/publicapi/controller.go
  server/internal/app/app.go
  server/internal/app/graphql.go
  server/internal/app/i18n.go
  server/internal/infrastructure/auth0/authenticator.go
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/gcp/error.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/mailer/direct.go
  server/internal/infrastructure/mailer/smtp.go
  server/internal/infrastructure/mongo/mongodoc/document.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/user.go
  server/internal/usecase/interactor/user_signup.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/interfaces/request.go
  server/internal/usecase/interfaces/schema.go
  server/internal/usecase/interfaces/thread.go
  server/internal/usecase/interfaces/user.go
  server/internal/usecase/interfaces/workspace.go
  server/internal/usecase/repo/container.go
  server/internal/usecase/repo/lock.go
  server/internal/usecase/repo/thread.go
  server/internal/usecase/repo/user.go
  server/pkg/asset/common.go
  server/pkg/file/file.go
  server/pkg/integrationapi/convert.go
  server/pkg/model/model.go
  server/pkg/project/project.go
  server/pkg/request/request.go
  server/pkg/schema/field.go
  server/pkg/schema/field_builder.go
  server/pkg/schema/field_integer.go
  server/pkg/schema/field_select.go
  server/pkg/schema/type_property.go
  server/pkg/thread/common.go
  server/pkg/user/builder.go
  server/pkg/user/members.go
  server/pkg/user/password.go
  server/pkg/user/role.go
  server/pkg/user/user.go
  server/pkg/version/values.go
Labels: server

#599 feat: display item status
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqldataloader/itemstatusloader_gen.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_item_status.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/request.go
  server/internal/infrastructure/memory/request_test.go
  server/internal/infrastructure/mongo/request.go
  server/internal/infrastructure/mongo/request_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/request.go
  server/pkg/item/list.go
  server/pkg/item/status.go
  server/pkg/item/status_test.go
  server/pkg/request/request.go
  server/schemas/item.graphql
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: server, web

#618 fix(server): add missing translation
  server/i18n/ja.yml
Labels: server

#625 feat(web): preserve query strings on back
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#624 feat(web): add skip compression
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/Upload/index.tsx
  web/src/components/molecules/Asset/AssetListTable/hooks.ts
  web/src/components/molecules/Asset/UploadModal/FileItem.tsx
  web/src/components/molecules/Asset/UploadModal/localTab.tsx
  web/src/components/molecules/Asset/UploadModal/util.ts
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#623 fix(web): prevent asset url pagination in modal
  web/src/components/organisms/Asset/AssetList/hooks.ts
Labels: bug, web

#620 feat(web): update content status after adding to request
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
Labels: web

#622 fix(server): validate uniqueness of project alias
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Labels: server

#621 fix(server): item sort not working
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/loader_item.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
Labels: server

#626 fix(web): asset field single to multiple
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
Labels: bug, web
