Repository reearth/reearth-cms, pull requests merged in 2023-02, with the labels that each got.

#628 fix(web): UI collapse when asset name is long
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
Labels: bug, web

#627 fix(server): request filtering is not working correctly
  server/internal/adapter/gql/loader_request.go
Labels: bug, server

#629 feat(server): resolve removed members as null
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_thread.go
  server/internal/adapter/gql/gqlmodel/convert_thread_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_comment.go
  server/internal/adapter/gql/resolver_mutation_thread.go
  server/schemas/thread.graphql
Labels: server

#630 feat(server): auto detect asset type
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
Labels: server

#635 feat(server): add item and model ids to asset
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqldataloader/assetitemloader_gen.go
  server/internal/adapter/gql/gqldataloader/dataloader.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader.go
  server/internal/adapter/gql/loader_asset_item.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/value/asset_test.go
  server/pkg/value/bool_test.go
  server/schemas/asset.graphql
Labels: server

#631 fix(web): update item details
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: bug, web

#632 fix(web): content pagination position
  web/src/components/molecules/Common/ResizableProTable/index.tsx
Labels: bug, web

#634 feat(web): show date according to browser’s timezone
  web/src/utils/format.ts
Labels: web

#637 feat(web): add loading icon when fetching asset
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
Labels: web

#636 fix(web): show anonymous user
  web/src/components/molecules/Request/Details/Comment.tsx
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Project/Content/convertItem.ts
  web/src/components/organisms/Project/Request/convertRequest.ts
Labels: bug, web

#641 fix(web): remove download button from request list
  web/src/components/molecules/Request/Table/index.tsx
Labels: bug, web

#639 fix(web): show asset filename in content page
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
Labels: bug, web

#640 feat(web): show integration api link
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#642 feat(web): allowing to choose unzip asset or not uploading from external URL (#642)Co-authored-by: basel.issmail <basel.issmail@gmail.com>
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Asset/UploadModal/UrlTab.tsx
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
Labels: web

#644 fix(web): public api endpoint
  web/src/components/molecules/Accessibility/index.tsx
Labels: bug, web

#643 perf(worker): concurrent upload of 7zip files (#643
  worker/pkg/decompressor/decompressor.go
Labels: worker

#647 fix(web): long asset name
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
Labels: bug, web

#646 feat(web): persist user workspace on login
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/pages/RootPage/index.tsx
  web/src/state/index.ts
Labels: web

#633 feat(web): add boolean field
  web/src/components/atoms/Icon/Icons/boolean.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Common/MultiValueField/MultiValueSwitch/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/BooleanField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/gql/fragments/request.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/model.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#648 feat(web): assets show linked items
  web/src/components/atoms/Icon/Icons/linked.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/Popover/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/asset.type.ts
  web/src/components/organisms/Asset/Asset/hooks.ts
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Asset/AssetList/index.tsx
  web/src/components/organisms/Asset/convertAsset.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#651 feat(web): add czml description to infobox
  web/package.json
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/InfoBox/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/yarn.lock
Labels: web

#656 feat(server): serve web contents
  .vscode/settings.json
  server/e2e/publicapi_test.go
  server/internal/app/app.go
  server/internal/app/config.go
  server/internal/app/web.go
  server/internal/app/web_config.go
Labels: server

#661 fix(server): disable public api when model is not public
  server/e2e/publicapi_test.go
  server/internal/adapter/publicapi/item.go
Labels: server
