Repository reearth/reearth-cms, pull requests merged in 2024-03, with the labels that each got.

#1084 feat(server): integration API to create asset upload
  go.work.sum
  server/e2e/integration_asset_project_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/integration/api.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/server.gen.go
  server/internal/usecase/interactor/asset.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
  server/tools.go
Labels: server

#1083 fix(web): correct rendering of boolean field in content table
  web/src/components/molecules/Content/RenderField/itemFormat.tsx
Labels: web

#1086 feat(web): increase asset file fragment depth
  web/src/gql/fragments/file.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
Labels: web

#1077 refactor: reference schema field
  server/cmd/db-migrations/common_test.go
  server/cmd/db-migrations/main.go
  server/cmd/db-migrations/ref_field_schema.go
  server/cmd/db-migrations/ref_field_schema_test.go
  server/e2e/gql_field_test.go
  server/e2e/gql_item_test.go
  server/e2e/integration_item_test.go
  server/go.sum
  server/gqlgen.yml
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_schema_field_reference.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/schema.go
  server/pkg/item/reference_test.go
  server/pkg/schema/corresponding_field.go
  server/pkg/schema/corresponding_field_test.go
  server/pkg/schema/field_reference.go
  server/pkg/schema/field_reference_test.go
  server/pkg/schema/type_property_test.go
  server/schemas/field.graphql
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/model.ts
Labels: server, web

#1087 chore(server): fix go mod
  go.work.sum
  server/go.mod
  server/go.sum
Labels: server

#1089 chore(worker): update golang dependencies
  go.work.sum
  worker/go.mod
  worker/go.sum
Labels: worker

#1021 ci(web): add an action to update ion token
  .github/workflows/cron_ion_token_test.yml
Labels: ci

#1068 feat(server): support multiple tenants
  server/e2e/common_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/loader_user.go
  server/internal/app/auth_client.go
  server/internal/app/config.go
  server/internal/app/repo.go
  server/internal/usecase/interactor/common_test.go
Labels: server, ci

#1090 feat(server): item search by referenced item title
  server/internal/adapter/integration/item_test.go
  server/internal/adapter/publicapi/types_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_search.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/schema.go
  server/pkg/schema/id.go
  server/pkg/schema/package.go
  server/pkg/schema/package_test.go
  server/pkg/schema/schema.go
  worker/go.mod
Labels: server, worker

#1091 feat(server,web): support s3 multipart upload
  .github/workflows/deploy_aws.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_asset.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/mongo/mongodoc/asset_upload.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/upload.go
  server/pkg/asset/upload_builder.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/asset.graphql
  server/schemas/integration.yml
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
Labels: server, web, ci

#1093 fix(server): Fixed to use parameter uuid instead of generated uuid
  server/internal/infrastructure/gcp/file.go
Labels: server

#1092 fix(web): add an editable icon on a metadata column header
  web/src/components/molecules/Content/RenderField/ItemFormat.tsx
  web/src/components/molecules/Content/RenderField/index.tsx
  web/src/components/molecules/Content/RenderTitle/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1097 fix(server): item search mongo pipeline
  server/internal/infrastructure/mongo/item_search.go
Labels: server

#1102 feat(web,server): support multi-tenant login
  server/go.mod
  server/go.sum
  server/internal/app/config.go
  server/internal/infrastructure/gcp/config.go
  web/.gitignore
  web/src/App.tsx
  web/src/auth/Auth0Auth.ts
  web/src/auth/AuthProvider.tsx
  web/src/auth/CognitoAuth.ts
  web/src/aws-config.ts
  web/src/components/pages/RootPage/index.tsx
  web/src/config/authInfo.ts
  web/src/config/aws.ts
  web/src/config/index.ts
  web/src/main.tsx
  web/vite.config.ts
Labels: server, web

#1104 fix(web): improve the performance related to the group
  web/e2e/project/item/fields/group.spec.ts
  web/e2e/project/schema.spec.ts
  web/e2e/project/utils/group.ts
  web/src/components/molecules/Common/Form/GroupItem/hooks.ts
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Model/ModelsList/Groups.tsx
  web/src/components/molecules/Model/ModelsList/GroupsList.tsx
  web/src/components/molecules/Model/ModelsList/Models.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/group.ts
Labels: web

#1103 fix(web): table-related and small bugs
  web/e2e/project/asset.spec.ts
  web/e2e/project/content.spec.ts
  web/e2e/project/item/fields/asset.spec.ts
  web/e2e/project/request.spec.ts
  web/e2e/settings/integrations.spec.ts
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/TagField.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1105 refactor(web): model, project, and workspace types
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Accessibility/types.ts
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/Header/types.ts
  web/src/components/molecules/Content/Table/DropdownRender/hooks.ts
  web/src/components/molecules/Content/Table/types.ts
  web/src/components/molecules/Integration/types.ts
  web/src/components/molecules/Model/types.ts
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/DataConverters/setting.ts
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Settings/General/hooks.ts
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Workspace/Settings/hooks.ts
  web/src/components/organisms/Workspace/hooks.ts
  web/src/state/index.ts
Labels: web

#1106 fix(web): after deleting the first view, the current view is not changed
  web/e2e/project/content/content.spec.ts
  web/e2e/project/content/view.spec.ts
  web/e2e/project/item/fields/group.spec.ts
  web/src/components/organisms/Project/Content/ViewsMenu/hooks.ts
  web/src/components/organisms/Project/Content/ViewsMenu/index.tsx
Labels: web

#1107 test(web): add the tests to reorder schema, model, tiles, and terrain by drag and drop
  web/e2e/project/content/content.spec.ts
  web/e2e/project/content/view.spec.ts
  web/e2e/project/schema.spec.ts
  web/e2e/project/utils/field.ts
  web/e2e/project/utils/model.ts
  web/e2e/settings/settings.spec.ts
Labels: web

#1109 fix(web): improve the performance of updating metadata from the table
  web/e2e/project/item/metadata/boolean.spec.ts
  web/e2e/project/item/metadata/checkbox.spec.ts
  web/e2e/project/item/metadata/date.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/project/item/metadata/text.spec.ts
  web/e2e/project/item/metadata/url.spec.ts
  web/src/components/molecules/Content/RenderField/ItemFormat.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1110 fix(web): reference items bug
  web/e2e/project/item/fields/reference.spec.ts
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
Labels: web

#1108 refactor(web): move isItemReferenced query to organisms level
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemModal/hooks.ts
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
Labels: web

#1099 feat(server): asset file paths
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/publicapi/types.go
  server/internal/infrastructure/memory/asset_file.go
  server/internal/infrastructure/mongo/asset_file.go
  server/pkg/asset/file.go
  server/pkg/asset/file_builder.go
  server/pkg/asset/file_builder_test.go
  server/pkg/asset/file_test.go
  server/schemas/asset.graphql
Labels: server

#1100 feat(web): asset file paths
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList.tsx
  web/src/components/molecules/Asset/types.ts
  web/src/gql/fragments/file.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
Labels: web
