Repository reearth/reearth-cms, pull requests merged in 2024-12, with the labels that each got.

#1322 fix(web): disable use as title in meta text field
  web/e2e/project/item/fields/geometryObject.spec.ts
  web/e2e/project/item/fields/group.spec.ts
  web/e2e/project/item/fields/reference.spec.ts
  web/e2e/project/item/metadata/boolean.spec.ts
  web/e2e/project/item/metadata/checkbox.spec.ts
  web/e2e/project/item/metadata/date.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/project/item/metadata/text.spec.ts
  web/e2e/project/item/metadata/url.spec.ts
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#1321 fix(web): item could not be saved if the multiple value had an empty value
  web/e2e/project/item/fields/asset.spec.ts
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#1323 fix(web): support full screen mode when previewing csv file
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
Labels: web

#1330 fix(web): sort the order of tags when saving an item
  web/src/components/molecules/Content/Form/fields/FieldComponents/TagField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/utils.ts
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TagField/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1328 fix(web): enhance validator of required multiple values
  web/e2e/project/item/fields/markdown.spec.ts
  web/e2e/project/item/fields/text.spec.ts
  web/e2e/project/item/fields/textarea.spec.ts
  web/src/components/atoms/Form/index.tsx
  web/src/components/atoms/Input/index.tsx
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/atoms/TextArea/index.tsx
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/AssetField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DateField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DefaultField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/GeometryField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/MarkdownField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/NumberField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/SelectField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/TextareaField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/URLField.tsx
  web/src/components/molecules/Content/Form/fields/utils.ts
Labels: web

#1327 fix(web): disable the save button when creating a new item with invalid metadata
  web/e2e/project/item/metadata/text.spec.ts
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#1334 fix(web): change detection logic of schema setting
  web/src/components/molecules/Schema/FieldModal/hooks.ts
Labels: web

#1337 fix(web): reset selected items when selecting another model
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1339 chore(worker): change context of docker build to root directory
  .github/workflows/build_worker.yml
  worker/Dockerfile
Labels: worker, ci

#1335 fix(web): the logic to update metadata from edit page
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/BoolField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/CheckboxField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DateField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/TagField.tsx
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#1336 fix(web): show url validation error for each value on multiple field
  web/src/components/molecules/Content/Form/fields/FieldComponents/URLField.tsx
  web/src/components/molecules/Content/Form/fields/utils.ts
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/URLField/index.tsx
Labels: web

#1338 fix(web): validate values and avoid redundant queries when updating metadata from table
  web/e2e/common/notification.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/project/item/metadata/update.spec.ts
  web/src/components/molecules/Content/RenderField/ItemFormat.tsx
  web/src/components/molecules/Content/RenderField/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1340 fix(web): ensure the argument of runes function are string
  web/src/components/atoms/Input/index.tsx
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/atoms/TextArea/index.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DefaultField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/MarkdownField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/TextareaField.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/Markdown/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextArea/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextField/index.tsx
Labels: web

#1341 fix(web): behavior of toggling save button when creating item
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#1344 fix(server): add missing mime types
  server/internal/usecase/gateway/file.go
  server/internal/usecase/gateway/file_test.go
Labels: server
