Repository reearth/reearth-cms, pull requests merged in 2024-05, with the labels that each got.

#1143 fix(web): clear fields on close in create project modal
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
Labels: web

#1144 fix(web): populate create project form with initial values
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
Labels: web

#1139 feat(web): scrolling to selected model or group on Schema or Content page
  web/src/components/molecules/Model/ModelsList/GroupsList.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
Labels: web

#1145 feat(web): implement project alias update in settings page
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/ProjectSettings/GeneralForm.tsx
  web/src/components/molecules/ProjectSettings/index.tsx
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Project/settings/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1140 feat(web): fill key or alias by name automatically
  web/e2e/general/project.spec.ts
  web/e2e/project/item/fields/group.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/project/overview.spec.ts
  web/e2e/project/schema.spec.ts
  web/e2e/project/utils/project.ts
  web/src/components/molecules/Common/Form/utils.ts
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/FormModal.tsx
Labels: web

#1138 fix(web): keep search word and selected view after going back to table from edit
  web/e2e/project/content/content.spec.ts
  web/e2e/project/item/fields/asset.spec.ts
  web/e2e/project/item/fields/boolean.spec.ts
  web/e2e/project/item/fields/date.spec.ts
  web/e2e/project/item/fields/group.spec.ts
  web/e2e/project/item/fields/int.spec.ts
  web/e2e/project/item/fields/option.spec.ts
  web/e2e/project/item/fields/reference.spec.ts
  web/e2e/project/item/fields/url.spec.ts
  web/e2e/project/item/metadata/boolean.spec.ts
  web/e2e/project/item/metadata/checkbox.spec.ts
  web/e2e/project/item/metadata/date.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/project/item/metadata/text.spec.ts
  web/e2e/project/item/metadata/update.spec.ts
  web/e2e/project/item/metadata/url.spec.ts
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1148 fix(web): format of standard date field
  web/src/components/molecules/Content/RenderField/ItemFormat.tsx
Labels: web

#1147 fix(web): fill key or alias automatically by lowercase
  web/src/components/molecules/Common/Form/utils.ts
Labels: web

#1146 fix(web): display all data on Request detail
  web/e2e/project/accessibility.spec.ts
  web/e2e/project/item/fields/markdown.spec.ts
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/molecules/Asset/UploadAsset/index.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueBooleanField/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/AssetField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/BoolField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DateField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DefaultField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/IntegerField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/MarkdownField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/SelectField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/TextareaField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/URLField.tsx
  web/src/components/molecules/Content/ReferenceItem/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/DataConverters/content.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/utils.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/utils.ts
  web/src/gql/fragments/request.ts
  web/src/gql/graphql-client-api.tsx
  web/src/index.css
Labels: web

#1149 fix(web): filter drop-down closes by itself when the condition is selectable
  web/src/components/molecules/Content/Table/DropdownRender/index.tsx
Labels: web

#1150 fix(web): keep page number and page size when returning to table from detail
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
Labels: web

#1151 fix(web): view svg source code
  web/src/components/molecules/Asset/Viewers/SvgViewer/index.tsx
Labels: web

#1152 chore(server): update content type handling for uploaded SVG images via URL
  server/internal/infrastructure/gcp/file.go
Labels: server

#1153 feat(server): implement ordering for multiple groups
  server/e2e/gql_group_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_group.go
  server/internal/adapter/gql/gqlmodel/convert_group_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_group.go
  server/internal/infrastructure/memory/group.go
  server/internal/infrastructure/memory/group_test.go
  server/internal/infrastructure/mongo/group.go
  server/internal/infrastructure/mongo/group_test.go
  server/internal/infrastructure/mongo/mongodoc/group.go
  server/internal/infrastructure/mongo/mongodoc/group_test.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interfaces/group.go
  server/internal/usecase/repo/group.go
  server/pkg/group/builder.go
  server/pkg/group/builder_test.go
  server/pkg/group/group.go
  server/pkg/group/group_test.go
  server/pkg/group/list.go
  server/pkg/group/list_test.go
  server/schemas/group.graphql
Labels: server

#1154 feat(server): implement ordering for multiple views
  server/e2e/gql_model_view_test.go
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_view.go
  server/internal/adapter/gql/gqlmodel/convert_view_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_view.go
  server/internal/infrastructure/memory/view.go
  server/internal/infrastructure/mongo/mongodoc/view.go
  server/internal/infrastructure/mongo/view.go
  server/internal/usecase/interactor/view.go
  server/internal/usecase/interfaces/view.go
  server/internal/usecase/repo/view.go
  server/pkg/item/view/builder.go
  server/pkg/item/view/list.go
  server/pkg/item/view/view.go
  server/pkg/item/view/view_test.go
  server/schemas/item_view.graphql
Labels: server

#1159 feat(web): make the project alias readonly instead of disabled
  web/src/components/molecules/Accessibility/index.tsx
Labels: web

#1158 feat(web): add support for multi-group ordering
  web/e2e/project/schema.spec.ts
  web/e2e/project/utils/group.ts
  web/src/components/molecules/Model/ModelsList/Groups.tsx
  web/src/components/molecules/Model/ModelsList/GroupsList.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/DataConverters/schema.ts
  web/src/components/organisms/Project/ModelsMenu/hooks.ts
  web/src/components/organisms/Project/ModelsMenu/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/group.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1161 chore(server): add missing translations
  server/i18n/ja.yml
Labels: server

#1162 fix(server): add order to view document
  server/internal/infrastructure/mongo/mongodoc/view.go
  server/internal/infrastructure/mongo/mongodoc/view_test.go
Labels: server

#1156 feat(server): implement regenerate integration token functionality
  server/e2e/integration_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_mutation_integration.go
  server/internal/usecase/interactor/integration.go
  server/internal/usecase/interactor/integration_test.go
  server/internal/usecase/interfaces/integraton.go
  server/schemas/integration.graphql
Labels: server

#1157 feat(web): implement regenerate integration token functionality
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/MyIntegrations/Settings/index.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/integration.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1163 feat(web): add support for multi-view ordering
  web/e2e/project/content/view.spec.ts
  web/src/components/molecules/Model/ModelsList/Groups.tsx
  web/src/components/molecules/Model/ModelsList/GroupsList.tsx
  web/src/components/molecules/Model/ModelsList/Models.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
  web/src/components/molecules/View/types.ts
  web/src/components/molecules/View/viewsMenu.tsx
  web/src/components/organisms/DataConverters/table.ts
  web/src/components/organisms/Project/Content/ViewsMenu/hooks.ts
  web/src/components/organisms/Project/Content/ViewsMenu/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/view.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1164 feat(web): add the button to copy the value of Integration Token
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
Labels: web

#1155 refactor(server): item reference
  server/internal/adapter/gql/loader_item.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/schema/field_reference.go
  server/pkg/schema/field_reference_test.go
Labels: server

#1160 fix(server): webhook should not be triggered on meta data item creation
  server/internal/usecase/interactor/item.go
Labels: server

#1165 feat(server): add csv to preview type
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/asset/preview_type.go
  server/pkg/asset/preview_type_test.go
  server/pkg/integrationapi/asset.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/asset.graphql
  server/schemas/integration.yml
Labels: server

#1167 ci: migrate to GitHub Apps from PAT
  .github/workflows/deploy_test.yml
  .github/workflows/stage.yml
Labels: ci

#1166 fix(server): sort models, groups and views by order
  server/internal/adapter/gql/loader_view.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/view.go
  server/pkg/group/list.go
  server/pkg/group/list_test.go
  server/pkg/item/view/list.go
  server/pkg/item/view/list_test.go
  server/pkg/model/list_test.go
Labels: server

#1000 chore(web): upgrade cesium and resium versions
  web/netlify.toml
  web/package.json
  web/src/components/atoms/ResiumViewer/provider.ts
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/Cesium3dTileSetComponent.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/yarn.lock
Labels: web
