Repository reearth/reearth-cms, pull requests merged in 2024-07, with the labels that each got.

#1184 fix(web): styling and translation issues
  web/e2e/project/item/fields/reference.spec.ts
  web/e2e/settings/myIntegrations.spec.ts
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Common/Sidebar/index.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/URLField.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Member/MemberTable/index.tsx
  web/src/components/molecules/Model/ModelsList/GroupsList.tsx
  web/src/components/molecules/Model/ModelsList/ModelListBody.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/molecules/Schema/DeletionModal.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/FormModal.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/components/molecules/Schema/index.tsx
  web/src/components/molecules/Settings/FormModal.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/i18n/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1185 feat(server): support fetch projects in integration api
  server/e2e/integration_item_test.go
  server/e2e/integration_project_test.go
  server/internal/adapter/integration/project.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#1183 feat(server): support search by Ids in item filter
  server/e2e/gql_item_test.go
  server/internal/infrastructure/mongo/item_search.go
Labels: server

#1179 feat(server): add geometry field support
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/schema/field_geometry.go
  server/pkg/schema/field_geometry_supported_type_test.go
  server/pkg/schema/field_geometry_supported_types.go
  server/pkg/schema/field_geometry_test.go
  server/pkg/schema/field_point.go
  server/pkg/schema/field_point_test.go
  server/pkg/schema/field_position.go
  server/pkg/schema/field_position_test.go
  server/pkg/schema/type_property.go
  server/pkg/schema/type_property_test.go
  server/pkg/value/match.go
  server/pkg/value/match_test.go
  server/pkg/value/position.go
  server/pkg/value/position_test.go
  server/pkg/value/registry.go
  server/pkg/value/string.go
  server/schemas/field.graphql
Labels: server

#1186 fix(web): show loading for various actions
  web/e2e/project/content/view.spec.ts
  web/e2e/project/item/fields/option.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/src/components/molecules/AccountSettings/DangerZone.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/PublishItemModal/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/Table/types.ts
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Member/MemberRoleModal/index.tsx
  web/src/components/molecules/Member/MemberTable/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/DangerZone.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/WebhookCard/index.tsx
  web/src/components/molecules/ProjectSettings/DangerZone.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/molecules/Schema/DeletionModal.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/components/molecules/View/viewMenuItem.tsx
  web/src/components/molecules/View/viewsMenu.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/molecules/WorkspaceSettings/DangerZone.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Overview/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Integration/index.tsx
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/i18n/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1187 fix(web): ignore invalid characters when auto-filling the key and alias
  web/e2e/general/project.spec.ts
  web/src/components/molecules/Common/Form/utils.ts
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/FormModal.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/regex.ts
Labels: web

#1190 ci: migrate GCR to GAR
  .github/workflows/deploy_test.yml
Labels: ci

#1192 feat(server): support item search in integration api
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/condition.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#1191 fix(web): remove useless key validating when updating some value other than key
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/FormModal.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#1189 feat(server): implement geometry object and geometry editor fields
  server/e2e/gql_field_test.go
  server/e2e/gql_item_test.go
  server/e2e/gql_model_test.go
  server/e2e/integration_item_test.go
  server/e2e/integration_model_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/gql/gqlmodel/convert_value.go
  server/internal/adapter/gql/gqlmodel/convert_value_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/integration/schema.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/integrationapi/value.go
  server/pkg/schema/field_geometry.go
  server/pkg/schema/field_geometry_editor.go
  server/pkg/schema/field_geometry_editor_supported_types.go
  server/pkg/schema/field_geometry_editor_supported_types_test.go
  server/pkg/schema/field_geometry_editor_test.go
  server/pkg/schema/field_geometry_object.go
  server/pkg/schema/field_geometry_object_supported_types.go
  server/pkg/schema/field_geometry_object_supported_types_test.go
  server/pkg/schema/field_geometry_object_test.go
  server/pkg/schema/field_geometry_supported_types.go
  server/pkg/schema/field_geometry_test.go
  server/pkg/schema/type_property.go
  server/pkg/schema/type_property_test.go
  server/pkg/value/match.go
  server/pkg/value/match_test.go
  server/pkg/value/registry.go
  server/pkg/value/string.go
  server/schemas/field.graphql
  server/schemas/integration.yml
Labels: server

#1188 fix(server): geo field missing validations
  server/i18n/en.yml
  server/i18n/ja.yml
  server/pkg/schema/field_geometry_editor.go
  server/pkg/schema/field_geometry_editor_supported_types.go
  server/pkg/schema/field_geometry_editor_test.go
  server/pkg/schema/field_geometry_object.go
  server/pkg/schema/field_geometry_object_test.go
  server/pkg/schema/field_geometry_validation.go
  server/pkg/schema/field_geometry_validation_test.go
Labels: server

#1193 feat(web): preserve table conditions on asset and request page
  web/src/components/atoms/ProTable/index.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Asset/types.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/AssetField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/Table/types.ts
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/View/types.ts
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
Labels: web

#1195 fix: add missing repository URL argument for `configure-docker` command
  .github/workflows/deploy_test.yml
Labels: ci

#1196 ci: add missing checkout before deploy server workflow
  .github/workflows/deploy_test.yml
Labels: ci

#1199 fix(web): changes are not detected for some group fields
  web/src/components/molecules/Content/Form/index.tsx
Labels: web
