Repository reearth/reearth-cms, pull requests merged in 2024-01, with the labels that each got.

#1010 fix(server): filter returns duplicated values
  server/internal/infrastructure/mongo/item.go
Labels: server

#1011 fix(web): initial values of multi assets of multi groups
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#1007 fix(web): workspaces list, partial 404, and styling
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Request/Details/SidebarCard.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Workspace/hooks.ts
Labels: web

#1012 feat(web): workspace settings
  web/src/App.tsx
  web/src/components/atoms/Icon/Icons/workspaceSettings.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/Icon/index.tsx
  web/src/components/atoms/InnerContents/ContentSection/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/Settings.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Settings/Cards.tsx
  web/src/components/molecules/Settings/FormModal.tsx
  web/src/components/molecules/Settings/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/molecules/WorkspaceSettings/GeneralForm.tsx
  web/src/components/molecules/WorkspaceSettings/index.tsx
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Settings/General/convertWorkspaceSettings.ts
  web/src/components/organisms/Settings/General/hooks.ts
  web/src/components/organisms/Settings/General/index.tsx
  web/src/config.ts
  web/src/gql/fragmentMatcher.json
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/workspace.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1013 fix(server): send the new multiple if changed
  server/internal/adapter/gql/resolver_mutation_field.go
Labels: server

#1015 fix(server): schema is not clearing the title field when it's removed
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
Labels: server

#1014 fix(server): field default value are not changing for integer and date
  server/e2e/gql_field_test.go
  server/e2e/gql_model_test.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/pkg/value/datetime.go
  server/pkg/value/datetime_test.go
  server/pkg/value/integer.go
  server/pkg/value/integer_test.go
Labels: server

#1016 fix(server): when updating old workspaces, create workspace settings if not found
  server/internal/usecase/interactor/workspacesettings.go
Labels: server

#1019 fix(server): clearing single asset default value when empty string is sent
  server/pkg/value/asset.go
  server/pkg/value/asset_test.go
Labels: server

#1018 fix(server): defaultvalue is fetching old multiple
  server/internal/usecase/interactor/schema.go
Labels: server

#1017 chore(server): replace workspace settings create func with update or create
  server/internal/adapter/gql/resolver_mutation_workspace.go
  server/internal/adapter/gql/resolver_mutation_workspacesettings.go
  server/internal/usecase/interactor/workspacesettings.go
  server/internal/usecase/interfaces/workspacesettings.go
Labels: server

#1020 fix(web): default value of the schema field
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TagField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
Labels: web

#1023 fix(web): always show entry information and publish status
  web/src/components/molecules/Schema/ModelFieldList.tsx
Labels: web

#1022 fix(web,server): fix and improve the workspace settings
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_workspacesettings.go
  server/internal/adapter/gql/gqlmodel/convert_workspacesettings_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/pkg/workspacesettings/tile.go
  server/schemas/workspacesettings.graphql
  web/src/components/molecules/Asset/Viewers/Settings.tsx
  web/src/components/molecules/Settings/Cards.tsx
  web/src/components/molecules/Settings/FormModal.tsx
  web/src/components/molecules/Settings/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/Settings/General/hooks.ts
  web/src/components/organisms/Settings/General/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/index.css
Labels: server, web

#1024 fix(server): date and asset fields can't be cleared in the item page
  server/pkg/value/asset.go
  server/pkg/value/asset_test.go
  server/pkg/value/datetime.go
  server/pkg/value/datetime_test.go
Labels: server

#1025 fix(server): check nil value for equal func on all non-text types
  server/pkg/value/bool.go
  server/pkg/value/bool_test.go
  server/pkg/value/number.go
  server/pkg/value/number_test.go
  server/pkg/value/reference.go
  server/pkg/value/reference_test.go
  server/pkg/value/url.go
  server/pkg/value/url_test.go
Labels: server

#1026 fix(server): item fields empty string bugs
  server/e2e/gql_field_test.go
  server/e2e/gql_item_test.go
  server/pkg/value/bool.go
  server/pkg/value/integer.go
  server/pkg/value/integer_test.go
  server/pkg/value/url.go
  server/pkg/value/url_test.go
Labels: server

#1028 fix(server): add missing indexes to item and asset
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/item.go
Labels: server

#1029 fix(web): unify settings
  web/src/components/molecules/Settings/FormModal.tsx
  web/src/components/molecules/Settings/index.tsx
  web/src/components/molecules/WorkspaceSettings/GeneralForm.tsx
  web/src/components/organisms/Settings/General/index.tsx
Labels: web

#1027 fix(web): metadata default value and item creating and updating
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/utils.ts
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
Labels: web

#1032 fix(web): add missing translation
  web/src/components/molecules/Settings/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1034 chore(server): add trace to item
  server/internal/adapter/gql/loader_item.go
  server/internal/infrastructure/mongo/item.go
Labels: server

#1033 feat(web): make it possible to change tiles and terrain on the asset preview
  web/src/components/atoms/ResiumViewer/arcgisThumbnail.png
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/atoms/ResiumViewer/noImage.jpg
  web/src/components/atoms/ResiumViewer/provider.ts
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/Settings.tsx
  web/src/components/molecules/Workspace/types.ts
Labels: web

#1037 fix(web): update the item with a new group field
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#1038 fix(web): enable to preview gltf/glb file
  web/src/components/molecules/Asset/Viewers/GltfViewer/Imagery.tsx
Labels: web

#1039 fix(web): minor bugs in appearance, etc.
  web/src/components/atoms/Icon/Icons/group.svg
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#1042 chore(server): update reearthx package
  go.work.sum
  server/go.mod
Labels: server

#1043 chore(server): fix go mod
  server/go.mod
  server/go.sum
Labels: server

#1041 fix(web): not showing empty info box
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
Labels: web

#1045 fix(web): the length of the view title's underline
  web/src/components/molecules/View/viewsMenu.tsx
Labels: web
