Repository reearth/reearth-cms, pull requests merged in 2024-11, with the labels that each got.

#1294 ci: fix branch retrieval in build workflow for web and worker
  .github/workflows/build_web.yml
  .github/workflows/build_worker.yml
Labels: ci

#1295 feat(web): publish multiple items
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#655 feat(server): implement limited scope and token management for public API
  server/e2e/gql_porject_test.go
  server/e2e/integration_test.go
  server/e2e/publicapi_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_integration.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/publicapi/controller.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/pkg/integration/integration.go
  server/pkg/project/publication.go
  server/pkg/project/publication_test.go
  server/schemas/integration.graphql
  server/schemas/project.graphql
Labels: server

#1301 ci(web): update cesium ion token via secret manager
  .github/workflows/cron_ion_token_test.yml
Labels: ci

#1304 feat(web): add limited to public scope
  web/e2e/general/project.spec.ts
  web/e2e/project/accessibility.spec.ts
  web/e2e/project/asset.spec.ts
  web/e2e/project/content/content.spec.ts
  web/e2e/project/item/fields/reference.spec.ts
  web/e2e/project/schema.spec.ts
  web/src/components/atoms/CopyButton/index.tsx
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Accessibility/types.ts
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/card.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/MyIntegrations/List/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/ProjectSettings/GeneralForm.tsx
  web/src/components/molecules/Settings/FormModal.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/DataConverters/project.ts
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Project/settings/index.tsx
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Workspace/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/integration.ts
  web/src/gql/queries/project.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1300 fix(web): show request title on linked request and item title on request content
  web/e2e/project/request.spec.ts
  web/e2e/project/utils/field.ts
  web/e2e/project/utils/item.ts
  web/e2e/project/utils/model.ts
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/DataConverters/content.ts
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/gql/fragments/request.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/item.ts
Labels: web

#1306 fix(web): option and tag field validation enhancement
  web/e2e/project/item/fields/option.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/src/components/atoms/Input/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/URLField/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1298 fix(web): reduce waste of queries to check key and alias
  web/src/components/molecules/Common/ProjectCreationModal/index.tsx
  web/src/components/molecules/ProjectSettings/GeneralForm.tsx
  web/src/components/molecules/Schema/FormModal.tsx
Labels: web

#1308 fix(web): field key unique check for fields in group
  web/e2e/project/item/fields/group.spec.ts
  web/e2e/project/schema.spec.ts
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
Labels: web

#1290 feat(web): add float field
  web/e2e/project/item/fields/float.spec.ts
  web/src/components/atoms/Icon/Icons/infinity.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/atoms/InputNumber/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/NumberField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/index.ts
  web/src/components/molecules/Content/Form/fields/FieldTypesMap.ts
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/Table/DropdownRender/hooks.ts
  web/src/components/molecules/Content/Table/DropdownRender/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Schema/FieldList.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/NumberField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldValidationInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/fieldTypes.ts
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/DataConverters/model.ts
  web/src/components/organisms/DataConverters/schema.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/model.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1285 feat: support user search
  go.work.sum
  server/e2e/gql_user_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_user.go
  server/internal/adapter/gql/resolver_user.go
  server/schemas/user.graphql
  web/src/components/atoms/AutoComplete/index.ts
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/user.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: server, web

#1311 fix(server): number fields type value is empty in integration api
  server/e2e/integration_item_test.go
  server/e2e/integration_model_test.go
  server/e2e/integration_schema_test.go
  server/pkg/integrationapi/value.go
  server/pkg/integrationapi/value_test.go
Labels: server

#1312 test(web): publish and unpublish items from table
  web/e2e/project/content/content.spec.ts
Labels: web

#1309 fix(web): add placeholder for no model on overview page
  web/e2e/project/overview.spec.ts
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/index.tsx
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/ProjectOverview/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1305 fix(web): enable "use as title" option for text, textArea, and markdownText only
  web/e2e/project/item/fields/asset.spec.ts
  web/e2e/project/item/fields/boolean.spec.ts
  web/e2e/project/item/fields/date.spec.ts
  web/e2e/project/item/fields/int.spec.ts
  web/e2e/project/item/fields/option.spec.ts
  web/e2e/project/item/fields/url.spec.ts
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/organisms/DataConverters/content.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#1313 chore(server): fix missing go sum entries
  go.work.sum
  server/go.sum
Labels: server

#1316 chore(server): upgrade reearthx to the latest version
  server/go.mod
  server/go.sum
Labels: server

#1319 chore(server): item import performance enhancement
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/memorygit/memory.go
  server/internal/infrastructure/memory/thread.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/mongodoc/thread.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/thread.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/repo/Item.go
  server/internal/usecase/repo/thread.go
  server/pkg/item/id.go
  server/pkg/item/list.go
  server/pkg/thread/list.go
Labels: server

#1314 fix(web): preview asset in full screen
  web/e2e/project/asset.spec.ts
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
Labels: web

#1315 test(web): fix missing float field test
  web/e2e/project/item/fields/float.spec.ts
Labels: web

#1317 fix(web): avoid redundant queries for unchanged comment values
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Request/Details/Comment.tsx
Labels: web

#1318 fix(web): avoid redundant queries for unchanged reviewers
  web/e2e/project/request.spec.ts
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
Labels: web

#1324 fix(web): styling of metadata column width
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#1325 chore(server): implement mongo git save many
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/mongogit/collection.go
  server/internal/infrastructure/mongo/mongogit/collection_test.go
Labels: server

#1326 chore(server): bulk event to enhance performance
  server/internal/infrastructure/memory/event.go
  server/internal/infrastructure/mongo/event.go
  server/internal/infrastructure/mongo/mongodoc/event.go
  server/internal/usecase/interactor/common.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/repo/event.go
  server/pkg/event/list.go
Labels: server

#1299 feat(server): add JSON export for schema
  server/e2e/integration_schema_export_test.go
  server/e2e/publicapi_test.go
  server/internal/adapter/integration/schema_export.go
  server/internal/adapter/integration/server.gen.go
  server/internal/adapter/publicapi/api.go
  server/internal/adapter/publicapi/schema_export.go
  server/internal/adapter/publicapi/types.go
  server/pkg/exporters/schema_json.go
  server/pkg/exporters/schema_json_test.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#1302 chore(server): Increase domain package unit test coverage (asset and integrationapi)
  server/pkg/asset/asset_test.go
  server/pkg/asset/builder_test.go
  server/pkg/asset/file_test.go
  server/pkg/asset/preview_type_test.go
  server/pkg/asset/status_test.go
  server/pkg/asset/upload_builder_test.go
  server/pkg/asset/upload_test.go
  server/pkg/integrationapi/asset_test.go
  server/pkg/integrationapi/comment_test.go
  server/pkg/integrationapi/condition_test.go
  server/pkg/integrationapi/item_export_test.go
  server/pkg/integrationapi/project_test.go
Labels: server

#1307 chore(server): Increase domain package unit test coverage (integrationapi part 2)
  server/pkg/id/id.go
  server/pkg/id/id_test.go
  server/pkg/id/key_test.go
  server/pkg/integrationapi/event_test.go
  server/pkg/integrationapi/schema_test.go
  server/pkg/item/builder_test.go
Labels: server
