Repository reearth/reearth-cms, pull requests merged in 2024-02, with the labels that each got.

#1049 fix(worker,server): update decompressor
  server/internal/infrastructure/gcp/taskrunner.go
  worker/decompressor.Dockerfile
Labels: server, worker

#1054 fix(web): mvt maximum zoom level
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/imagery.test.ts
Labels: web

#1046 refactor(web): common components
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/CMSWrapper/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1056 refactor(web): workspace member
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/RequestCreationModal/index.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Settings/Integration/convertIntegration.ts
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Members/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/organisms/Workspace/convertWorkspace.ts
Labels: web

#1050 refactor(web): general tasks
  web/src/components/atoms/Loading/index.tsx
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/AccountSettings/GeneralForm.tsx
  web/src/components/molecules/AccountSettings/ServiceForm.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/hooks.ts
  web/src/components/molecules/Asset/Asset/AssetBody/viewerNotSupported.tsx
  web/src/components/molecules/Asset/UploadModal/UploadModal.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/Table/DropdownRender.tsx
  web/src/components/molecules/Content/Table/filterDropdown.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Model/ModelsList/GroupsList.tsx
  web/src/components/molecules/Model/ModelsList/ModelsList.tsx
  web/src/components/molecules/MyIntegrations/CreationModal/index.tsx
  web/src/components/molecules/MyIntegrations/List/CreationAction/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/WebhookCard/index.tsx
  web/src/components/molecules/ProjectSettings/GeneralForm.tsx
  web/src/components/molecules/Request/Details/Comment.tsx
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/molecules/Settings/index.tsx
  web/src/components/molecules/View/viewMenuItem.tsx
  web/src/components/molecules/Workspace/WorkspaceHeader.tsx
  web/src/components/molecules/WorkspaceSettings/GeneralForm.tsx
  web/src/components/organisms/Asset/Asset/index.tsx
  web/src/components/organisms/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1051 refactor(web): item
  web/src/components/molecules/Content/LinkItemModal/hooks.ts
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/hooks.ts
  web/src/components/molecules/Content/RenderField/index.tsx
  web/src/components/molecules/Content/RenderField/itemFormat.tsx
  web/src/components/molecules/Content/Table/DropdownRender/hooks.ts
  web/src/components/molecules/Content/Table/DropdownRender/index.tsx
  web/src/components/molecules/Content/Table/filterDropdown.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1048 refactor(web): the files related to assets and accessibility
  web/src/App.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Accessibility/types.ts
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModal/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldUpdateModal/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Asset/convertAsset.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/state/index.ts
Labels: web

#1060 fix(web): change the default number of items
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1058 chore(server): referenced items resolver
  server/e2e/gql_item_test.go
  server/go.mod
  server/go.sum
  server/gqlgen.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/usecase/interactor/item.go
  server/schemas/item.graphql
Labels: server

#1059 feat(web): implement referenced items resolver
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/utils.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
Labels: web

#1040 feat(web): add e2e testing
  web/.gitignore
  web/e2e/dashboard.spec.ts
  web/e2e/utils/config.ts
  web/e2e/utils/index.ts
  web/e2e/utils/login.ts
  web/e2e/utils/setup.ts
  web/package.json
  web/playwright.config.ts
  web/tsconfig.json
  web/vite.config.ts
  web/yarn.lock
Labels: web

#1065 test(web): add unit tests for utils functions
  web/src/utils/file.test.ts
  web/src/utils/format.test.ts
  web/src/utils/id.test.ts
  web/src/utils/path.test.ts
  web/src/utils/regex.test.ts
  web/src/utils/sort.test.ts
  web/src/utils/stringUtils.test.ts
Labels: web

#1064 refactor(web): referenced items
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1063 refactor(web): group item component
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/AssetField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/BoolField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DateField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DefaultField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/IntegerField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/MarkdownField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/SelectField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/TextareaField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/URLField.tsx
  web/src/components/molecules/Content/Form/index.tsx
Labels: web

#1062 refactor(web): settings, request, and integration components
  web/src/components/molecules/Common/CommentsPanel/index.tsx
  web/src/components/molecules/Member/MemberTable/index.tsx
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/List/Card/index.tsx
  web/src/components/molecules/MyIntegrations/List/index.tsx
  web/src/components/molecules/Request/Details/RequestStatus.tsx
  web/src/components/molecules/Request/List/index.tsx
  web/src/components/organisms/Common/CommentsPanel/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
  web/src/components/organisms/Settings/Members/index.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/components/organisms/Settings/MyIntegrations/hooks.ts
  web/src/components/organisms/Settings/MyIntegrations/index.tsx
Labels: web

#1066 fix(web): use assets data that is the result of the getItemQuery
  web/src/components/molecules/Common/Form/AssetItem/hooks.ts
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/utils.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/item.ts
Labels: web

#1069 fix(web): the behavior of updating group info
  web/src/components/molecules/Schema/FormModal.tsx
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Schema/hooks.ts
Labels: web

#1071 fix(web): some quick fixing and improvements
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/ProjectOverview/index.tsx
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Overview/index.tsx
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1070 fix(web): asset value bugs
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/AssetField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Details/Request.tsx
  web/src/components/molecules/Request/Details/RequestDescription.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/Details/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/AssetField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#1072 fix(web): reduce the queries to get assets
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Request/RequestDetails/index.tsx
  web/src/components/organisms/Project/Schema/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/queries/assets.ts
Labels: web

#1074 feat(web): implement resizable columns on Asset and Request pages
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
Labels: web

#1076 fix(web): include home tab in sidebar on project page
  web/src/components/atoms/InnerContents/basic.tsx
  web/src/components/molecules/Common/ProjectMenu/index.tsx
  web/src/components/molecules/ProjectOverview/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Overview/index.tsx
Labels: web

#1079 fix(web): reference field bugs
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
Labels: web

#1078 fix(server): ja translations
  server/i18n/ja.yml
Labels: server

#1080 fix(web): resolve issues with home tab and asset page comments
  web/src/components/molecules/Common/CommentsPanel/types.ts
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.tsx
  web/src/components/organisms/Account/hooks.ts
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Common/CommentsPanel/index.tsx
  web/src/components/organisms/Project/Asset/Asset/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Request/RequestList/index.tsx
Labels: web

#1081 test(web): add simple, comprehensive, and minimum e2e tests
  web/e2e/common/notification.ts
  web/e2e/general/auth.spec.ts
  web/e2e/general/project.spec.ts
  web/e2e/general/workspace.spec.ts
  web/e2e/project/accessibility.spec.ts
  web/e2e/project/asset.spec.ts
  web/e2e/project/content.spec.ts
  web/e2e/project/overview.spec.ts
  web/e2e/project/request.spec.ts
  web/e2e/project/schema.spec.ts
  web/e2e/project/utils/comment.ts
  web/e2e/project/utils/field.ts
  web/e2e/project/utils/group.ts
  web/e2e/project/utils/item.ts
  web/e2e/project/utils/model.ts
  web/e2e/project/utils/project.ts
  web/e2e/project/utils/workspace.ts
  web/e2e/settings/account.spec.ts
  web/e2e/settings/integrations.spec.ts
  web/e2e/settings/member.spec.ts
  web/e2e/settings/myIntegrations.spec.ts
  web/e2e/settings/settings.spec.ts
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/vite.config.ts
Labels: web

#1082 fix(web): request page bugs
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
Labels: web
