Repository reearth/reearth-cms, pull requests merged in 2024-10, with the labels that each got.

#649 feat(server): find by assets memory infrastructure
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
Labels: server

#1245 feat(web): linked request on item edit page
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/ReferenceItem/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Content/utils.ts
  web/src/components/molecules/Request/Details/RequestStatus.tsx
  web/src/components/molecules/Request/Details/SidebarWrapper.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/molecules/Request/utils.ts
  web/src/components/organisms/DataConverters/content.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1238 fix(server): items' versions in requests
  server/e2e/gql_item_test.go
  server/e2e/gql_request_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_request_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_item.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/mongodoc/request_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/request_test.go
  server/internal/usecase/interfaces/item.go
  server/internal/usecase/repo/Item.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
  server/pkg/request/builder_test.go
  server/pkg/request/item.go
  server/pkg/request/item_test.go
  server/pkg/request/list_test.go
  server/pkg/request/request_test.go
  server/pkg/version/version.go
  server/pkg/version/version_test.go
  server/schemas/request.graphql
Labels: server

#1249 fix(server): importing geoJson fails when it contains null values
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/item_import.go
Labels: server

#1250 fix(web): max size of popover on content page
  web/src/components/molecules/Content/RenderField/index.tsx
  web/src/index.css
Labels: web

#1225 fix(web): correct validation behavior when handling invalid values
  web/e2e/project/item/fields/group.spec.ts
  web/e2e/project/item/fields/int.spec.ts
  web/e2e/project/item/fields/markdown.spec.ts
  web/e2e/project/item/metadata/text.spec.ts
  web/e2e/project/request.spec.ts
  web/package.json
  web/src/components/atoms/Input/index.tsx
  web/src/components/atoms/InputNumber/index.tsx
  web/src/components/atoms/Markdown/index.tsx
  web/src/components/atoms/Password/index.tsx
  web/src/components/atoms/Search/index.tsx
  web/src/components/atoms/TextArea/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Common/CommentsPanel/Editor.tsx
  web/src/components/molecules/Common/Form/GeometryItem/index.tsx
  web/src/components/molecules/Common/Form/utils.ts
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/DefaultField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/GeometryField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/IntegerField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/MarkdownField.tsx
  web/src/components/molecules/Content/Form/fields/FieldComponents/TextareaField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Member/MemberAddModal/index.tsx
  web/src/components/molecules/Member/MemberTable/index.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/Request/Details/Comment.tsx
  web/src/components/molecules/Request/Details/Editor.tsx
  web/src/components/molecules/Request/Details/ItemForm.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/GeometryField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/IntegerField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/Markdown/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextArea/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/TextField/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldDefaultInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/FieldValidationInputs/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/ModelFieldList.tsx
  web/src/components/molecules/Workspace/WorkspaceHeader.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/yarn.lock
Labels: web

#1242 fix(web): items' versions in requests
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/hooks.ts
  web/src/components/molecules/Content/List/index.tsx
  web/src/components/molecules/Content/RequestCreationModal/index.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/DataConverters/content.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Content/hooks.ts
  web/src/gql/fragments/request.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/item.ts
  web/src/gql/queries/requests.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1254 fix(web): workspace name disappears when refreshing page
  web/src/components/molecules/WorkspaceSettings/GeneralForm.tsx
Labels: web

#1253 feat(web): dockerize web application
  .github/workflows/ci_web.yml
  .github/workflows/deploy_test.yml
  .github/workflows/web_build.yml
  web/.dockerignore
  web/Dockerfile
  web/docker/40-envsubst-on-reearth-config.sh
  web/docker/nginx.conf.template
  web/docker/reearth_config.json.template
  web/vite.config.ts
Labels: web, ci

#1258 feat(web): wrap environment variables with '""' for Re:Earth config
  web/Dockerfile
  web/docker/40-envsubst-on-reearth-config.sh
  web/docker/reearth_config.json.template
Labels: web

#1259 fix(server): integration api returns 404 when updating empty model
  server/e2e/integration_item_test.go
  server/e2e/integration_model_test.go
  server/e2e/integration_schema_test.go
  server/internal/adapter/integration/model.go
Labels: server

#928 ci(server): enhance performance
  .github/workflows/build_server.yml
  .github/workflows/build_worker.yml
  .github/workflows/ci.yml
  .github/workflows/ci_server.yml
  .github/workflows/ci_web.yml
  .github/workflows/ci_worker.yml
  .github/workflows/pr.yml
Labels: ci

#1261 feat(server): support CJK in fields keys
  server/e2e/integration_item_test.go
  server/e2e/publicapi_test.go
  server/internal/adapter/gql/gqlmodel/convert_group_test.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/convert_model_test.go
  server/internal/adapter/gql/gqlmodel/convert_schema_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/item_import.go
  server/internal/adapter/integration/item_test.go
  server/internal/adapter/publicapi/types_test.go
  server/internal/infrastructure/memory/group_test.go
  server/internal/infrastructure/memory/model_test.go
  server/internal/infrastructure/mongo/group_test.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/infrastructure/mongo/mongodoc/group.go
  server/internal/infrastructure/mongo/mongodoc/group_test.go
  server/internal/infrastructure/mongo/mongodoc/model.go
  server/internal/infrastructure/mongo/mongodoc/model_test.go
  server/internal/infrastructure/mongo/mongodoc/schema.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/item.go
  server/pkg/exporters/csv_test.go
  server/pkg/exporters/geojson_test.go
  server/pkg/group/builder.go
  server/pkg/group/builder_test.go
  server/pkg/group/group.go
  server/pkg/group/group_test.go
  server/pkg/group/list_test.go
  server/pkg/id/key.go
  server/pkg/id/key_test.go
  server/pkg/item/item_test.go
  server/pkg/item/reference_test.go
  server/pkg/key/key.go
  server/pkg/model/builder.go
  server/pkg/model/builder_test.go
  server/pkg/model/list_test.go
  server/pkg/model/model.go
  server/pkg/model/model_test.go
  server/pkg/schema/corresponding_field.go
  server/pkg/schema/corresponding_field_test.go
  server/pkg/schema/field.go
  server/pkg/schema/field_builder.go
  server/pkg/schema/field_builder_test.go
  server/pkg/schema/field_test.go
  server/pkg/schema/list_test.go
  server/pkg/schema/package_test.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
Labels: server, web

#1262 fix(web): download button is not showing
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
Labels: web

#1265 ci: checks not triggered when code changes
  .github/workflows/ci.yml
Labels: ci

#1257 fix(web): add some missing styling
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Asset/Asset/AssetBody/UnzipFileList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/Schema/FieldModal/index.tsx
Labels: web

#1252 fix(web): toggle ok button on modal for updating field
  web/src/components/molecules/Common/Form/GeometryItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGeometry/index.tsx
  web/src/components/molecules/Schema/FieldModal/hooks.ts
  web/src/components/molecules/Schema/FieldModal/index.tsx
  web/src/components/molecules/Schema/types.ts
Labels: web

#1267 fix(web): incorrect default value for filter
  web/src/components/molecules/Content/Table/DropdownRender/hooks.ts
  web/src/components/molecules/Content/Table/DropdownRender/index.tsx
  web/src/components/molecules/Content/Table/filterDropdown.tsx
Labels: web

#1268 fix(server): all roles should be able to publish item by default
  server/internal/usecase/interactor/project.go
Labels: server

#1270 ci: build workflow was not triggered
  .github/workflows/build_decompressor.yml
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/build_worker.yml
Labels: ci

#1271 ci: build workflows was not triggered
  .github/workflows/build_server.yml
  .github/workflows/build_web.yml
  .github/workflows/build_worker.yml
Labels: ci

#1269 fix(web): add item title and border at bottom of header
  web/e2e/project/content/content.spec.ts
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
Labels: web

#1273 ci: image was not pushed with correct tag
  .github/workflows/build_server.yml
Labels: ci

#1276 ci: add missing `id-token:write` permission for Google Cloud
  .github/workflows/cron_ion_token_test.yml
  .github/workflows/deploy_test.yml
Labels: ci

#1275 ci: update Cesium ION token of `reearth-cms-web` Cloud Run service
  .github/workflows/cron_ion_token_test.yml
Labels: ci

#1278 ci: set go-setup cache key
  .github/workflows/ci_server.yml
  .github/workflows/ci_worker.yml
Labels: ci

#1279 fix(web): add some missing styling
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/sideBarCard.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Common/CommentsPanel/index.tsx
  web/src/components/molecules/Content/Table/DropdownRender/index.tsx
  web/src/components/molecules/Content/Table/filterDropdown.tsx
  web/src/components/molecules/Content/Table/index.tsx
  web/src/components/molecules/Request/List/index.tsx
Labels: web

#1263 feat(server): support float fields
  server/e2e/gql_field_test.go
  server/e2e/gql_item_test.go
  server/e2e/integration_item_test.go
  server/e2e/integration_schema_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/integration/item_import.go
  server/internal/adapter/integration/schema.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/field.graphql
  server/schemas/integration.yml
Labels: server, ci

#1280 fix(server): remove workspaces without settings
  server/internal/adapter/gql/resolver_workspace.go
Labels: server

#1272 fix(web): link to asset and refer to item icons
  web/src/components/atoms/Icon/Icons/arrowUpRightSlash.svg
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Common/LinkAssetModal/LinkAssetModal.tsx
  web/src/components/molecules/Common/ResizableProTable/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/molecules/Content/LinkItemRequestModal/LinkItemRequestModal.tsx
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1264 fix(web): warning occurs when re-referring to an item referenced earlier
  web/src/components/molecules/Common/Form/GroupItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGroup/index.tsx
  web/src/components/molecules/Content/Details/index.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/GroupField.tsx
  web/src/components/molecules/Content/Form/fields/ComplexFieldComponents/ReferenceField.tsx
  web/src/components/molecules/Content/Form/index.tsx
  web/src/components/molecules/Content/LinkItemModal/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
Labels: web

#1260 fix(web): updating metadata from the table is rejected
  web/e2e/project/item/metadata/update.spec.ts
  web/src/components/molecules/Content/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
Labels: web

#1283 fix(server): number field was returned as integer
  server/internal/adapter/gql/gqlmodel/convert_schema.go
  server/internal/adapter/gql/gqlmodel/convert_value.go
Labels: server

#1277 feat(server): implement public api for assets
  server/e2e/publicapi_test.go
  server/internal/adapter/publicapi/api.go
  server/internal/adapter/publicapi/asset.go
  server/internal/adapter/publicapi/types.go
  server/internal/infrastructure/memory/asset_file.go
  server/internal/infrastructure/mongo/asset_file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/list.go
  server/pkg/asset/list_test.go
Labels: server

#1284 fix(server): importing items when it contains id
  server/e2e/gql_field_test.go
  server/e2e/integration_asset_test.go
  server/e2e/integration_item_import_test.go
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/item_import.go
Labels: server

#1286 fix(server): integer/number related min/max props should be nullable
  server/internal/adapter/gql/gqlmodel/convert_schema.go
Labels: server

#1287 chore: update golang dependencies
  go.work.sum
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/resolver__shared.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_field.go
  server/internal/adapter/gql/resolver_group.go
  server/internal/adapter/gql/resolver_integration.go
  server/internal/adapter/gql/resolver_integration_webhook.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_item_view.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/adapter/gql/resolver_schema.go
  server/internal/adapter/gql/resolver_thread.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/gql/resolver_workspace.go
  server/internal/adapter/gql/resolver_workspacesettings.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/types.gen.go
  worker/go.mod
  worker/go.sum
Labels: server, worker

#1289 fix(server): make the default value of number field clearable
  server/pkg/value/number.go
  server/pkg/value/number_test.go
Labels: server

#1214 refactor(server): geojson and csv export
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/item_export.go
  server/internal/adapter/integration/item_export_test.go
  server/internal/adapter/publicapi/csv.go
  server/internal/adapter/publicapi/geojson.go
  server/internal/adapter/publicapi/item_export.go
  server/pkg/exporters/csv.go
  server/pkg/exporters/csv_test.go
  server/pkg/exporters/geojson.go
  server/pkg/exporters/geojson_test.go
  server/pkg/integrationapi/csv.go
  server/pkg/integrationapi/item_export.go
  server/pkg/item/item.go
Labels: server

#1288 feat(web): add user remove button and improve remove users modal
  web/src/components/atoms/Icon/icons.ts
  web/src/components/molecules/Member/MemberTable/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1291 fix(server): request approval should publish the exact version
  server/e2e/gql_item_test.go
  server/e2e/gql_model_test.go
  server/e2e/gql_porject_test.go
  server/e2e/gql_request_test.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/request.go
  server/internal/usecase/interactor/request_test.go
Labels: server

#1292 fix(server): creating item with default group value fails
  server/internal/adapter/integration/convert.go
Labels: server
