Repository reearth/reearth-cms, pull requests merged in 2025-07, with the labels that each got.

#1540 feat(server): Add count objects for items
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/model_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/usecase/repo/Item.go
  server/internal/usecase/repo/integration.go
  server/pkg/item/field.go
  server/pkg/item/field_test.go
  server/pkg/item/item.go
  server/pkg/item/item_test.go
  server/pkg/item/list.go
  server/pkg/item/list_test.go
Labels: server

#1537 feat(server): pass workspace id in context during asset upload
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
  server/internal/infrastructure/mongo/mongodoc/asset_test.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/pkg/asset/builder_test.go
  worker/internal/infrastructure/gcp/gcs.go
Labels: server, worker

#1542 feat(server): add pagination support and accept multiple workspace id for project listing
  server/e2e/internal_project_test.go
  server/internal/adapter/internalapi/internalapimodel/pagination.go
  server/internal/adapter/internalapi/internalapimodel/pagination_test.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/schemas/internalapi/v1/schema.proto
Labels: server

#1543 fix(server): update configuration key names for integration and public origins
  server/internal/app/app.go
  server/internal/app/config.go
Labels: server

#1544 chore(server): update latest reearthx
  go.work.sum
  server/go.mod
  server/go.sum
Labels: server

#1539 fix(server): exported asset should include asset url
  server/e2e/publicapi_test.go
  server/internal/adapter/publicapi/api.go
  server/internal/adapter/publicapi/item.go
  server/internal/adapter/publicapi/item_export.go
  server/internal/adapter/publicapi/types.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interfaces/item.go
  server/pkg/asset/list.go
  server/pkg/exporters/geojson.go
  server/pkg/exporters/geojson_test.go
  server/pkg/integrationapi/item_export.go
  server/pkg/item/map.go
  server/pkg/schema/list.go
Labels: server

#1547 chore(server): update latest reearthx [VIZ-1974]
  server/go.mod
  server/go.sum
Labels: server

#1550 fix(server): separated CORS support for public API and asset serving
  server/e2e/ping_test.go
  server/e2e/publicapi_test.go
  server/internal/app/app.go
  server/internal/app/file.go
Labels: server

#1553 feat(server): add sorting support to find projects by workspaces in internal api
  server/cmd/reearth-cms/main.go
  server/internal/adapter/internalapi/internalapimodel/pagination.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/project.go
  server/schemas/internalapi/v1/schema.proto
Labels: server

#1560 refactor(server): remove operator usage in ItemAsGeoJson
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_test.go
Labels: server

#1563 feat(server): add visibility to create project params
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_project.go
  server/schemas/project.graphql
Labels: server

#1564 fix(server): update asset upload URL to use custom base URL if configured
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
Labels: server

#1566 feat(web): mount public directory in docker build
  web/.dockerignore
  web/Dockerfile
Labels: web

#1557 fix(web): remove unsafe cast and properly type UploadFile
  web/src/components/atoms/Upload/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Schema/import-hooks.ts
Labels: web

#1562 feat(server): enhance project and model queries with keyword and sorting parameters
  server/cmd/reearth-cms/main.go
  server/e2e/integration_model_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/loader_model.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/convert_test.go
  server/internal/adapter/integration/model.go
  server/internal/adapter/integration/project.go
  server/internal/adapter/integration/schema.go
  server/internal/adapter/integration/server.gen.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/auth_client.go
  server/internal/infrastructure/memory/model.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/repo/model.go
  server/internal/usecase/repo/project.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/model/sort.go
  server/schemas/integration.yml
  server/schemas/model.graphql
  server/schemas/project.graphql
Labels: server

#1567 refactor(web): improve import schema handling
  web/src/components/molecules/Schema/ImportSchemaModal/ImportingStep.tsx
  web/src/components/molecules/Schema/ImportSchemaModal/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/Schema/import-hooks.ts
  web/src/components/organisms/Project/Schema/index.tsx
Labels: web

#1569 feat(server): internal api should return owned and public projects
  server/e2e/integration_item_test.go
  server/e2e/integration_project_test.go
  server/e2e/internal_project_test.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/grpc.go
Labels: server

#1570 feat(server): implement M2M API endpoints for asset privacy checks and add integration tests
  server/internal/app/app.go
  server/internal/app/config.go
  server/internal/app/m2m_assets.go
  server/internal/app/m2m_integration_test.go
Labels: server

#1549 feat(server): add policy checker in CMS
  server/.env.example
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/app/config.go
  server/internal/app/repo.go
  server/internal/infrastructure/policy/http_checker.go
  server/internal/infrastructure/policy/http_checker_test.go
  server/internal/infrastructure/policy/permissive_checker.go
  server/internal/infrastructure/policy/permissive_checker_test.go
  server/internal/usecase/gateway/container.go
  server/internal/usecase/gateway/policy_checker.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_policy_test.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_policy_test.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/project.go
Labels: server

#1574 feat(server): Check Project Limits GQL
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/schemas/project.graphql
Labels: server

#1575 chore(web): define new SASS env variables in Dockerfile
  web/Dockerfile
  web/docker/reearth_config.json.template
Labels: web

#1576 fix(web): correct the type of disableWorkspaceUi env var
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/molecules/Common/WorkspaceMenu/index.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/config/index.ts
Labels: web
