Repository reearth/reearth-cms, pull requests merged in 2025-02, with the labels that each got.

#1386 chore(server): add log to import logic
  server/internal/usecase/interactor/item_import.go
Labels: server

#1389 test(web): setup for component test
  web/src/test/setup.ts
  web/vite.config.ts
Labels: web

#1390 fix(server): pass service account to cloud build
  server/.env.example
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1391 fix(server): add default logs bucket behavior to build
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1393 chore(worker): add missing go dependency
  worker/go.sum
Labels: worker

#1394 fix(server): use cloud logging only option with cloud build
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1396 fix(worker): add TLS certificate configuration to copier Dockerfile
  worker/cmd/copier/main.go
  worker/copier.Dockerfile
Labels: worker

#1395 fix(server): use custom service account for decompressor tasks
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1397 fix(server): pass correct env to import task
  server/internal/app/config.go
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1398 feat(server): support Cloud Build worker pool
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1399 fix(server): `pool.name` instead of `workerPool` to specify pool
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1400 fix(server): build pool name with region & worker pool variable
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1401 fix(sever): remove disk size from cloud build options
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1402 fix(server): disable worker pool for asset decompression
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1410 feat(server): keep fields order when importing json/geoJson file
  server/e2e/integration_item_import_test.go
  server/go.mod
  server/go.sum
  server/internal/usecase/interactor/item_import.go
Labels: server

#1411 feat(server): export item fields according to schema order
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/server.gen.go
  server/internal/adapter/publicapi/types.go
  server/pkg/exporters/geojson.go
  server/pkg/exporters/geojson_test.go
  server/pkg/integrationapi/item_export_test.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#1414 fix(server): set mongo collation opt to simple to improve query performance
  server/internal/infrastructure/mongo/mongogit/collection.go
Labels: server

#1415 chore(server): regenerate GQL models for v0.17.66 upgrade
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver__shared.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_field.go
  server/internal/adapter/gql/resolver_group.go
  server/internal/adapter/gql/resolver_integration.go
  server/internal/adapter/gql/resolver_integration_webhook.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_item_view.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/adapter/gql/resolver_schema.go
  server/internal/adapter/gql/resolver_thread.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/gql/resolver_workspace.go
  server/internal/adapter/gql/resolver_workspacesettings.go
Labels: server

#1417 chore(web): change env var name of cesium ion token
  .github/workflows/cron_ion_token_test.yml
  web/.env.example
  web/Dockerfile
  web/docker/reearth_config.json.template
  web/src/config/index.ts
Labels: web, ci

#1419 fix(oss): check why getting invalid JSON
  web/Dockerfile
  web/docker/40-envsubst-on-reearth-config.sh
Labels: web

#1418 perf(server): enhance get items by assets performance
  server/internal/infrastructure/mongo/container.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/mongogit/collection.go
Labels: server

#1422 fix(web): enhance ui of asset detail
  web/src/components/atoms/CopyButton/index.tsx
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/card.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/sideBarCard.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/molecules/Request/Table/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1421 chore(web): remove comment for debug
  web/docker/40-envsubst-on-reearth-config.sh
Labels: web
