Repository reearth/reearth-cms, pull requests merged in 2025-06, with the labels that each got.

#1524 ci(web): fix deploy-web-pr invalid needs
  .github/workflows/ci.yml
Labels: ci

#1526 feat(server): add 2 minutes delay for integration loader
  server/internal/adapter/gql/loader_integration.go
Labels: server

#1529 feat(server): add project visibility migration
  go.work.sum
  server/cmd/db-migrations/main.go
  server/cmd/db-migrations/project_visibility.go
  server/cmd/db-migrations/project_visibility_test.go
Labels: server

#1513 feat(web): implement project accessibility
  web/e2e/project/accessibility.spec.ts
  web/src/App.tsx
  web/src/components/molecules/Accessibility/APIKey/APIKeyTable.tsx
  web/src/components/molecules/Accessibility/APIKey/KeyCell.tsx
  web/src/components/molecules/Accessibility/APIKey/index.tsx
  web/src/components/molecules/Accessibility/APIKeyDetails/index.tsx
  web/src/components/molecules/Accessibility/AccessAPI/AccessAPITable.tsx
  web/src/components/molecules/Accessibility/AccessAPI/index.tsx
  web/src/components/molecules/Accessibility/index.test.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/molecules/Accessibility/types.ts
  web/src/components/molecules/Member/types.ts
  web/src/components/molecules/Model/types.ts
  web/src/components/molecules/ProjectSettings/DangerZone.tsx
  web/src/components/molecules/ProjectSettings/index.test.tsx
  web/src/components/molecules/ProjectSettings/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/CMSWrapper/utils.ts
  web/src/components/organisms/DataConverters/model.ts
  web/src/components/organisms/DataConverters/project.ts
  web/src/components/organisms/Project/Accessibility/APIKeyDetails/hooks.ts
  web/src/components/organisms/Project/Accessibility/APIKeyDetails/index.tsx
  web/src/components/organisms/Project/Accessibility/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/Accessibility/index.tsx
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Overview/hooks.ts
  web/src/components/organisms/Project/Schema/hooks.ts
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Project/settings/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/model.ts
  web/src/gql/queries/project.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
  web/src/utils/object.test.ts
  web/src/utils/object.ts
Labels: web

#1532 ci: disable license check
  .github/workflows/license-check.yml
Labels: ci

#1533 ci(web): set 100% traffic to latest deploy
  .github/workflows/deploy_test.yml
Labels: ci

#1534 chore(server): update to latest reearthx [VIZ-1839]
  go.work.sum
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/http_user_test.go
  server/e2e/integration_item_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/context.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/app/auth_client.go
Labels: server

#1538 fix(web): resolve failing e2e tests
  web/e2e/general/project.spec.ts
  web/e2e/project/accessibility.spec.ts
  web/e2e/project/utils/project.ts
  web/src/components/molecules/Common/CommentsPanel/Comment.test.tsx
Labels: web

#1535 feat(server): internal api new requirements
  server/cmd/reearth-cms/main.go
  server/e2e/internal_project_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_project.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_project.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/integration/project.go
  server/internal/adapter/integration/server.gen.go
  server/internal/adapter/internalapi/internalapimodel/item.go
  server/internal/adapter/internalapi/internalapimodel/model.go
  server/internal/adapter/internalapi/internalapimodel/project.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema.pb.go
  server/internal/adapter/internalapi/schemas/internalapi/v1/schema_grpc.pb.go
  server/internal/adapter/internalapi/server.go
  server/internal/app/auth_client.go
  server/internal/app/grpc.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
  server/internal/usecase/interfaces/project.go
  server/internal/usecase/operator.go
  server/internal/usecase/operator_test.go
  server/internal/usecase/repo/project.go
  server/pkg/exporters/map.go
  server/pkg/integrationapi/project.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/project/builder.go
  server/pkg/project/project.go
  server/pkg/utils/io_buffer.go
  server/pkg/utils/io_buffer_test.go
  server/schemas/integration.yml
  server/schemas/internalapi/v1/schema.proto
  server/schemas/project.graphql
Labels: server
