Repository reearth/reearth-cms, pull requests merged in 2025-01, with the labels that each got.

#1343 fix(web): resolve button disabling issue on request field
  web/src/components/molecules/Schema/FieldModal/FieldCreationModalWithSteps/index.tsx
Labels: web

#1345 fix(web): handling initial values of multiple field
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Schema/types.ts
  web/src/components/organisms/Project/Content/ContentDetails/hooks.ts
  web/src/components/organisms/Project/Content/ContentDetails/utils.ts
Labels: web

#1342 ci(web): set up playwright
  .github/workflows/e2e_web.yml
  web/.gitignore
  web/e2e/auth.setup.ts
  web/e2e/dashboard.spec.ts
  web/e2e/project/accessibility.spec.ts
  web/e2e/project/item/fields/asset.spec.ts
  web/e2e/project/item/metadata/boolean.spec.ts
  web/e2e/project/item/metadata/checkbox.spec.ts
  web/e2e/project/item/metadata/date.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/project/item/metadata/text.spec.ts
  web/e2e/project/item/metadata/url.spec.ts
  web/e2e/project/request.spec.ts
  web/e2e/settings/settings.spec.ts
  web/e2e/utils/config.ts
  web/e2e/utils/login.ts
  web/e2e/utils/setup.ts
  web/playwright.config.ts
Labels: web, ci

#1348 chore(server): enable to set db name from env file
  server/.env.example
  server/internal/app/config.go
  server/internal/app/repo.go
Labels: server

#1347 chore(server): move export csv items and GeoJSON ability to Item Usecase Layer
  server/internal/adapter/integration/item.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_export.go
  server/internal/usecase/interactor/item_export_test.go
  server/internal/usecase/interactor/item_test.go
  server/internal/usecase/interfaces/item.go
Labels: server

#1331 feat(ci,server,worker): implement schemata and items copy
  .github/workflows/build_copier.yml
  .github/workflows/build_worker.yml
  server/e2e/integration_model_test.go
  server/internal/adapter/integration/model.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/infrastructure/gcp/taskrunner_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interfaces/model.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/schema/schema.go
  server/pkg/schema/schema_test.go
  server/pkg/task/task.go
  server/schemas/integration.yml
  worker/Dockerfile
  worker/cmd/copier/main.go
  worker/copier.Dockerfile
  worker/internal/adapter/http/copy.go
  worker/internal/adapter/http/main.go
  worker/internal/app/main.go
  worker/internal/infrastructure/mongo/common_test.go
  worker/internal/infrastructure/mongo/container.go
  worker/internal/infrastructure/mongo/copier.go
  worker/internal/infrastructure/mongo/copier_test.go
  worker/internal/infrastructure/mongo/webhook_test.go
  worker/internal/usecase/interactor/copier.go
  worker/internal/usecase/interactor/usecase.go
  worker/internal/usecase/interactor/webhook.go
  worker/internal/usecase/repo/container.go
  worker/internal/usecase/repo/copier.go
Labels: server, worker, ci

#1350 fix(ci,worker): update context of copier dockerfile to root
  .github/workflows/build_worker.yml
  worker/copier.Dockerfile
Labels: worker, ci

#1351 chore(server): add logging to copier
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/interactor/model.go
Labels: server

#1352 refactor(server): simplify copy logic
  server/internal/usecase/interactor/model.go
Labels: server

#1353 fix(server): Fix switching current user reviewer filter bug
  server/internal/adapter/gql/resolver_request.go
Labels: server

#1354 fix(server): resolve nested transaction issue in schema copy function
  server/.env.example
  server/internal/usecase/interactor/model.go
Labels: server

#1355 fix(server,worker): add database URI as secret env for Cloud Build copy
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/interactor/model.go
  worker/cmd/copier/main.go
Labels: server, worker

#1358 fix(web): resolve selecting new member issue
  web/src/components/molecules/Member/MemberAddModal/index.tsx
Labels: web

#1356 fix(web): styling when long characters are typed
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueSelect/index.tsx
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/WebhookCard/index.tsx
Labels: web

#1359 fix(server): use configurable DB secret name instead of hardcoding
  server/.env.example
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1360 fix(worker): resolve copier dockerfile entry point
  worker/copier.Dockerfile
Labels: worker

#1361 fix(web): add missing styling of linked request
  web/src/components/molecules/Content/Form/SidebarWrapper.tsx
Labels: web

#1362 fix(server-worker): resolve copier's TLS certificate config
  server/internal/infrastructure/gcp/config.go
  worker/cmd/copier/main.go
Labels: server, worker

#1364 fix(server,worker): resolve copier metadata bug
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/pkg/task/task.go
  worker/cmd/copier/main.go
  worker/internal/infrastructure/mongo/copier.go
Labels: server, worker

#1365 fix(worker): resolve parsing ULID in copier
  worker/internal/infrastructure/mongo/copier.go
Labels: worker

#1366 fix(server,worker): timestamp and ULID format
  server/internal/usecase/interactor/model.go
  worker/internal/infrastructure/mongo/copier.go
Labels: server, worker

#1367 fix(web,server,worker): resolve threads bug in copier
  server/go.mod
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_item.go
  server/internal/adapter/gql/gqlmodel/convert_item_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/usecase/interactor/model.go
  server/pkg/item/builder.go
  server/pkg/item/builder_test.go
  server/schemas/item.graphql
  web/src/components/organisms/Project/Content/ContentList/hooks.ts
  worker/internal/infrastructure/mongo/copier.go
Labels: server, web, worker

#1363 feat(server): asset gzip upload
  server/e2e/integration_asset_project_test.go
  server/e2e/integration_asset_test.go
  server/e2e/integration_item_import_test.go
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/loader_integration.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/file.go
  server/pkg/asset/file_builder.go
  server/pkg/file/file.go
  server/pkg/file/file_test.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/asset.graphql
  server/schemas/integration.yml
Labels: server

#1368 feat(web): compress files on asset upload
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/upload.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/assets.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1371 feat(server): command line for import items
  server/.env.example
  server/cmd/reearth-cms/main.go
  server/internal/adapter/integration/item_import.go
  server/internal/adapter/integration/server.gen.go
  server/internal/app/main.go
  server/internal/app/repo.go
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interfaces/item.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/task/task.go
  server/schemas/integration.yml
Labels: server

#1372 feat(server): support integration in import cmd
  server/cmd/reearth-cms/main.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/interactor/item.go
  server/pkg/task/task.go
Labels: server

#1373 fix(server): use correct docker image for items import
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1375 chore(server): fix dockerfile entrypoint
  server/Dockerfile
Labels: server

#1377 fix(server): import cmd config
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1378 fix(server): import cmd config
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1379 fix(server): import cmd config
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1380 chore(server): reduce importer transaction time
  server/internal/usecase/interactor/item.go
Labels: server

#1381 chore(server): add logs to item import cmd
  server/cmd/reearth-cms/main.go
  server/internal/usecase/interactor/item.go
Labels: server

#1382 fix(server): improve import item logic to handle large files
  server/cmd/reearth-cms/main.go
  server/internal/adapter/integration/item_import.go
  server/internal/usecase/interactor/item.go
  server/internal/usecase/interactor/item_import.go
  server/internal/usecase/interfaces/item.go
Labels: server

#1383 fix(server): import issue when importing large file
  server/internal/usecase/interactor/item_import.go
Labels: server
