Repository reearth/reearth-cms, pull requests merged in 2025-09, with the labels that each got.

#1514 test(web): cover more asset related e2e tests
  web/e2e/project/asset/asset.spec.ts
  web/e2e/project/asset/compressed-asset.spec.ts
  web/e2e/project/asset/mock-assets/test.zip
  web/e2e/project/item/fields/asset.spec.ts
  web/e2e/utils/viewer.ts
Labels: web

#1608 feat(server): add profile picture url in getMe
  server/e2e/gql_user_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_user.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/schemas/user.graphql
Labels: server

#1613 feat(server,worker): upgrade reearthx to the latest version
  go.work.sum
  server/go.mod
  server/go.sum
  worker/go.mod
  worker/go.sum
Labels: server, worker

#1618 fix(server): project simple fields update should not be affected by policy
  server/internal/usecase/interactor/project.go
  server/internal/usecase/interactor/project_test.go
Labels: server

#1615 feat(web): add profile image to user avatar
  web/src/components/atoms/UserAvatar/index.tsx
  web/src/components/molecules/Common/Header/Dropdown.tsx
  web/src/components/molecules/Common/Header/index.tsx
  web/src/components/organisms/CMSWrapper/hooks.ts
  web/src/components/organisms/CMSWrapper/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/user.ts
Labels: web

#1636 fix(server): remove SetNoCursorTimeout for MongoDB Atlas compatibility in db-migrations
  go.work.sum
  server/cmd/db-migrations/common.go
Labels: server

#1637 fix(web): integrations page table column display issue
  web/src/components/molecules/Integration/IntegrationTable/index.test.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Integration/index.test.tsx
  web/src/components/molecules/Integration/index.tsx
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Integration/index.tsx
Labels: web

#1640 perf: enable gzip compression for all APIs
  server/internal/app/app.go
Labels: server

#1641 fix(server): fix location field type in public APIs
  server/e2e/publicapi_test.go
  server/internal/adapter/publicapi/types.go
Labels: server
