Repository reearth/reearth-cms, pull requests merged in 2025-03, with the labels that each got.

#1407 feat(web): add support for resources with no threads
  web/src/components/molecules/Asset/types.ts
  web/src/components/molecules/Common/CommentsPanel/types.ts
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Common/CommentsPanel/index.tsx
  web/src/components/organisms/Project/Asset/Asset/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/thread.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1427 fix(server): project alias should be unique system wise
  server/internal/adapter/publicapi/controller.go
  server/internal/infrastructure/memory/project.go
  server/internal/infrastructure/memory/project_test.go
  server/internal/infrastructure/mongo/project.go
  server/internal/infrastructure/mongo/project_test.go
  server/internal/usecase/interactor/project.go
  server/internal/usecase/repo/project.go
Labels: server

#1428 fix(server): use string as default field type in item import
  server/e2e/integration_item_import_test.go
  server/internal/usecase/interactor/item_import.go
Labels: server

#1425 chore(server): item migration
  server/cmd/db-migrations/common.go
  server/cmd/db-migrations/item_migration.go
  server/cmd/db-migrations/item_migration_test.go
  server/cmd/db-migrations/main.go
  server/internal/infrastructure/mongo/mongodoc/item.go
  server/internal/infrastructure/mongo/mongodoc/value.go
  server/internal/infrastructure/mongo/mongodoc/value_test.go
Labels: server

#1424 ci(web): setup to reuse workflow for web e2e test
  .github/workflows/e2e_web.yml
Labels: ci

#1423 feat(server): add sorting for models
  server/e2e/integration_item_test.go
  server/e2e/integration_model_test.go
  server/e2e/integration_schema_export_test.go
  server/e2e/integration_schema_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/convert_test.go
  server/internal/adapter/integration/schema.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/model.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/model_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interfaces/model.go
  server/internal/usecase/repo/model.go
  server/pkg/integrationapi/types.gen.go
  server/pkg/model/sort.go
  server/schemas/integration.yml
Labels: server

#1430 fix(web): prepare e2e test for production environment
  web/e2e/auth.setup.ts
  web/e2e/settings/account/general.spec.ts
Labels: web

#1431 ci(cron-ion-token): remove scheduled cron
  .github/workflows/cron_ion_token_test.yml
Labels: ci

#1432 fix(web): handle the modal for passkey creation for production e2e
  web/e2e/auth.setup.ts
Labels: web

#1429 feat(server): add db-migrations binary to image
  server/Dockerfile
Labels: server

#1433 fix(server): import task should start even when omitting optional fields
  server/internal/infrastructure/gcp/taskrunner.go
Labels: server

#1435 fix(server): import fails when trying to update non-existing item
  server/internal/usecase/interactor/item_import.go
Labels: server

#1436 test(web): use mock data for project alias
  web/e2e/general/project.spec.ts
  web/e2e/project/utils/project.ts
  web/e2e/settings/integrations.spec.ts
  web/e2e/utils/mock.ts
Labels: web

#1437 fix(worker): resolve test units related to resources with no threads
  worker/internal/infrastructure/mongo/copier_test.go
Labels: worker

#1416 ci(deploy): update workload identity details to use PoLP
  .github/workflows/ci.yml
  .github/workflows/deploy_test.yml
Labels: ci

#1438 chore: update go dependencies
  go.work.sum
  server/go.mod
  server/go.sum
  worker/go.mod
  worker/go.sum
Labels: server, worker

#1349 test(web): add component test of accessibility page
  web/src/components/molecules/Accessibility/index.test.tsx
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/components/organisms/Project/Accessibility/index.tsx
Labels: web

#1441 test(web): component tests for home page
  web/src/components/atoms/Loading/index.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.test.tsx
  web/src/components/molecules/Common/WorkspaceCreationModal/index.test.tsx
  web/src/components/molecules/ProjectList/ProjectCard.test.tsx
  web/src/components/molecules/ProjectList/ProjectCard.tsx
  web/src/components/molecules/ProjectList/ProjectList.test.tsx
  web/src/components/molecules/ProjectList/ProjectList.tsx
  web/src/components/molecules/Workspace/CreateProjectButton.test.tsx
  web/src/components/molecules/Workspace/CreateProjectButton.tsx
  web/src/components/molecules/Workspace/CreateWorkspaceButton.test.tsx
  web/src/components/molecules/Workspace/CreateWorkspaceButton.tsx
  web/src/components/molecules/Workspace/Greeting.test.tsx
  web/src/components/molecules/Workspace/Greeting.tsx
  web/src/components/molecules/Workspace/WorkspaceHeader.test.tsx
  web/src/components/molecules/Workspace/WorkspaceHeader.tsx
  web/src/components/molecules/Workspace/index.test.tsx
  web/src/components/molecules/Workspace/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/Workspace/hooks.ts
  web/src/components/organisms/Workspace/index.tsx
Labels: web

#1443 fix(server): project publication token should be stored as null in db
  server/internal/infrastructure/mongo/mongodoc/project.go
  server/internal/infrastructure/mongo/mongodoc/project_test.go
Labels: server

#1442 test(web): component tests for workspace settings page
  web/src/components/molecules/WorkspaceSettings/GeneralForm.test.tsx
  web/src/components/molecules/WorkspaceSettings/index.test.tsx
  web/src/components/organisms/Workspace/Settings/index.tsx
Labels: web

#1445 test(web): component tests for account settings page
  web/src/components/molecules/AccountSettings/DangerZone.test.tsx
  web/src/components/molecules/AccountSettings/DangerZone.tsx
  web/src/components/molecules/AccountSettings/GeneralForm.test.tsx
  web/src/components/molecules/AccountSettings/GeneralForm.tsx
  web/src/components/molecules/AccountSettings/ServiceForm.test.tsx
  web/src/components/molecules/AccountSettings/ServiceForm.tsx
  web/src/components/molecules/AccountSettings/index.test.tsx
  web/src/components/molecules/AccountSettings/index.tsx
  web/src/components/organisms/Account/index.tsx
Labels: web

#1447 test(web): component tests for settings page
  web/src/components/molecules/Settings/Cards.test.tsx
  web/src/components/molecules/Settings/FormModal.test.tsx
  web/src/components/molecules/Settings/FormModal.tsx
  web/src/components/molecules/Settings/index.test.tsx
  web/src/components/molecules/Settings/index.tsx
  web/src/components/molecules/Workspace/types.ts
  web/src/components/organisms/DataConverters/setting.ts
  web/src/components/organisms/Settings/General/hooks.ts
  web/src/components/organisms/Settings/General/index.tsx
Labels: web

#1448 test(web): component tests for integrations page
  web/src/components/molecules/Integration/IntegrationConnectModal/IntegrationCard.test.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/IntegrationCard.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/index.test.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/index.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.test.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.test.tsx
  web/src/components/molecules/Integration/IntegrationTable/index.tsx
  web/src/components/molecules/Integration/index.test.tsx
  web/src/components/molecules/Integration/index.tsx
  web/src/components/molecules/Integration/types.ts
  web/src/components/molecules/MyIntegrations/types.ts
  web/src/components/organisms/Settings/Integration/hooks.ts
  web/src/components/organisms/Settings/Integration/index.tsx
Labels: web

#1450 test(web): component tests for my integration details page
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/settings/integrations.spec.ts
  web/e2e/settings/myIntegrations.spec.ts
  web/package.json
  web/src/components/atoms/Icon/Icons/colorPalette.svg
  web/src/components/molecules/AccountSettings/DangerZone.test.tsx
  web/src/components/molecules/AccountSettings/GeneralForm.test.tsx
  web/src/components/molecules/AccountSettings/ServiceForm.test.tsx
  web/src/components/molecules/Common/Form/AssetItem/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultValueColoredTag/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueAsset/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueBooleanField/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueGeometry/index.tsx
  web/src/components/molecules/Common/MultiValueField/MultiValueSelect/index.tsx
  web/src/components/molecules/Common/MultiValueField/index.tsx
  web/src/components/molecules/Common/ProjectCreationModal/index.test.tsx
  web/src/components/molecules/Common/WorkspaceCreationModal/index.test.tsx
  web/src/components/molecules/Content/Form/ReferenceFormItem/index.tsx
  web/src/components/molecules/Integration/IntegrationConnectModal/index.test.tsx
  web/src/components/molecules/Integration/IntegrationSettingsModal/index.test.tsx
  web/src/components/molecules/Integration/index.test.tsx
  web/src/components/molecules/Member/MemberAddModal/index.test.tsx
  web/src/components/molecules/Member/MemberRoleModal/index.test.tsx
  web/src/components/molecules/Member/MemberTable/index.test.tsx
  web/src/components/molecules/Member/index.test.tsx
  web/src/components/molecules/MyIntegrations/Content/index.test.tsx
  web/src/components/molecules/MyIntegrations/Content/index.tsx
  web/src/components/molecules/MyIntegrations/CreationModal/index.test.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.test.tsx
  web/src/components/molecules/MyIntegrations/Settings/Form.tsx
  web/src/components/molecules/MyIntegrations/Settings/index.test.tsx
  web/src/components/molecules/MyIntegrations/Settings/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.test.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookForm/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/WebhookCard/index.test.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/WebhookCard/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/index.test.tsx
  web/src/components/molecules/MyIntegrations/Webhook/WebhookList/index.tsx
  web/src/components/molecules/MyIntegrations/Webhook/index.test.tsx
  web/src/components/molecules/MyIntegrations/Webhook/index.tsx
  web/src/components/molecules/MyIntegrations/index.test.tsx
  web/src/components/molecules/MyIntegrations/types.ts
  web/src/components/molecules/Settings/FormModal.test.tsx
  web/src/components/molecules/Settings/index.test.tsx
  web/src/components/molecules/Workspace/WorkspaceHeader.test.tsx
  web/src/components/molecules/Workspace/index.test.tsx
  web/src/components/organisms/Settings/MyIntegrationDetails/hooks.ts
  web/src/components/organisms/Settings/MyIntegrationDetails/index.tsx
  web/src/components/organisms/Settings/MyIntegrations/hooks.ts
  web/yarn.lock
Labels: web

#1452 fix(server): importer could not update item from geoJson input
  server/e2e/integration_item_import_test.go
  server/internal/usecase/interactor/item_import.go
Labels: server

#1451 fix(server): default sort direction for schemata
  server/e2e/integration_schema_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/convert_test.go
  server/internal/adapter/integration/schema.go
Labels: server

#1453 chore(worker): fix go mod
  go.work.sum
  worker/go.mod
  worker/go.sum
Labels: worker

#1454 chore(worker): fix go mod
  worker/go.mod
  worker/go.sum
Labels: worker

#1456 fix(web): unstable test for updating metadata
  web/e2e/project/item/metadata/update.spec.ts
Labels: web

#1458 test(web): component tests for project settings page
  web/src/components/molecules/ProjectSettings/GeneralForm.test.tsx
  web/src/components/molecules/ProjectSettings/GeneralForm.tsx
  web/src/components/molecules/ProjectSettings/RequestOptions.test.tsx
  web/src/components/molecules/ProjectSettings/RequestOptions.tsx
  web/src/components/molecules/ProjectSettings/index.test.tsx
  web/src/components/molecules/ProjectSettings/index.tsx
  web/src/components/organisms/Project/settings/hooks.ts
  web/src/components/organisms/Project/settings/index.tsx
Labels: web

#1406 feat(server): Delete Integrations in Batch
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_integration.go
  server/internal/infrastructure/memory/integration.go
  server/internal/infrastructure/memory/integration_test.go
  server/internal/infrastructure/mongo/integration.go
  server/internal/infrastructure/mongo/integration_test.go
  server/internal/usecase/interactor/integration.go
  server/internal/usecase/interactor/integration_test.go
  server/internal/usecase/interfaces/integration.go
  server/internal/usecase/repo/intgration.go
  server/schemas/integration.graphql
Labels: server

#1403 feat(server): support model batch publish
  server/e2e/gql_model_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/interactor/model_test.go
  server/internal/usecase/interfaces/model.go
  server/pkg/model/list.go
  server/pkg/model/list_test.go
  server/schemas/model.graphql
Labels: server

#1385 feat(server): Asset Batch Delete GQL and Integration API
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/common.go
  server/internal/usecase/repo/asset.go
  server/pkg/event/event.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/asset.graphql
  server/schemas/integration.yml
Labels: server

#1459 test(web): component tests for comment panel
  web/e2e/project/asset.spec.ts
  web/e2e/project/content/content.spec.ts
  web/e2e/project/request.spec.ts
  web/src/components/atoms/UserAvatar/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Common/CommentsPanel/Comment.test.tsx
  web/src/components/molecules/Common/CommentsPanel/Comment.tsx
  web/src/components/molecules/Common/CommentsPanel/CommentList.tsx
  web/src/components/molecules/Common/CommentsPanel/Editor.test.tsx
  web/src/components/molecules/Common/CommentsPanel/Editor.tsx
  web/src/components/molecules/Common/CommentsPanel/Thread.tsx
  web/src/components/molecules/Common/CommentsPanel/index.test.tsx
  web/src/components/molecules/Common/CommentsPanel/index.tsx
  web/src/components/molecules/Common/CommentsPanel/types.ts
  web/src/components/molecules/Content/types.ts
  web/src/components/molecules/Request/Details/Comment.tsx
  web/src/components/molecules/Request/Details/CommentList.tsx
  web/src/components/molecules/Request/Details/Thread.tsx
  web/src/components/molecules/Request/types.ts
  web/src/components/organisms/Common/CommentsPanel/hooks.ts
  web/src/components/organisms/Common/CommentsPanel/index.tsx
  web/src/components/organisms/DataConverters/content.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/components/organisms/Project/Content/ContentDetails/index.tsx
  web/src/components/organisms/Project/Content/ContentList/index.tsx
  web/src/components/organisms/Project/Request/RequestDetails/hooks.ts
  web/src/components/organisms/Project/Request/RequestList/index.tsx
Labels: web

#1460 feat(web): support model batch publish
  web/src/components/molecules/Accessibility/index.tsx
  web/src/components/organisms/Project/Accessibility/hooks.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
  web/src/gql/queries/model.ts
Labels: web

#1462 ci: use step-security for changed-files action
  .github/workflows/ci.yml
Labels: ci

#1408 ci(web): add steps to validate nginx config prior image build
  .github/workflows/ci_web.yml
Labels: ci

#1464 ci: introduce auto-author-assign
  .github/workflows/pr.yml
Labels: ci

#1465 fix(server): importer should accept a not valid id
  server/internal/usecase/interactor/item_import.go
Labels: server
