Repository reearth/reearth-cms, pull requests merged in 2025-05, with the labels that each got.

#1490 test(web): fix e2e test failure caused by download success notification
  web/e2e/project/asset.spec.ts
Labels: web

#1493 test(web): fix flaky tests and optimize E2E CI config
  web/e2e/general/project.spec.ts
  web/e2e/project/item/metadata/url.spec.ts
  web/playwright.config.ts
Labels: web

#1494 feat(server): http server optional
  server/.env.example
  server/e2e/common_test.go
  server/internal/app/app.go
  server/internal/app/auth_client.go
  server/internal/app/config.go
  server/internal/app/file.go
  server/internal/app/grpc.go
  server/internal/app/main.go
Labels: server

#1495 refactor(web): optimize cesium viewers with improved performance
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Viewers/CsvViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/CsvViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/Cesium3dTileSetComponent.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/CzmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/GeoJsonComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/KmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/SvgViewer/index.tsx
Labels: web

#1498 refactor(server): asset access info resolver
  server/Makefile
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/loader_asset.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/item.go
  server/internal/adapter/publicapi/asset.go
  server/internal/adapter/publicapi/controller.go
  server/internal/adapter/publicapi/item.go
  server/internal/adapter/publicapi/types.go
  server/internal/adapter/publicapi/types_test.go
  server/internal/app/usecase.go
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/aws/file_test.go
  server/internal/infrastructure/aws/taskrunner.go
  server/internal/infrastructure/aws/webhook.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/infrastructure/gcp/webhook.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/memory/asset_test.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/asset_test.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/list.go
  server/pkg/integrationapi/asset.go
  server/pkg/integrationapi/asset_test.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/event.go
  server/pkg/integrationapi/event_test.go
  server/pkg/integrationapi/value.go
Labels: server

#1467 feat(server): implement group CRUD in integration API
  server/e2e/integration_group_test.go
  server/e2e/integration_item_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/convert_test.go
  server/internal/adapter/integration/group.go
  server/internal/adapter/integration/server.gen.go
  server/internal/infrastructure/memory/group.go
  server/internal/infrastructure/mongo/group.go
  server/internal/usecase/interactor/group.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interfaces/group.go
  server/internal/usecase/interfaces/schema.go
  server/internal/usecase/repo/group.go
  server/pkg/group/id.go
  server/pkg/group/sort.go
  server/pkg/integrationapi/group.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#1500 fix(web): add null check before calling onGetViewer in ResiumViewer
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
Labels: web

#1496 ci: add deploy to reearth-cms-internal-api
  .github/workflows/deploy_test.yml
Labels: ci

#1499 fix(web): resolve viewer timing issues in MVT viewer
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewModal.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/waitForViewer.ts
  web/src/components/molecules/Asset/Viewers/CsvViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/Cesium3dTileSetComponent.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/CzmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/GeoJsonComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/KmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
Labels: web

#1501 test(web): change the number of workers on CI from 2 to 4
  .github/workflows/e2e_web.yml
  web/playwright.config.ts
Labels: web, ci

#1503 fix(web): introduce startup delay to Asset page before loading content
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/waitForViewer.ts
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/Cesium3dTileSetComponent.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
Labels: web

#1505 test(server): enhance server setup for HTTP and gRPC in tests
  server/e2e/common_test.go
  server/e2e/integration_item_test.go
  server/e2e/internal_project_test.go
  server/internal/app/main.go
Labels: server

#1506 fix(web): ensure stable viewerType detection after asset data is resolved
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/previewToolbar.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
Labels: web

#1502 feat(server): Remove integrations from workspace
  go.work.sum
  server/e2e/gql_workspace_test.go
  server/go.mod
  server/go.sum
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver__shared.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_field.go
  server/internal/adapter/gql/resolver_group.go
  server/internal/adapter/gql/resolver_integration.go
  server/internal/adapter/gql/resolver_integration_webhook.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_item_view.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/adapter/gql/resolver_schema.go
  server/internal/adapter/gql/resolver_thread.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/gql/resolver_workspace.go
  server/internal/adapter/gql/resolver_workspacesettings.go
  server/schemas/workspace.graphql
Labels: server

#1507 feat(server): add HTTP Basic Auth for health
  server/.env.example
  server/internal/app/config.go
  server/internal/app/health.go
Labels: server

#1508 fix(server): Fix inconsistent e2e tests
  server/e2e/integration_item_import_test.go
  server/e2e/internal_project_test.go
Labels: server

#1509 fix(web): handle destroyed cesium viewer with retry and remount
  web/src/components/atoms/ResiumViewer/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/waitForViewer.ts
  web/src/components/molecules/Asset/Viewers/CsvViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/CsvViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/Cesium3dTileSetComponent.tsx
  web/src/components/molecules/Asset/Viewers/Geo3dViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/CzmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/GeoJsonComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/KmlComponent.tsx
  web/src/components/molecules/Asset/Viewers/GeoViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/GltfViewer/index.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/Imagery.tsx
  web/src/components/molecules/Asset/Viewers/MvtViewer/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
Labels: web

#1461 feat(server): GuessSchemaFields which guess schema field data from asset to schema fields
  server/e2e/gql_field_test.go
  server/i18n/en.yml
  server/i18n/ja.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_fields.go
  server/internal/adapter/gql/gqlmodel/convert_fields_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/adapter/gql/resolver_field.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/item_import.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interactor/schema_test.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/interfaces/schema.go
  server/pkg/asset/common.go
  server/pkg/schema/guess.go
  server/pkg/schema/guess_test.go
  server/pkg/utils/io.go
  server/pkg/utils/io_test.go
  server/schemas/field.graphql
Labels: server
