Repository reearth/reearth-cms, pull requests merged in 2025-04, with the labels that each got.

#1468 fix(server): return empty asset response when signed upload url is not supported
  server/internal/adapter/gql/resolver_asset.go
Labels: server

#1466 feat(server): implement project CRUD in integration API
  server/e2e/integration_project_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/convert_test.go
  server/internal/adapter/integration/project.go
  server/internal/adapter/integration/server.gen.go
  server/pkg/integrationapi/project.go
  server/pkg/integrationapi/project_test.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server

#1413 refactor(server, worker): schemata copy function
  server/internal/infrastructure/memory/item.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/item_test.go
  server/internal/usecase/interactor/model.go
  server/internal/usecase/repo/Item.go
  worker/internal/infrastructure/mongo/common_test.go
  worker/internal/infrastructure/mongo/copier_test.go
Labels: server, worker

#1471 chore(worker): tidy up Go module dependencies
  go.work.sum
  worker/go.mod
  worker/go.sum
Labels: worker

#1472 ci: check go mod tidiness
  .github/workflows/ci_server.yml
  .github/workflows/ci_worker.yml
Labels: server, ci

#1473 chore(ci,server): generate gql files and add CI check for gqlgen
  .github/workflows/ci_server.yml
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/resolver__shared.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/gql/resolver_field.go
  server/internal/adapter/gql/resolver_group.go
  server/internal/adapter/gql/resolver_integration.go
  server/internal/adapter/gql/resolver_integration_webhook.go
  server/internal/adapter/gql/resolver_item.go
  server/internal/adapter/gql/resolver_item_view.go
  server/internal/adapter/gql/resolver_model.go
  server/internal/adapter/gql/resolver_project.go
  server/internal/adapter/gql/resolver_request.go
  server/internal/adapter/gql/resolver_schema.go
  server/internal/adapter/gql/resolver_thread.go
  server/internal/adapter/gql/resolver_user.go
  server/internal/adapter/gql/resolver_workspace.go
  server/internal/adapter/gql/resolver_workspacesettings.go
Labels: server, ci

#1476 fix(server): Fix reversed lat long in csv import
  server/e2e/integration_item_test.go
  server/e2e/publicapi_test.go
  server/internal/usecase/interactor/item_test.go
  server/pkg/exporters/csv.go
  server/pkg/exporters/csv_test.go
Labels: server

#1477 ci: add golang license checker
  .github/workflows/license-check.yml
Labels: ci

#1478 fix(web): stabilize e2e tests
  web/e2e/auth.setup.ts
  web/e2e/general/auth.spec.ts
  web/e2e/general/project.spec.ts
  web/e2e/project/accessibility.spec.ts
  web/e2e/project/asset.spec.ts
  web/e2e/project/content/content.spec.ts
  web/e2e/project/content/version.spec.ts
  web/e2e/project/content/view.spec.ts
  web/e2e/project/item/fields/asset.spec.ts
  web/e2e/project/item/fields/boolean.spec.ts
  web/e2e/project/item/fields/date.spec.ts
  web/e2e/project/item/fields/float.spec.ts
  web/e2e/project/item/fields/geometryObject.spec.ts
  web/e2e/project/item/fields/group.spec.ts
  web/e2e/project/item/fields/int.spec.ts
  web/e2e/project/item/fields/markdown.spec.ts
  web/e2e/project/item/fields/option.spec.ts
  web/e2e/project/item/fields/reference.spec.ts
  web/e2e/project/item/fields/text.spec.ts
  web/e2e/project/item/fields/textarea.spec.ts
  web/e2e/project/item/fields/url.spec.ts
  web/e2e/project/item/metadata/boolean.spec.ts
  web/e2e/project/item/metadata/checkbox.spec.ts
  web/e2e/project/item/metadata/date.spec.ts
  web/e2e/project/item/metadata/tag.spec.ts
  web/e2e/project/item/metadata/text.spec.ts
  web/e2e/project/item/metadata/update.spec.ts
  web/e2e/project/item/metadata/url.spec.ts
  web/e2e/project/overview.spec.ts
  web/e2e/project/request.spec.ts
  web/e2e/project/schema.spec.ts
  web/e2e/project/utils/group.ts
  web/e2e/project/utils/model.ts
  web/e2e/project/utils/project.ts
  web/e2e/settings/settings.spec.ts
  web/playwright.config.ts
  web/src/components/molecules/Settings/index.test.tsx
  web/src/components/molecules/Settings/index.tsx
  web/src/components/organisms/Settings/General/hooks.ts
  web/src/components/organisms/Settings/General/index.tsx
Labels: web

#1480 style(server, worker): format code for consistency and readability
  server/e2e/integration_item_test.go
  server/e2e/integration_project_test.go
  server/internal/adapter/gql/gqlmodel/convert_request_test.go
  server/internal/adapter/gql/gqlmodel/convert_thread_test.go
  server/internal/adapter/integration/convert.go
  server/internal/adapter/integration/project.go
  server/internal/adapter/integration/server.cfg.yml
  server/internal/adapter/publicapi/item_export.go
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/memory/asset_file.go
  server/internal/infrastructure/memory/item_test.go
  server/internal/infrastructure/memory/workspacesettings.go
  server/internal/infrastructure/mongo/item.go
  server/internal/infrastructure/mongo/model.go
  server/internal/infrastructure/mongo/mongodoc/workspacesettings_test.go
  server/internal/infrastructure/mongo/workspacesettings.go
  server/internal/infrastructure/mongo/workspacesettings_test.go
  server/internal/usecase/interactor/workspacesettings.go
  server/internal/usecase/interfaces/view.go
  server/pkg/item/view/list_test.go
  server/pkg/item/view/view_test.go
  server/pkg/request/item.go
  server/pkg/schema/field_checkbox_test.go
  server/pkg/schema/field_geometry_editor.go
  server/pkg/schema/field_geometry_validation.go
  server/pkg/schema/field_geometry_validation_test.go
  server/pkg/schema/field_group_test.go
  server/pkg/schema/field_tag_color_test.go
  server/pkg/schema/field_tag_test.go
  server/pkg/thread/comment_test.go
  server/pkg/value/group_test.go
  server/pkg/version/version.go
  server/pkg/workspacesettings/cesiumprops.go
  server/pkg/workspacesettings/cesiumprops_test.go
  server/pkg/workspacesettings/resource.go
  server/pkg/workspacesettings/resource_test.go
  server/pkg/workspacesettings/resourcelist.go
  server/pkg/workspacesettings/resourcelist_test.go
  server/pkg/workspacesettings/terrain.go
  server/pkg/workspacesettings/terrain_test.go
  server/pkg/workspacesettings/tile_test.go
  server/pkg/workspacesettings/urlprops.go
  server/pkg/workspacesettings/workspacsettings.go
  worker/internal/usecase/gateway/file.go
Labels: server, worker

#1481 ci: add go fmt check to server and worker workflows
  .github/workflows/ci_server.yml
  .github/workflows/ci_worker.yml
Labels: ci

#1303 feat(server): asset url management
  server/.env.example
  server/e2e/common_test.go
  server/e2e/gql_user_test.go
  server/e2e/gql_workspace_test.go
  server/e2e/http_user_test.go
  server/e2e/integration_asset_test.go
  server/e2e/integration_item_test.go
  server/e2e/publicapi_test.go
  server/internal/adapter/gql/resolver_asset.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/integration/server.gen.go
  server/internal/app/app.go
  server/internal/app/config.go
  server/internal/app/file.go
  server/internal/app/repo.go
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/aws/taskrunner.go
  server/internal/infrastructure/fs/common.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/memory/asset.go
  server/internal/infrastructure/mongo/asset.go
  server/internal/infrastructure/mongo/mongodoc/asset.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/internal/usecase/repo/asset.go
  server/pkg/asset/asset.go
  server/pkg/asset/builder.go
  server/pkg/integrationapi/asset.go
  server/pkg/integrationapi/types.gen.go
  server/schemas/integration.yml
Labels: server, web, ci

#1482 fix(server): correct typo in Asset_Public default value
  server/internal/app/config.go
Labels: server

#1479 ci: add npm license checker
  .github/workflows/license-check.yml
Labels: ci

#1483 ci: add go license check for worker and server
  .github/workflows/license-check.yml
Labels: web, worker, ci

#1475 feat(server): bulk create schema fields gql mutation
  server/e2e/gql_field_test.go
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/resolver_field.go
  server/internal/usecase/interactor/schema.go
  server/internal/usecase/interactor/schema_test.go
  server/internal/usecase/interfaces/schema.go
  server/pkg/utils/ptr.go
  server/pkg/utils/ptr_test.go
  server/schemas/field.graphql
Labels: server

#1463 ci(server,worker): utilize go.mod for go version
  .github/workflows/ci_server.yml
  .github/workflows/ci_worker.yml
Labels: ci

#1484 feat(web): include JWT token in asset download requests
  web/src/components/atoms/DownloadButton/index.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/Asset.tsx
  web/src/components/molecules/Asset/Asset/AssetBody/index.tsx
  web/src/components/molecules/Asset/AssetList/index.tsx
  web/src/components/molecules/Asset/AssetListTable/index.tsx
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/Asset/index.tsx
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/index.tsx
  web/src/gql/index.ts
  web/src/gql/useAuthHeader.ts
  web/src/i18n/translations/en.yml
  web/src/i18n/translations/ja.yml
Labels: web

#1488 fix(server): add asset public field in GQL schema
  server/internal/adapter/gql/generated.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/gql/gqlmodel/models_gen.go
  server/internal/infrastructure/mongo/mongodoc/asset_test.go
  server/pkg/asset/asset.go
  server/pkg/asset/builder_test.go
  server/schemas/asset.graphql
Labels: server

#1489 fix(server): correctly determine and return asset URL publicity
  server/e2e/common_test.go
  server/e2e/integration_asset_test.go
  server/internal/adapter/gql/gqlmodel/convert_asset.go
  server/internal/adapter/gql/gqlmodel/convert_asset_test.go
  server/internal/adapter/integration/asset.go
  server/internal/adapter/publicapi/types.go
  server/internal/adapter/publicapi/types_test.go
  server/internal/app/repo.go
  server/internal/infrastructure/aws/file.go
  server/internal/infrastructure/aws/file_test.go
  server/internal/infrastructure/aws/taskrunner.go
  server/internal/infrastructure/fs/file.go
  server/internal/infrastructure/fs/file_test.go
  server/internal/infrastructure/gcp/config.go
  server/internal/infrastructure/gcp/file.go
  server/internal/infrastructure/gcp/file_test.go
  server/internal/infrastructure/gcp/taskrunner.go
  server/internal/usecase/gateway/file.go
  server/internal/usecase/interactor/asset.go
  server/internal/usecase/interactor/asset_test.go
  server/internal/usecase/interfaces/asset.go
  server/pkg/asset/asset.go
  server/pkg/integrationapi/asset.go
  server/pkg/integrationapi/asset_test.go
  server/pkg/integrationapi/convert.go
  server/pkg/integrationapi/event_test.go
  server/pkg/integrationapi/value.go
Labels: server

#1487 fix(web): send JWT only with private assets
  web/src/components/molecules/Asset/types.ts
  web/src/components/organisms/DataConverters/content.ts
  web/src/components/organisms/Project/Asset/Asset/hooks.ts
  web/src/components/organisms/Project/Asset/AssetList/hooks.ts
  web/src/gql/fragments/asset.ts
  web/src/gql/graphql-client-api.tsx
  web/src/gql/graphql.schema.json
Labels: web

#1486 refactor(server): restructure serveFiles handler
  server/.env.example
  server/internal/app/file.go
Labels: server
